src/main/resources/grunnboksutskriftinternv2/GrunnboksutskriftInternServiceWS12.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xs:schema xmlns:tns="http://kartverket.no/grunnbok/wsapi/v2/exception" xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/exception">

<xs:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" schemaLocation="GrunnboksutskriftInternServiceWS18.xsd"/>

<xs:element name="ServiceException" nillable="true" type="tns:ServiceFaultInfo"/>

<xs:complexType name="ServiceFaultInfo">
<xs:sequence>
<xs:element name="category" type="xs:string"/>
<xs:element name="stackTraceText" type="xs:string"/>
<xs:element name="exceptionDetail" type="tns:ExceptionDetail"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExceptionDetail">
<xs:sequence>
<xs:element name="className" type="xs:string"/>
<xs:element name="message" type="xs:string"/>
<xs:element name="cause" type="tns:ExceptionDetail" nillable="true"/>
<xs:element name="stackTraceElements" type="tns:StackTraceElementList"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="StackTraceElementList">
<xs:sequence>
<xs:element name="item" type="tns:StackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="StackTraceElement">
<xs:sequence>
<xs:element name="declaringClass" type="xs:string"/>
<xs:element name="methodName" type="xs:string"/>
<xs:element name="fileName" type="xs:string" nillable="true"/>
<xs:element name="lineNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LockedFaultInfo">
<xs:complexContent>
<xs:extension base="tns:ServiceFaultInfo">
<xs:sequence>
<xs:element name="locksNotAquired" type="tns:LockNotAquiredList"/>
<xs:element name="owner" type="xs:string"/>
<xs:element name="exceptionTime" type="ns1:Timestamp"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="LockNotAquiredList">
<xs:sequence>
<xs:element name="item" type="tns:LockNotAquired" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LockNotAquired">
<xs:sequence>
<xs:element name="lockKey">
<xs:complexType>
<xs:sequence>
<xs:element name="discriminator" type="xs:string"/>
<xs:element name="keyValue" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="owner" type="xs:string"/>
<xs:element name="expires" type="ns1:Timestamp"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObjectsNotFoundFaultInfo">
<xs:complexContent>
<xs:extension base="tns:ServiceFaultInfo">
<xs:sequence>
<xs:element name="idsNotFound" type="ns1:GrunnbokBubbleObjectIdList"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AttemptDeleteFaultInfo">
<xs:complexContent>
<xs:extension base="tns:ServiceFaultInfo">
<xs:sequence>
<xs:element name="bubbleId" type="ns1:GrunnbokBubbleObjectId"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>
