src/main/resources/grunnboksutskriftinternv2/GrunnboksutskriftInternServiceWS18.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xs:schema xmlns:tns="http://kartverket.no/grunnbok/wsapi/v2/domain/saksbehandling" xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/domain/saksbehandling">

<xs:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" schemaLocation="GrunnboksutskriftInternServiceWS17.xsd"/>

<xs:complexType name="FullmaktsavtaleId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokBubbleObjectId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="GrunnboksutskriftId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokObjectWithHistoryId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="SaksloggId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokObjectWithHistoryId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="SvarbrevId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokObjectWithHistoryId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="SatsId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokObjectWithHistoryId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="RettsstiftelseSaksbehandlingId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokObjectWithHistoryId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="RettsstiftelsestypeSaksbehandlingId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokObjectWithHistoryId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="SaksloggEntryId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokObjectWithHistoryId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="FakturagrunnlagId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokObjectWithHistoryId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DokumentSaksbehandlingId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokObjectWithHistoryId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="SakId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokObjectWithHistoryId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="RettesakId">
<xs:complexContent>
<xs:extension base="tns:SakId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>
