src/main/resources/grunnboksutskriftinternv2/GrunnboksutskriftInternServiceWS14.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xs:schema xmlns:ns2="http://kartverket.no/grunnbok/wsapi/v2/domain/kodeliste" xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/domain/melding">

<xs:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" schemaLocation="GrunnboksutskriftInternServiceWS18.xsd"/>

<xs:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/kodeliste" schemaLocation="GrunnboksutskriftInternServiceWS15.xsd"/>

<xs:complexType name="RegistreringPaaRegisterenhetId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokBubbleObjectId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="RettsstiftelsestypebegrensningId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokBubbleObjectId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="TinglysingBrukerId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokBubbleObjectId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="MeldingId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokBubbleObjectId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BegrunnelsestypeKodeId">
<xs:complexContent>
<xs:extension base="ns2:KodeId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="KontrolltypeKodeId">
<xs:complexContent>
<xs:extension base="ns2:KodeId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="FormidlerId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokBubbleObjectId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>
