src/main/resources/grunnboksutskriftinternv2/GrunnboksutskriftInternServiceWS6.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xs:schema xmlns:tns="http://kartverket.no/grunnbok/wsapi/v2/domain/register/person" xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/person">

<xs:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" schemaLocation="GrunnboksutskriftInternServiceWS18.xsd"/>

<xs:complexType name="PersonId">
<xs:complexContent>
<xs:extension base="ns1:GrunnbokObjectWithHistoryId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JuridiskPersonId">
<xs:complexContent>
<xs:extension base="tns:PersonId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="FysiskPersonId">
<xs:complexContent>
<xs:extension base="tns:PersonId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="LoepenummerPersonId">
<xs:complexContent>
<xs:extension base="tns:PersonId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>
