src/main/resources/grunnboksutskriftinternv2/GrunnboksutskriftInternServiceWS24.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xs:schema xmlns:tns="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/heftelse" xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/heftelse">

<xs:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse" schemaLocation="GrunnboksutskriftInternServiceWS3.xsd"/>

<xs:complexType name="HeftelseId">
<xs:complexContent>
<xs:extension base="ns1:RettsstiftelseId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="HeftelseIAnnenRettId">
<xs:complexContent>
<xs:extension base="tns:HeftelseId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="TvangsforretningIRettighetId">
<xs:complexContent>
<xs:extension base="tns:HeftelseIAnnenRettId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="HeftelseIRettighetId">
<xs:complexContent>
<xs:extension base="tns:HeftelseIAnnenRettId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="HeftelseIRegisterenhetsrettId">
<xs:complexContent>
<xs:extension base="tns:HeftelseId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ServituttId">
<xs:complexContent>
<xs:extension base="tns:HeftelseIRegisterenhetsrettId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="NektetRettsstiftelseId">
<xs:complexContent>
<xs:extension base="tns:HeftelseIRegisterenhetsrettId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="VilkaarIFestekontraktId">
<xs:complexContent>
<xs:extension base="tns:HeftelseIRegisterenhetsrettId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AvtaleId">
<xs:complexContent>
<xs:extension base="tns:HeftelseIRegisterenhetsrettId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ServituttPengeheftelseId">
<xs:complexContent>
<xs:extension base="tns:HeftelseIRegisterenhetsrettId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AnnenHeftelseId">
<xs:complexContent>
<xs:extension base="tns:HeftelseIRegisterenhetsrettId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AnnenRettighetId">
<xs:complexContent>
<xs:extension base="tns:HeftelseIRegisterenhetsrettId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="LeieavtaleId">
<xs:complexContent>
<xs:extension base="tns:AnnenRettighetId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="FremleieavtaleId">
<xs:complexContent>
<xs:extension base="tns:LeieavtaleId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AnkeId">
<xs:complexContent>
<xs:extension base="tns:HeftelseIRegisterenhetsrettId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="HeftelseMedBeloepId">
<xs:complexContent>
<xs:extension base="tns:HeftelseIRegisterenhetsrettId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="PantId">
<xs:complexContent>
<xs:extension base="tns:HeftelseMedBeloepId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="NotertPantId">
<xs:complexContent>
<xs:extension base="tns:HeftelseMedBeloepId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="NotertTvangspantId">
<xs:complexContent>
<xs:extension base="tns:NotertPantId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="TvangsforretningId">
<xs:complexContent>
<xs:extension base="tns:HeftelseMedBeloepId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>
