src/main/resources/grunnboksutskriftinternv2/GrunnboksutskriftInternServiceWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift" name="GrunnboksutskriftInternServiceWS">
<wsp:UsingPolicy wssutil:Required="true"/>
<wsp1_2:Policy wssutil:Id="Mtom.xml">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
</wsp1_2:Policy>
<wsp:Policy wssutil:Id="GrunnboksutskriftInternServicePortBinding_MTOM_Policy-GrunnboksutskriftInternServicePortBinding_MTOM_Policy">
<ns2:OptimizedMimeSerialization xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift" schemaLocation="GrunnboksutskriftInternServiceWS1.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/exception" schemaLocation="../grunnbokv2/exception.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/saksinformasjon" schemaLocation="../grunnbokv2/register_saksinformasjon.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/rettsendring" schemaLocation="../grunnbokv2/register_rettsstiftelse_rettsendring.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="../grunnbokv2/register_rettsstiftelse_registerenhetsendring.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="../grunnbokv2/register_rettsstiftelse_personkoblingsendring.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/overdragelse" schemaLocation="../grunnbokv2/register_rettsstiftelse_overdragelse.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/heftelse" schemaLocation="../grunnbokv2/register_rettsstiftelse_heftelse.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/anmerkning" schemaLocation="../grunnbokv2/register_rettsstiftelse_anmerkning.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse" schemaLocation="../grunnbokv2/register_rettsstiftelse.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registrering" schemaLocation="../grunnbokv2/register_registrering.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registerenhet" schemaLocation="../grunnbokv2/register_registerenhet.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/person" schemaLocation="../grunnbokv2/register_person.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/koder" schemaLocation="../grunnbokv2/register_koder.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/journalpost" schemaLocation="../grunnbokv2/register_journalpost.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/dokument" schemaLocation="../grunnbokv2/register_dokument.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/bruker" schemaLocation="../grunnbokv2/register_bruker.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/adresse" schemaLocation="../grunnbokv2/register_adresse.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register" schemaLocation="../grunnbokv2/register.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/kodeliste" schemaLocation="../grunnbokv2/kodeliste.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/grunnboksidenter" schemaLocation="../grunnbokv2/grunnboksidenter.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/endringslogg" schemaLocation="../grunnbokv2/endringslogg.xsd"/>
</xsd:schema>
<xsd:schema>
    <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" schemaLocation="../grunnbokv2/basistyper.xsd"/>
</xsd:schema>
</types>
<message name="ubekreftetHistoriskGrunnboksutskrift">
<part name="parameters" element="tns:ubekreftetHistoriskGrunnboksutskrift"/>
</message>
<message name="ubekreftetHistoriskGrunnboksutskriftResponse">
<part name="parameters" element="tns:ubekreftetHistoriskGrunnboksutskriftResponse"/>
</message>
<message name="ServiceException">
<part xmlns:ns3="http://kartverket.no/grunnbok/wsapi/v2/exception" name="fault" element="ns3:ServiceException"/>
</message>
<message name="delAvGrunnboksutskriftOverdragelser">
<part name="parameters" element="tns:delAvGrunnboksutskriftOverdragelser"/>
</message>
<message name="delAvGrunnboksutskriftOverdragelserResponse">
<part name="parameters" element="tns:delAvGrunnboksutskriftOverdragelserResponse"/>
</message>
<message name="delAvGrunnboksutskriftTidligereOverdragelser">
<part name="parameters" element="tns:delAvGrunnboksutskriftTidligereOverdragelser"/>
</message>
<message name="delAvGrunnboksutskriftTidligereOverdragelserResponse">
<part name="parameters" element="tns:delAvGrunnboksutskriftTidligereOverdragelserResponse"/>
</message>
<message name="delAvGrunnboksutskriftTidligereHeftelser">
<part name="parameters" element="tns:delAvGrunnboksutskriftTidligereHeftelser"/>
</message>
<message name="delAvGrunnboksutskriftTidligereHeftelserResponse">
<part name="parameters" element="tns:delAvGrunnboksutskriftTidligereHeftelserResponse"/>
</message>
<message name="bekreftetHistoriskGrunnboksutskriftPdf">
<part name="parameters" element="tns:bekreftetHistoriskGrunnboksutskriftPdf"/>
</message>
<message name="bekreftetHistoriskGrunnboksutskriftPdfResponse">
<part name="parameters" element="tns:bekreftetHistoriskGrunnboksutskriftPdfResponse"/>
</message>
<message name="delAvGrunnboksutskriftRegisterenhetsendringer">
<part name="parameters" element="tns:delAvGrunnboksutskriftRegisterenhetsendringer"/>
</message>
<message name="delAvGrunnboksutskriftRegisterenhetsendringerResponse">
<part name="parameters" element="tns:delAvGrunnboksutskriftRegisterenhetsendringerResponse"/>
</message>
<message name="ubekreftetHistoriskGrunnboksutskriftHtml">
<part name="parameters" element="tns:ubekreftetHistoriskGrunnboksutskriftHtml"/>
</message>
<message name="ubekreftetHistoriskGrunnboksutskriftHtmlResponse">
<part name="parameters" element="tns:ubekreftetHistoriskGrunnboksutskriftHtmlResponse"/>
</message>
<message name="ubekreftetGrunnboksutskrift">
<part name="parameters" element="tns:ubekreftetGrunnboksutskrift"/>
</message>
<message name="ubekreftetGrunnboksutskriftResponse">
<part name="parameters" element="tns:ubekreftetGrunnboksutskriftResponse"/>
</message>
<message name="grunnboksutskriftInfo">
<part name="parameters" element="tns:grunnboksutskriftInfo"/>
</message>
<message name="grunnboksutskriftInfoResponse">
<part name="parameters" element="tns:grunnboksutskriftInfoResponse"/>
</message>
<message name="ubekreftetGrunnboksutskriftHtml">
<part name="parameters" element="tns:ubekreftetGrunnboksutskriftHtml"/>
</message>
<message name="ubekreftetGrunnboksutskriftHtmlResponse">
<part name="parameters" element="tns:ubekreftetGrunnboksutskriftHtmlResponse"/>
</message>
<message name="delAvGrunnboksutskriftHeftelser">
<part name="parameters" element="tns:delAvGrunnboksutskriftHeftelser"/>
</message>
<message name="delAvGrunnboksutskriftHeftelserResponse">
<part name="parameters" element="tns:delAvGrunnboksutskriftHeftelserResponse"/>
</message>
<message name="bekreftetGrunnboksutskriftPdf">
<part name="parameters" element="tns:bekreftetGrunnboksutskriftPdf"/>
</message>
<message name="bekreftetGrunnboksutskriftPdfResponse">
<part name="parameters" element="tns:bekreftetGrunnboksutskriftPdfResponse"/>
</message>
<portType name="GrunnboksutskriftInternService">
<operation name="ubekreftetHistoriskGrunnboksutskrift">
<input wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/ubekreftetHistoriskGrunnboksutskriftRequest" message="tns:ubekreftetHistoriskGrunnboksutskrift"/>
<output wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/ubekreftetHistoriskGrunnboksutskriftResponse" message="tns:ubekreftetHistoriskGrunnboksutskriftResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/ubekreftetHistoriskGrunnboksutskrift/Fault/ServiceException"/>
</operation>
<operation name="delAvGrunnboksutskriftOverdragelser">
<input wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/delAvGrunnboksutskriftOverdragelserRequest" message="tns:delAvGrunnboksutskriftOverdragelser"/>
<output wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/delAvGrunnboksutskriftOverdragelserResponse" message="tns:delAvGrunnboksutskriftOverdragelserResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/delAvGrunnboksutskriftOverdragelser/Fault/ServiceException"/>
</operation>
<operation name="delAvGrunnboksutskriftTidligereOverdragelser">
<input wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/delAvGrunnboksutskriftTidligereOverdragelserRequest" message="tns:delAvGrunnboksutskriftTidligereOverdragelser"/>
<output wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/delAvGrunnboksutskriftTidligereOverdragelserResponse" message="tns:delAvGrunnboksutskriftTidligereOverdragelserResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/delAvGrunnboksutskriftTidligereOverdragelser/Fault/ServiceException"/>
</operation>
<operation name="delAvGrunnboksutskriftTidligereHeftelser">
<input wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/delAvGrunnboksutskriftTidligereHeftelserRequest" message="tns:delAvGrunnboksutskriftTidligereHeftelser"/>
<output wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/delAvGrunnboksutskriftTidligereHeftelserResponse" message="tns:delAvGrunnboksutskriftTidligereHeftelserResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/delAvGrunnboksutskriftTidligereHeftelser/Fault/ServiceException"/>
</operation>
<operation name="bekreftetHistoriskGrunnboksutskriftPdf">
<input wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/bekreftetHistoriskGrunnboksutskriftPdfRequest" message="tns:bekreftetHistoriskGrunnboksutskriftPdf"/>
<output wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/bekreftetHistoriskGrunnboksutskriftPdfResponse" message="tns:bekreftetHistoriskGrunnboksutskriftPdfResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/bekreftetHistoriskGrunnboksutskriftPdf/Fault/ServiceException"/>
</operation>
<operation name="delAvGrunnboksutskriftRegisterenhetsendringer">
<input wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/delAvGrunnboksutskriftRegisterenhetsendringerRequest" message="tns:delAvGrunnboksutskriftRegisterenhetsendringer"/>
<output wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/delAvGrunnboksutskriftRegisterenhetsendringerResponse" message="tns:delAvGrunnboksutskriftRegisterenhetsendringerResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/delAvGrunnboksutskriftRegisterenhetsendringer/Fault/ServiceException"/>
</operation>
<operation name="ubekreftetHistoriskGrunnboksutskriftHtml">
<input wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/ubekreftetHistoriskGrunnboksutskriftHtmlRequest" message="tns:ubekreftetHistoriskGrunnboksutskriftHtml"/>
<output wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/ubekreftetHistoriskGrunnboksutskriftHtmlResponse" message="tns:ubekreftetHistoriskGrunnboksutskriftHtmlResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/ubekreftetHistoriskGrunnboksutskriftHtml/Fault/ServiceException"/>
</operation>
<operation name="ubekreftetGrunnboksutskrift">
<input wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/ubekreftetGrunnboksutskriftRequest" message="tns:ubekreftetGrunnboksutskrift"/>
<output wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/ubekreftetGrunnboksutskriftResponse" message="tns:ubekreftetGrunnboksutskriftResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/ubekreftetGrunnboksutskrift/Fault/ServiceException"/>
</operation>
<operation name="grunnboksutskriftInfo">
<input wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/grunnboksutskriftInfoRequest" message="tns:grunnboksutskriftInfo"/>
<output wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/grunnboksutskriftInfoResponse" message="tns:grunnboksutskriftInfoResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/grunnboksutskriftInfo/Fault/ServiceException"/>
</operation>
<operation name="ubekreftetGrunnboksutskriftHtml">
<input wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/ubekreftetGrunnboksutskriftHtmlRequest" message="tns:ubekreftetGrunnboksutskriftHtml"/>
<output wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/ubekreftetGrunnboksutskriftHtmlResponse" message="tns:ubekreftetGrunnboksutskriftHtmlResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/ubekreftetGrunnboksutskriftHtml/Fault/ServiceException"/>
</operation>
<operation name="delAvGrunnboksutskriftHeftelser">
<input wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/delAvGrunnboksutskriftHeftelserRequest" message="tns:delAvGrunnboksutskriftHeftelser"/>
<output wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/delAvGrunnboksutskriftHeftelserResponse" message="tns:delAvGrunnboksutskriftHeftelserResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/delAvGrunnboksutskriftHeftelser/Fault/ServiceException"/>
</operation>
<operation name="bekreftetGrunnboksutskriftPdf">
<input wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/bekreftetGrunnboksutskriftPdfRequest" message="tns:bekreftetGrunnboksutskriftPdf"/>
<output wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/bekreftetGrunnboksutskriftPdfResponse" message="tns:bekreftetGrunnboksutskriftPdfResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/internutskrift/GrunnboksutskriftInternService/bekreftetGrunnboksutskriftPdf/Fault/ServiceException"/>
</operation>
</portType>
<binding name="GrunnboksutskriftInternServicePortBinding" type="tns:GrunnboksutskriftInternService">
<wsp:PolicyReference URI="#GrunnboksutskriftInternServicePortBinding_MTOM_Policy-GrunnboksutskriftInternServicePortBinding_MTOM_Policy"/>
<wsp:PolicyReference URI="#Mtom.xml"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ubekreftetHistoriskGrunnboksutskrift">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="delAvGrunnboksutskriftOverdragelser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="delAvGrunnboksutskriftTidligereOverdragelser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="delAvGrunnboksutskriftTidligereHeftelser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="bekreftetHistoriskGrunnboksutskriftPdf">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="delAvGrunnboksutskriftRegisterenhetsendringer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="ubekreftetHistoriskGrunnboksutskriftHtml">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="ubekreftetGrunnboksutskrift">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="grunnboksutskriftInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="ubekreftetGrunnboksutskriftHtml">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="delAvGrunnboksutskriftHeftelser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="bekreftetGrunnboksutskriftPdf">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="GrunnboksutskriftInternServiceWS">
<port name="GrunnboksutskriftInternServicePort" binding="tns:GrunnboksutskriftInternServicePortBinding">
<soap:address location="https://etest.grunnbok.no:443/grunnbok/wsapi/v2/GrunnboksutskriftInternServiceWS"/>
</port>
</service>
</definitions>
