src/main/resources/grunnboksutskriftinternv2/GrunnboksutskriftInternServiceWS17.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xs:schema xmlns:tns="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper">

<xs:complexType name="GrunnbokObjectWithHistoryId">
<xs:complexContent>
<xs:extension base="tns:GrunnbokBubbleObjectId">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="GrunnbokBubbleObjectId">
<xs:sequence>
<xs:element name="value" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GrunnbokContext">
<xs:sequence>
<xs:element name="systemVersion" type="xs:string"/>
<xs:element name="clientIdentification" type="xs:string"/>
<xs:element name="locale" type="xs:string"/>
<xs:element name="snapshotVersion" type="tns:Timestamp"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Timestamp">
<xs:sequence>
<xs:element name="timestamp" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GrunnbokBubbleObjectIdList">
<xs:sequence>
<xs:element name="item" type="tns:GrunnbokBubbleObjectId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
