src/main/resources/stedsnavn/distribusjon/EndringsloggServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/endringslogg"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EndringsloggServiceWS"
             targetNamespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/endringslogg">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/endringslogg" schemaLocation="EndringsloggServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/stedsnavn/koder" schemaLocation="stedsnavn_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/stedsnavn" schemaLocation="stedsnavn.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/sted/koder" schemaLocation="sted_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/sted" schemaLocation="sted.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/skrivemaate/koder" schemaLocation="skrivemaate_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/skrivemaate" schemaLocation="skrivemaate.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/posisjon" schemaLocation="posisjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/koder" schemaLocation="koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/dokumentasjon/offentligbruk" schemaLocation="offentligbruk.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/dokumentasjon/koder" schemaLocation="dokumentasjon_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/dokumentasjon/kilde" schemaLocation="kilde.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/dokumentasjon" schemaLocation="dokumentasjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/arbeidsliste/matrikkelen/koder" schemaLocation="arbeidsliste_matrikkelen_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/arbeidsliste/matrikkelen" schemaLocation="arbeidsliste_matrikkelen.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="calcEndringskontroll">
    <part element="tns:calcEndringskontroll" name="parameters"/>
  </message>
  <message name="calcEndringskontrollResponse">
    <part element="tns:calcEndringskontrollResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://stedsnavn.statkart.no/ssr/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findSisteEndringId">
    <part element="tns:findSisteEndringId" name="parameters"/>
  </message>
  <message name="findSisteEndringIdResponse">
    <part element="tns:findSisteEndringIdResponse" name="parameters"/>
  </message>
  <message name="calcObjektkontrollForList">
    <part element="tns:calcObjektkontrollForList" name="parameters"/>
  </message>
  <message name="calcObjektkontrollForListResponse">
    <part element="tns:calcObjektkontrollForListResponse" name="parameters"/>
  </message>
  <message name="findEndringer">
    <part element="tns:findEndringer" name="parameters"/>
  </message>
  <message name="findEndringerResponse">
    <part element="tns:findEndringerResponse" name="parameters"/>
  </message>
  <portType name="EndringsloggService">
    <operation name="calcEndringskontroll">
      <input message="tns:calcEndringskontroll" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/endringslogg/EndringsloggService/calcEndringskontrollRequest"/>
      <output message="tns:calcEndringskontrollResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/endringslogg/EndringsloggService/calcEndringskontrollResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/endringslogg/EndringsloggService/calcEndringskontroll/Fault/ServiceException"/>
    </operation>
    <operation name="findSisteEndringId">
      <input message="tns:findSisteEndringId" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/endringslogg/EndringsloggService/findSisteEndringIdRequest"/>
      <output message="tns:findSisteEndringIdResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/endringslogg/EndringsloggService/findSisteEndringIdResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/endringslogg/EndringsloggService/findSisteEndringId/Fault/ServiceException"/>
    </operation>
    <operation name="calcObjektkontrollForList">
      <input message="tns:calcObjektkontrollForList" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/endringslogg/EndringsloggService/calcObjektkontrollForListRequest"/>
      <output message="tns:calcObjektkontrollForListResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/endringslogg/EndringsloggService/calcObjektkontrollForListResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/endringslogg/EndringsloggService/calcObjektkontrollForList/Fault/ServiceException"/>
    </operation>
    <operation name="findEndringer">
      <input message="tns:findEndringer" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/endringslogg/EndringsloggService/findEndringerRequest"/>
      <output message="tns:findEndringerResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/endringslogg/EndringsloggService/findEndringerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/endringslogg/EndringsloggService/findEndringer/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="EndringsloggServicePortBinding" type="tns:EndringsloggService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="calcEndringskontroll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSisteEndringId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="calcObjektkontrollForList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findEndringer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="EndringsloggServiceWS">
    <port binding="tns:EndringsloggServicePortBinding" name="EndringsloggServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>