src/main/resources/stedsnavn/distribusjon/SkrivemaateServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SkrivemaateServiceWS"
             targetNamespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate" schemaLocation="SkrivemaateServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/servicetyper" schemaLocation="servicetyper.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/stedsnavn/koder" schemaLocation="stedsnavn_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/stedsnavn" schemaLocation="stedsnavn.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/sted/koder" schemaLocation="sted_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/sted" schemaLocation="sted.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/skrivemaate/koder" schemaLocation="skrivemaate_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/skrivemaate" schemaLocation="skrivemaate.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/posisjon" schemaLocation="posisjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/koder" schemaLocation="koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/dokumentasjon/offentligbruk" schemaLocation="offentligbruk.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/dokumentasjon/koder" schemaLocation="dokumentasjon_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/dokumentasjon" schemaLocation="dokumentasjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/arbeidsliste/matrikkelen/koder" schemaLocation="arbeidsliste_matrikkelen_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/arbeidsliste/matrikkelen" schemaLocation="arbeidsliste_matrikkelen.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findSkrivemaaterForDelAvSamlevedtakList">
    <part element="tns:findSkrivemaaterForDelAvSamlevedtakList" name="parameters"/>
  </message>
  <message name="findSkrivemaaterForDelAvSamlevedtakListResponse">
    <part element="tns:findSkrivemaaterForDelAvSamlevedtakListResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://stedsnavn.statkart.no/ssr/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findSkrivemaaterForVedtakList">
    <part element="tns:findSkrivemaaterForVedtakList" name="parameters"/>
  </message>
  <message name="findSkrivemaaterForVedtakListResponse">
    <part element="tns:findSkrivemaaterForVedtakListResponse" name="parameters"/>
  </message>
  <message name="findSkrivemaaterForNavnesaker">
    <part element="tns:findSkrivemaaterForNavnesaker" name="parameters"/>
  </message>
  <message name="findSkrivemaaterForNavnesakerResponse">
    <part element="tns:findSkrivemaaterForNavnesakerResponse" name="parameters"/>
  </message>
  <message name="findSkrivemaaterForStedsnavnList">
    <part element="tns:findSkrivemaaterForStedsnavnList" name="parameters"/>
  </message>
  <message name="findSkrivemaaterForStedsnavnListResponse">
    <part element="tns:findSkrivemaaterForStedsnavnListResponse" name="parameters"/>
  </message>
  <message name="findSkrivemaaterForKlager">
    <part element="tns:findSkrivemaaterForKlager" name="parameters"/>
  </message>
  <message name="findSkrivemaaterForKlagerResponse">
    <part element="tns:findSkrivemaaterForKlagerResponse" name="parameters"/>
  </message>
  <portType name="SkrivemaateService">
    <operation name="findSkrivemaaterForDelAvSamlevedtakList">
      <input message="tns:findSkrivemaaterForDelAvSamlevedtakList" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate/SkrivemaateService/findSkrivemaaterForDelAvSamlevedtakListRequest"/>
      <output message="tns:findSkrivemaaterForDelAvSamlevedtakListResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate/SkrivemaateService/findSkrivemaaterForDelAvSamlevedtakListResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate/SkrivemaateService/findSkrivemaaterForDelAvSamlevedtakList/Fault/ServiceException"/>
    </operation>
    <operation name="findSkrivemaaterForVedtakList">
      <input message="tns:findSkrivemaaterForVedtakList" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate/SkrivemaateService/findSkrivemaaterForVedtakListRequest"/>
      <output message="tns:findSkrivemaaterForVedtakListResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate/SkrivemaateService/findSkrivemaaterForVedtakListResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate/SkrivemaateService/findSkrivemaaterForVedtakList/Fault/ServiceException"/>
    </operation>
    <operation name="findSkrivemaaterForNavnesaker">
      <input message="tns:findSkrivemaaterForNavnesaker" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate/SkrivemaateService/findSkrivemaaterForNavnesakerRequest"/>
      <output message="tns:findSkrivemaaterForNavnesakerResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate/SkrivemaateService/findSkrivemaaterForNavnesakerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate/SkrivemaateService/findSkrivemaaterForNavnesaker/Fault/ServiceException"/>
    </operation>
    <operation name="findSkrivemaaterForStedsnavnList">
      <input message="tns:findSkrivemaaterForStedsnavnList" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate/SkrivemaateService/findSkrivemaaterForStedsnavnListRequest"/>
      <output message="tns:findSkrivemaaterForStedsnavnListResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate/SkrivemaateService/findSkrivemaaterForStedsnavnListResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate/SkrivemaateService/findSkrivemaaterForStedsnavnList/Fault/ServiceException"/>
    </operation>
    <operation name="findSkrivemaaterForKlager">
      <input message="tns:findSkrivemaaterForKlager" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate/SkrivemaateService/findSkrivemaaterForKlagerRequest"/>
      <output message="tns:findSkrivemaaterForKlagerResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate/SkrivemaateService/findSkrivemaaterForKlagerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/skrivemaate/SkrivemaateService/findSkrivemaaterForKlager/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="SkrivemaateServicePortBinding" type="tns:SkrivemaateService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findSkrivemaaterForDelAvSamlevedtakList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSkrivemaaterForVedtakList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSkrivemaaterForNavnesaker">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSkrivemaaterForStedsnavnList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSkrivemaaterForKlager">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SkrivemaateServiceWS">
    <port binding="tns:SkrivemaateServicePortBinding" name="SkrivemaateServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>