src/main/resources/stedsnavn/distribusjon/StedsnavnServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/stedsnavn"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StedsnavnServiceWS"
             targetNamespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/stedsnavn">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/stedsnavn" schemaLocation="StedsnavnServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/servicetyper" schemaLocation="servicetyper.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/stedsnavn/koder" schemaLocation="stedsnavn_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/stedsnavn" schemaLocation="stedsnavn.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/sted/koder" schemaLocation="sted_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/sted" schemaLocation="sted.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/skrivemaate/koder" schemaLocation="skrivemaate_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/skrivemaate" schemaLocation="skrivemaate.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/posisjon" schemaLocation="posisjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/koder" schemaLocation="koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/dokumentasjon/offentligbruk" schemaLocation="offentligbruk.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/dokumentasjon/koder" schemaLocation="dokumentasjon_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/dokumentasjon" schemaLocation="dokumentasjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/arbeidsliste/matrikkelen/koder" schemaLocation="arbeidsliste_matrikkelen_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/arbeidsliste/matrikkelen" schemaLocation="arbeidsliste_matrikkelen.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findStedsnavnIdsForIdents">
    <part element="tns:findStedsnavnIdsForIdents" name="parameters"/>
  </message>
  <message name="findStedsnavnIdsForIdentsResponse">
    <part element="tns:findStedsnavnIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://stedsnavn.statkart.no/ssr/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findSekundaerfunksjoner">
    <part element="tns:findSekundaerfunksjoner" name="parameters"/>
  </message>
  <message name="findSekundaerfunksjonerResponse">
    <part element="tns:findSekundaerfunksjonerResponse" name="parameters"/>
  </message>
  <message name="findStedsnavnForSteder">
    <part element="tns:findStedsnavnForSteder" name="parameters"/>
  </message>
  <message name="findStedsnavnForStederResponse">
    <part element="tns:findStedsnavnForStederResponse" name="parameters"/>
  </message>
  <portType name="StedsnavnService">
    <operation name="findStedsnavnIdsForIdents">
      <input message="tns:findStedsnavnIdsForIdents" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/stedsnavn/StedsnavnService/findStedsnavnIdsForIdentsRequest"/>
      <output message="tns:findStedsnavnIdsForIdentsResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/stedsnavn/StedsnavnService/findStedsnavnIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/stedsnavn/StedsnavnService/findStedsnavnIdsForIdents/Fault/ServiceException"/>
    </operation>
    <operation name="findSekundaerfunksjoner">
      <input message="tns:findSekundaerfunksjoner" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/stedsnavn/StedsnavnService/findSekundaerfunksjonerRequest"/>
      <output message="tns:findSekundaerfunksjonerResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/stedsnavn/StedsnavnService/findSekundaerfunksjonerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/stedsnavn/StedsnavnService/findSekundaerfunksjoner/Fault/ServiceException"/>
    </operation>
    <operation name="findStedsnavnForSteder">
      <input message="tns:findStedsnavnForSteder" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/stedsnavn/StedsnavnService/findStedsnavnForStederRequest"/>
      <output message="tns:findStedsnavnForStederResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/stedsnavn/StedsnavnService/findStedsnavnForStederResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/stedsnavn/StedsnavnService/findStedsnavnForSteder/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="StedsnavnServicePortBinding" type="tns:StedsnavnService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findStedsnavnIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSekundaerfunksjoner">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findStedsnavnForSteder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="StedsnavnServiceWS">
    <port binding="tns:StedsnavnServicePortBinding" name="StedsnavnServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>