src/main/resources/stedsnavn/distribusjon/StoreServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StoreServiceWS"
             targetNamespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store" schemaLocation="StoreServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/stedsnavn/koder" schemaLocation="stedsnavn_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/stedsnavn" schemaLocation="stedsnavn.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/sted/koder" schemaLocation="sted_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/sted" schemaLocation="sted.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/skrivemaate/koder" schemaLocation="skrivemaate_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/skrivemaate" schemaLocation="skrivemaate.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/posisjon" schemaLocation="posisjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/koder" schemaLocation="koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/dokumentasjon/offentligbruk" schemaLocation="offentligbruk.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/dokumentasjon/koder" schemaLocation="dokumentasjon_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/dokumentasjon/kilde" schemaLocation="kilde.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/dokumentasjon" schemaLocation="dokumentasjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/arbeidsliste/matrikkelen/koder" schemaLocation="arbeidsliste_matrikkelen_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain/arbeidsliste/matrikkelen" schemaLocation="arbeidsliste_matrikkelen.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://stedsnavn.statkart.no/ssr/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="lock">
    <part element="tns:lock" name="parameters"/>
  </message>
  <message name="lockResponse">
    <part element="tns:lockResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://stedsnavn.statkart.no/ssr/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="getObject">
    <part element="tns:getObject" name="parameters"/>
  </message>
  <message name="getObjectResponse">
    <part element="tns:getObjectResponse" name="parameters"/>
  </message>
  <message name="isLocked">
    <part element="tns:isLocked" name="parameters"/>
  </message>
  <message name="isLockedResponse">
    <part element="tns:isLockedResponse" name="parameters"/>
  </message>
  <message name="unlock">
    <part element="tns:unlock" name="parameters"/>
  </message>
  <message name="unlockResponse">
    <part element="tns:unlockResponse" name="parameters"/>
  </message>
  <message name="getObjects">
    <part element="tns:getObjects" name="parameters"/>
  </message>
  <message name="getObjectsResponse">
    <part element="tns:getObjectsResponse" name="parameters"/>
  </message>
  <message name="getVersions">
    <part element="tns:getVersions" name="parameters"/>
  </message>
  <message name="getVersionsResponse">
    <part element="tns:getVersionsResponse" name="parameters"/>
  </message>
  <message name="getObjectsIgnoreMissing">
    <part element="tns:getObjectsIgnoreMissing" name="parameters"/>
  </message>
  <message name="getObjectsIgnoreMissingResponse">
    <part element="tns:getObjectsIgnoreMissingResponse" name="parameters"/>
  </message>
  <message name="getVersionsForList">
    <part element="tns:getVersionsForList" name="parameters"/>
  </message>
  <message name="getVersionsForListResponse">
    <part element="tns:getVersionsForListResponse" name="parameters"/>
  </message>
  <message name="unlockForList">
    <part element="tns:unlockForList" name="parameters"/>
  </message>
  <message name="unlockForListResponse">
    <part element="tns:unlockForListResponse" name="parameters"/>
  </message>
  <message name="lockForList">
    <part element="tns:lockForList" name="parameters"/>
  </message>
  <message name="lockForListResponse">
    <part element="tns:lockForListResponse" name="parameters"/>
  </message>
  <portType name="StoreService">
    <operation name="lock">
      <input message="tns:lock" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/lockRequest"/>
      <output message="tns:lockResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/lockResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/lock/Fault/ServiceException"/>
    </operation>
    <operation name="getObject">
      <input message="tns:getObject" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/getObjectRequest"/>
      <output message="tns:getObjectResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/getObjectResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/getObject/Fault/ServiceException"/>
    </operation>
    <operation name="isLocked">
      <input message="tns:isLocked" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/isLockedRequest"/>
      <output message="tns:isLockedResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/isLockedResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/isLocked/Fault/ServiceException"/>
    </operation>
    <operation name="unlock">
      <input message="tns:unlock" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/unlockRequest"/>
      <output message="tns:unlockResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/unlockResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/unlock/Fault/ServiceException"/>
    </operation>
    <operation name="getObjects">
      <input message="tns:getObjects" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/getObjectsRequest"/>
      <output message="tns:getObjectsResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/getObjectsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/getObjects/Fault/ServiceException"/>
    </operation>
    <operation name="getVersions">
      <input message="tns:getVersions" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/getVersionsRequest"/>
      <output message="tns:getVersionsResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/getVersionsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/getVersions/Fault/ServiceException"/>
    </operation>
    <operation name="getObjectsIgnoreMissing">
      <input message="tns:getObjectsIgnoreMissing" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/getObjectsIgnoreMissingRequest"/>
      <output message="tns:getObjectsIgnoreMissingResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/getObjectsIgnoreMissingResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/getObjectsIgnoreMissing/Fault/ServiceException"/>
    </operation>
    <operation name="getVersionsForList">
      <input message="tns:getVersionsForList" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/getVersionsForListRequest"/>
      <output message="tns:getVersionsForListResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/getVersionsForListResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/getVersionsForList/Fault/ServiceException"/>
    </operation>
    <operation name="unlockForList">
      <input message="tns:unlockForList" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/unlockForListRequest"/>
      <output message="tns:unlockForListResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/unlockForListResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/unlockForList/Fault/ServiceException"/>
    </operation>
    <operation name="lockForList">
      <input message="tns:lockForList" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/lockForListRequest"/>
      <output message="tns:lockForListResponse" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/lockForListResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://stedsnavn.statkart.no/ssr/wsapi/v1/service/store/StoreService/lockForList/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="StoreServicePortBinding" type="tns:StoreService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="lock">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="isLocked">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="unlock">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getObjects">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getVersions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getObjectsIgnoreMissing">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getVersionsForList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="unlockForList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="lockForList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="StoreServiceWS">
    <port binding="tns:StoreServicePortBinding" name="StoreServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>