src/main/resources/innsending/InnsendingServiceWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://kartverket.no/grunnbok/wsapi/internal/service/innsending"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             name="InnsendingServiceWS"
             targetNamespace="http://kartverket.no/grunnbok/wsapi/internal/service/innsending"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xsi:schemaLocation="http://kartverket.no/grunnbok/wsapi/internal/service/innsending innsendingParameters.xsd">

    <types>
        <xs:schema>
            <xs:import namespace="http://kartverket.no/grunnbok/wsapi/internal/service/innsending" schemaLocation="innsendingParameters.xsd"/>
        </xs:schema>
    </types>

    <message name="tinglysMeldingRequest">
        <part name="parameters" element="tns:tinglysMelding"/>
    </message>
    <message name="tinglysMeldingResponse">
        <part name="parameters" element="tns:tinglysMeldingResponse"/>
    </message>

    <message name="validerMeldingRequest">
        <part name="parameters" element="tns:validerMelding"/>
    </message>
    <message name="validerMeldingResponse">
        <part name="parameters" element="tns:validerMeldingResponse"/>
    </message>

    <message name="allokerInnsendingIdRequest">
        <part name="parameters" element="tns:allokerInnsendingId"/>
    </message>
    <message name="allokerInnsendingIdResponse">
        <part name="parameters" element="tns:allokerInnsendingIdResponse"/>
    </message>

    <message name="findBehandlingsstatusRequest">
        <part name="parameters" element="tns:findBehandlingsstatus"/>
    </message>
    <message name="findBehandlingsstatusResponse">
        <part name="parameters" element="tns:findBehandlingsstatusResponse"/>
    </message>

    <message name="serviceException">
        <part name="fault" element="tns:serviceException"/>
    </message>
    
    <portType name="InnsendingService">
        <operation name="tinglysMelding">
            <input message="tns:tinglysMeldingRequest"/>
            <output message="tns:tinglysMeldingResponse"/>
            <fault message="tns:serviceException" name="ServiceException"/>
        </operation>
        <operation name="validerMelding">
            <input message="tns:validerMeldingRequest"/>
            <output message="tns:validerMeldingResponse"/>
            <fault message="tns:serviceException" name="ServiceException"/>
        </operation>

        <operation name="findBehandlingsstatus">
            <input message="tns:findBehandlingsstatusRequest"/>
            <output message="tns:findBehandlingsstatusResponse"/>
            <fault message="tns:serviceException" name="ServiceException"/>
        </operation>

        <operation name="allokerInnsendingId">
            <input message="tns:allokerInnsendingIdRequest"/>
            <output message="tns:allokerInnsendingIdResponse"/>
            <fault message="tns:serviceException" name="ServiceException"/>
        </operation>
    </portType>

    <binding name="InnsendingServicePortBinding" type="tns:InnsendingService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="tinglysMelding">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="validerMelding">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="findBehandlingsstatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="allokerInnsendingId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="InnsendingServiceWS">
        <port binding="tns:InnsendingServicePortBinding" name="InnsendingServicePort">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>