src/main/resources/innsending/InnsendingServiceWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://kartverket.no/grunnbok/wsapi/v2/service/innsending"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             name="InnsendingServiceWS"
             targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/service/innsending"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xsi:schemaLocation="http://kartverket.no/grunnbok/wsapi/v2/service/innsending innsendingParameters.xsd">

    <types>
        <xs:schema>
            <xs:import namespace="http://kartverket.no/grunnbok/wsapi/v2/service/innsending" schemaLocation="innsendingParameters.xsd"/>
        </xs:schema>
    </types>

    <message name="sendTilTinglysingRequest">
        <part name="parameters" element="tns:sendTilTinglysing"/>
    </message>
    <message name="sendTilTinglysingResponse">
        <part name="parameters" element="tns:sendTilTinglysingResponse"/>
    </message>

    <message name="validerRequest">
        <part name="parameters" element="tns:valider"/>
    </message>
    <message name="validerResponse">
        <part name="parameters" element="tns:validerResponse"/>
    </message>

    <message name="hentStatusRequest">
        <part name="parameters" element="tns:hentStatus"/>
    </message>
    <message name="hentStatusResponse">
        <part name="parameters" element="tns:hentStatusResponse"/>
    </message>

    <message name="serviceException">
        <part name="fault" element="tns:serviceException"/>
    </message>

    <portType name="InnsendingService">
        <operation name="sendTilTinglysing">
            <input message="tns:sendTilTinglysingRequest"/>
            <output message="tns:sendTilTinglysingResponse"/>
            <fault message="tns:serviceException" name="ServiceException"/>
        </operation>
        <operation name="valider">
            <input message="tns:validerRequest"/>
            <output message="tns:validerResponse"/>
            <fault message="tns:serviceException" name="ServiceException"/>
        </operation>

        <operation name="hentStatus">
            <input message="tns:hentStatusRequest"/>
            <output message="tns:hentStatusResponse"/>
            <fault message="tns:serviceException" name="ServiceException"/>
        </operation>

    </portType>

    <binding name="InnsendingServicePortBinding" type="tns:InnsendingService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sendTilTinglysing">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="valider">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="hentStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="InnsendingServiceWS">
        <port binding="tns:InnsendingServicePortBinding" name="InnsendingServicePort">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>