src/main/resources/grunnbok/basistyper.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema
        version="1.0"
        targetNamespace="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper"
        xmlns:basistyperns="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <!-- ========================================================= -->
    <!-- Basisklasser:                                             -->
    <!-- Frittstående klasser og klasser på tvers av subdomains    -->
    <!-- ========================================================= -->

    <xs:complexType name="Timestamp">
        <xs:sequence>
            <xs:element name="timestamp" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LocalTime">
        <xs:sequence>
            <xs:element name="time" type="xs:time"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LocalDate">
        <xs:sequence>
            <xs:element name="date" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LocalDateTime">
        <xs:sequence>
            <xs:element name="dateTime" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GrunnbokContext">
        <xs:sequence>
            <xs:element name="apiVersion" type="xs:string"/>
            <xs:element name="clientIdentification" type="xs:string"/>
            <xs:element name="locale" type="xs:string"/>
            <xs:element name="snapshotVersion" type="basistyperns:Timestamp"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StringList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LocalizedString">
        <xs:annotation>
            <xs:appinfo>
                <IsDictionary
                        xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                    true
                </IsDictionary>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="key" nillable="true" type="xs:string"/>
                        <xs:element name="value" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- GrunnbokBubbleObject -->

    <xs:complexType name="GrunnbokBubbleObjectIdent"/>

    <xs:complexType name="GrunnbokBubbleObjectIdentList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="basistyperns:GrunnbokBubbleObjectIdent"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GrunnbokBubbleObjectId">
        <xs:sequence>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GrunnbokBubbleObjectIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="basistyperns:GrunnbokBubbleObjectId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SnapshotVersionToGrunnbokBubbleObjectIdMap">
        <!--<xs:annotation>-->
        <!--<xs:appinfo>-->
        <!--<IsDictionary-->
        <!--xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-->
        <!--true-->
        <!--</IsDictionary>-->
        <!--</xs:appinfo>-->
        <!--</xs:annotation>-->
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="key" type="basistyperns:Timestamp"/>
                        <xs:element name="value" type="basistyperns:GrunnbokBubbleObjectId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GrunnbokBubbleObjectIdToSnapshotBubbleIdsMap">
        <xs:annotation>
            <xs:appinfo>
                <IsDictionary
                        xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                    true
                </IsDictionary>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="key" nillable="true" type="basistyperns:GrunnbokBubbleObjectId"/>
                        <xs:element name="value" type="basistyperns:SnapshotVersionToGrunnbokBubbleObjectIdMap"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GrunnbokBubbleObject">
        <xs:sequence>
            <xs:element name="id" type="basistyperns:GrunnbokBubbleObjectId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GrunnbokBubbleObjectList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="basistyperns:GrunnbokBubbleObject"/>
        </xs:sequence>
    </xs:complexType>

    <!-- GrunnbokObjectWithVersion -->

    <xs:complexType name="GrunnbokObjectWithVersionId">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokBubbleObjectId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GrunnbokObjectWithVersion">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokBubbleObject">
                <xs:sequence>
                    <!-- TODO oppdateringsdato skal egentlig ikke være nillable, men løser et problem jf. GBOK-2406 -->
                    <xs:element name="oppdateringsdato" type="basistyperns:Timestamp" nillable="true"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- GrunnbokObjectWithHistory -->

    <xs:complexType name="GrunnbokObjectWithHistoryId">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithVersionId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GrunnbokObjectWithHistory">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithVersion">
                <xs:sequence>
                    <!-- TODO sluttdato skal egentlig ikke være nillable, men løser et problem jf. GBOK-2406 -->
                    <xs:element name="sluttdato" type="basistyperns:Timestamp" nillable="true"/>
                    <xs:element name="oppdateringsBruker" type="xs:string" nillable="true"/>
                    <xs:element name="incrementalVersion" type="xs:long" nillable="false"/>
                    <xs:element name="versjon" type="xs:long" nillable="false"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EntityComponent">
        <xs:sequence>
            <!-- GBOK-2401: nillable for ikke primitiver verdier -->
            <xs:element name="id" type="xs:long" nillable="true"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EntityComponentWithHistory">
        <xs:complexContent>
            <xs:extension base="basistyperns:EntityComponent">
                <xs:sequence>
                    <!-- TODO oppdateringsdato og sluttdato skal egentlig ikke være nillable, men løser et problem jf. GBOK-2406 -->
                    <xs:element name="oppdateringsdato" type="basistyperns:Timestamp" nillable="true"/>
                    <xs:element name="sluttdato" type="basistyperns:Timestamp" nillable="true"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InverseRelation">
        <xs:sequence>
            <xs:element name="materialised" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
