src/main/resources/grunnbok/GrunnboksutskriftInternServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v1/service/internutskrift" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GrunnboksutskriftInternServiceWS" targetNamespace="http://kartverket.no/grunnbok/wsapi/v1/service/internutskrift">
  <wsp:UsingPolicy wssutil:Required="true"/>
  <wsp:Policy wssutil:Id="Mtom.xml">
    <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/internutskrift" schemaLocation="GrunnboksutskriftInternServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/saksbehandlingsdata" schemaLocation="register_saksbehandlingsdata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/rettsendring" schemaLocation="register_rettsstiftelse_rettsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="register_rettsstiftelse_registerenhetsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="register_rettsstiftelse_personkoblingsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/overdragelse" schemaLocation="register_rettsstiftelse_overdragelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/heftelse" schemaLocation="register_rettsstiftelse_heftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/anmerkning" schemaLocation="register_rettsstiftelse_anmerkning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse" schemaLocation="register_rettsstiftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet" schemaLocation="register_registerenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/person" schemaLocation="register_person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder" schemaLocation="register_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/journal" schemaLocation="register_journal.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/dokument" schemaLocation="register_dokument.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/adresse" schemaLocation="register_adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register" schemaLocation="register.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="ubekreftetGrunnboksutskrift">
    <part element="tns:ubekreftetGrunnboksutskrift" name="parameters"/>
  </message>
  <message name="ubekreftetGrunnboksutskriftResponse">
    <part element="tns:ubekreftetGrunnboksutskriftResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns2="http://kartverket.no/grunnbok/wsapi/v1/exception" element="ns2:ServiceException" name="fault"/>
  </message>
  <message name="delAvGrunnboksutskriftTidligereRegisterenhetsendringer">
    <part element="tns:delAvGrunnboksutskriftTidligereRegisterenhetsendringer" name="parameters"/>
  </message>
  <message name="delAvGrunnboksutskriftTidligereRegisterenhetsendringerResponse">
    <part element="tns:delAvGrunnboksutskriftTidligereRegisterenhetsendringerResponse" name="parameters"/>
  </message>
  <message name="ubekreftetHistoriskGrunnboksutskrift">
    <part element="tns:ubekreftetHistoriskGrunnboksutskrift" name="parameters"/>
  </message>
  <message name="ubekreftetHistoriskGrunnboksutskriftResponse">
    <part element="tns:ubekreftetHistoriskGrunnboksutskriftResponse" name="parameters"/>
  </message>
  <message name="delAvGrunnboksutskriftServitutter">
    <part element="tns:delAvGrunnboksutskriftServitutter" name="parameters"/>
  </message>
  <message name="delAvGrunnboksutskriftServitutterResponse">
    <part element="tns:delAvGrunnboksutskriftServitutterResponse" name="parameters"/>
  </message>
  <message name="delAvGrunnboksutskriftTidligereServitutter">
    <part element="tns:delAvGrunnboksutskriftTidligereServitutter" name="parameters"/>
  </message>
  <message name="delAvGrunnboksutskriftTidligereServitutterResponse">
    <part element="tns:delAvGrunnboksutskriftTidligereServitutterResponse" name="parameters"/>
  </message>
  <message name="delAvGrunnboksutskriftOverdragelser">
    <part element="tns:delAvGrunnboksutskriftOverdragelser" name="parameters"/>
  </message>
  <message name="delAvGrunnboksutskriftOverdragelserResponse">
    <part element="tns:delAvGrunnboksutskriftOverdragelserResponse" name="parameters"/>
  </message>
  <message name="delAvGrunnboksutskriftTidligereOverdragelser">
    <part element="tns:delAvGrunnboksutskriftTidligereOverdragelser" name="parameters"/>
  </message>
  <message name="delAvGrunnboksutskriftTidligereOverdragelserResponse">
    <part element="tns:delAvGrunnboksutskriftTidligereOverdragelserResponse" name="parameters"/>
  </message>
  <message name="delAvGrunnboksutskriftPengeheftelser">
    <part element="tns:delAvGrunnboksutskriftPengeheftelser" name="parameters"/>
  </message>
  <message name="delAvGrunnboksutskriftPengeheftelserResponse">
    <part element="tns:delAvGrunnboksutskriftPengeheftelserResponse" name="parameters"/>
  </message>
  <message name="delAvGrunnboksutskriftTidligerePengeheftelser">
    <part element="tns:delAvGrunnboksutskriftTidligerePengeheftelser" name="parameters"/>
  </message>
  <message name="delAvGrunnboksutskriftTidligerePengeheftelserResponse">
    <part element="tns:delAvGrunnboksutskriftTidligerePengeheftelserResponse" name="parameters"/>
  </message>
  <message name="delAvGrunnboksutskriftRegisterenhetsendringer">
    <part element="tns:delAvGrunnboksutskriftRegisterenhetsendringer" name="parameters"/>
  </message>
  <message name="delAvGrunnboksutskriftRegisterenhetsendringerResponse">
    <part element="tns:delAvGrunnboksutskriftRegisterenhetsendringerResponse" name="parameters"/>
  </message>
  <message name="ubekreftetGrunnboksutskriftMedRnr">
    <part element="tns:ubekreftetGrunnboksutskriftMedRnr" name="parameters"/>
  </message>
  <message name="ubekreftetGrunnboksutskriftMedRnrResponse">
    <part element="tns:ubekreftetGrunnboksutskriftMedRnrResponse" name="parameters"/>
  </message>
  <message name="ubekreftetGrunnboksutskriftHtml">
    <part element="tns:ubekreftetGrunnboksutskriftHtml" name="parameters"/>
  </message>
  <message name="ubekreftetGrunnboksutskriftHtmlResponse">
    <part element="tns:ubekreftetGrunnboksutskriftHtmlResponse" name="parameters"/>
  </message>
  <message name="ubekreftetHistoriskGrunnboksutskriftHtml">
    <part element="tns:ubekreftetHistoriskGrunnboksutskriftHtml" name="parameters"/>
  </message>
  <message name="ubekreftetHistoriskGrunnboksutskriftHtmlResponse">
    <part element="tns:ubekreftetHistoriskGrunnboksutskriftHtmlResponse" name="parameters"/>
  </message>
  <message name="ubekreftetHistoriskGrunnboksutskriftMedRnr">
    <part element="tns:ubekreftetHistoriskGrunnboksutskriftMedRnr" name="parameters"/>
  </message>
  <message name="ubekreftetHistoriskGrunnboksutskriftMedRnrResponse">
    <part element="tns:ubekreftetHistoriskGrunnboksutskriftMedRnrResponse" name="parameters"/>
  </message>
  <message name="bekreftetHistoriskGrunnboksutskriftPdf">
    <part element="tns:bekreftetHistoriskGrunnboksutskriftPdf" name="parameters"/>
  </message>
  <message name="bekreftetHistoriskGrunnboksutskriftPdfResponse">
    <part element="tns:bekreftetHistoriskGrunnboksutskriftPdfResponse" name="parameters"/>
  </message>
  <message name="omfangAvHistoriskGrunnboksutskrift">
    <part element="tns:omfangAvHistoriskGrunnboksutskrift" name="parameters"/>
  </message>
  <message name="omfangAvHistoriskGrunnboksutskriftResponse">
    <part element="tns:omfangAvHistoriskGrunnboksutskriftResponse" name="parameters"/>
  </message>
  <message name="grunnboksutskriftInfo">
    <part element="tns:grunnboksutskriftInfo" name="parameters"/>
  </message>
  <message name="grunnboksutskriftInfoResponse">
    <part element="tns:grunnboksutskriftInfoResponse" name="parameters"/>
  </message>
  <message name="bekreftetGrunnboksutskriftPdf">
    <part element="tns:bekreftetGrunnboksutskriftPdf" name="parameters"/>
  </message>
  <message name="bekreftetGrunnboksutskriftPdfResponse">
    <part element="tns:bekreftetGrunnboksutskriftPdfResponse" name="parameters"/>
  </message>
  <message name="omfangAvGrunnboksutskrift">
    <part element="tns:omfangAvGrunnboksutskrift" name="parameters"/>
  </message>
  <message name="omfangAvGrunnboksutskriftResponse">
    <part element="tns:omfangAvGrunnboksutskriftResponse" name="parameters"/>
  </message>
  <portType name="GrunnboksutskriftInternService">
    <operation name="ubekreftetGrunnboksutskrift">
      <input message="tns:ubekreftetGrunnboksutskrift"/>
      <output message="tns:ubekreftetGrunnboksutskriftResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="delAvGrunnboksutskriftTidligereRegisterenhetsendringer">
      <input message="tns:delAvGrunnboksutskriftTidligereRegisterenhetsendringer"/>
      <output message="tns:delAvGrunnboksutskriftTidligereRegisterenhetsendringerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="ubekreftetHistoriskGrunnboksutskrift">
      <input message="tns:ubekreftetHistoriskGrunnboksutskrift"/>
      <output message="tns:ubekreftetHistoriskGrunnboksutskriftResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="delAvGrunnboksutskriftServitutter">
      <input message="tns:delAvGrunnboksutskriftServitutter"/>
      <output message="tns:delAvGrunnboksutskriftServitutterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="delAvGrunnboksutskriftTidligereServitutter">
      <input message="tns:delAvGrunnboksutskriftTidligereServitutter"/>
      <output message="tns:delAvGrunnboksutskriftTidligereServitutterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="delAvGrunnboksutskriftOverdragelser">
      <input message="tns:delAvGrunnboksutskriftOverdragelser"/>
      <output message="tns:delAvGrunnboksutskriftOverdragelserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="delAvGrunnboksutskriftTidligereOverdragelser">
      <input message="tns:delAvGrunnboksutskriftTidligereOverdragelser"/>
      <output message="tns:delAvGrunnboksutskriftTidligereOverdragelserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="delAvGrunnboksutskriftPengeheftelser">
      <input message="tns:delAvGrunnboksutskriftPengeheftelser"/>
      <output message="tns:delAvGrunnboksutskriftPengeheftelserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="delAvGrunnboksutskriftTidligerePengeheftelser">
      <input message="tns:delAvGrunnboksutskriftTidligerePengeheftelser"/>
      <output message="tns:delAvGrunnboksutskriftTidligerePengeheftelserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="delAvGrunnboksutskriftRegisterenhetsendringer">
      <input message="tns:delAvGrunnboksutskriftRegisterenhetsendringer"/>
      <output message="tns:delAvGrunnboksutskriftRegisterenhetsendringerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="ubekreftetGrunnboksutskriftMedRnr">
      <input message="tns:ubekreftetGrunnboksutskriftMedRnr"/>
      <output message="tns:ubekreftetGrunnboksutskriftMedRnrResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="ubekreftetGrunnboksutskriftHtml">
      <input message="tns:ubekreftetGrunnboksutskriftHtml"/>
      <output message="tns:ubekreftetGrunnboksutskriftHtmlResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="ubekreftetHistoriskGrunnboksutskriftHtml">
      <input message="tns:ubekreftetHistoriskGrunnboksutskriftHtml"/>
      <output message="tns:ubekreftetHistoriskGrunnboksutskriftHtmlResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="ubekreftetHistoriskGrunnboksutskriftMedRnr">
      <input message="tns:ubekreftetHistoriskGrunnboksutskriftMedRnr"/>
      <output message="tns:ubekreftetHistoriskGrunnboksutskriftMedRnrResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="bekreftetHistoriskGrunnboksutskriftPdf">
      <input message="tns:bekreftetHistoriskGrunnboksutskriftPdf"/>
      <output message="tns:bekreftetHistoriskGrunnboksutskriftPdfResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="omfangAvHistoriskGrunnboksutskrift">
      <input message="tns:omfangAvHistoriskGrunnboksutskrift"/>
      <output message="tns:omfangAvHistoriskGrunnboksutskriftResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="grunnboksutskriftInfo">
      <input message="tns:grunnboksutskriftInfo"/>
      <output message="tns:grunnboksutskriftInfoResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="bekreftetGrunnboksutskriftPdf">
      <input message="tns:bekreftetGrunnboksutskriftPdf"/>
      <output message="tns:bekreftetGrunnboksutskriftPdfResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="omfangAvGrunnboksutskrift">
      <input message="tns:omfangAvGrunnboksutskrift"/>
      <output message="tns:omfangAvGrunnboksutskriftResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
  </portType>
  <binding name="GrunnboksutskriftInternServicePortBinding" type="tns:GrunnboksutskriftInternService">
    <wsp:PolicyReference URI="#Mtom.xml"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ubekreftetGrunnboksutskrift">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="delAvGrunnboksutskriftTidligereRegisterenhetsendringer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="ubekreftetHistoriskGrunnboksutskrift">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="delAvGrunnboksutskriftServitutter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="delAvGrunnboksutskriftTidligereServitutter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="delAvGrunnboksutskriftOverdragelser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="delAvGrunnboksutskriftTidligereOverdragelser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="delAvGrunnboksutskriftPengeheftelser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="delAvGrunnboksutskriftTidligerePengeheftelser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="delAvGrunnboksutskriftRegisterenhetsendringer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="ubekreftetGrunnboksutskriftMedRnr">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="ubekreftetGrunnboksutskriftHtml">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="ubekreftetHistoriskGrunnboksutskriftHtml">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="ubekreftetHistoriskGrunnboksutskriftMedRnr">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="bekreftetHistoriskGrunnboksutskriftPdf">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="omfangAvHistoriskGrunnboksutskrift">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="grunnboksutskriftInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="bekreftetGrunnboksutskriftPdf">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="omfangAvGrunnboksutskrift">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="GrunnboksutskriftInternServiceWS">
    <port binding="tns:GrunnboksutskriftInternServicePortBinding" name="GrunnboksutskriftInternServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>
