src/main/resources/grunnbok/GrunnboksutskriftServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v1/service/grunnboksutskrift" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GrunnboksutskriftServiceWS" targetNamespace="http://kartverket.no/grunnbok/wsapi/v1/service/grunnboksutskrift">
  <wsp:UsingPolicy wssutil:Required="true"/>
  <wsp:Policy wssutil:Id="Mtom.xml">
    <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/grunnboksutskrift" schemaLocation="GrunnboksutskriftServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/saksbehandlingsdata" schemaLocation="register_saksbehandlingsdata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/rettsendring" schemaLocation="register_rettsstiftelse_rettsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="register_rettsstiftelse_registerenhetsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="register_rettsstiftelse_personkoblingsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/overdragelse" schemaLocation="register_rettsstiftelse_overdragelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/heftelse" schemaLocation="register_rettsstiftelse_heftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/anmerkning" schemaLocation="register_rettsstiftelse_anmerkning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse" schemaLocation="register_rettsstiftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet" schemaLocation="register_registerenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/person" schemaLocation="register_person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder" schemaLocation="register_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/journal" schemaLocation="register_journal.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/dokument" schemaLocation="register_dokument.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/adresse" schemaLocation="register_adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register" schemaLocation="register.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="ubekreftetGrunnboksutskrift">
    <part element="tns:ubekreftetGrunnboksutskrift" name="parameters"/>
  </message>
  <message name="ubekreftetGrunnboksutskriftResponse">
    <part element="tns:ubekreftetGrunnboksutskriftResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns2="http://kartverket.no/grunnbok/wsapi/v1/exception" element="ns2:ServiceException" name="fault"/>
  </message>
  <message name="ubekreftetHistoriskGrunnboksutskrift">
    <part element="tns:ubekreftetHistoriskGrunnboksutskrift" name="parameters"/>
  </message>
  <message name="ubekreftetHistoriskGrunnboksutskriftResponse">
    <part element="tns:ubekreftetHistoriskGrunnboksutskriftResponse" name="parameters"/>
  </message>
  <message name="ubekreftetHistoriskGrunnboksutskriftPdf">
    <part element="tns:ubekreftetHistoriskGrunnboksutskriftPdf" name="parameters"/>
  </message>
  <message name="ubekreftetHistoriskGrunnboksutskriftPdfResponse">
    <part element="tns:ubekreftetHistoriskGrunnboksutskriftPdfResponse" name="parameters"/>
  </message>
  <message name="ubekreftetGrunnboksutskriftPdf">
    <part element="tns:ubekreftetGrunnboksutskriftPdf" name="parameters"/>
  </message>
  <message name="ubekreftetGrunnboksutskriftPdfResponse">
    <part element="tns:ubekreftetGrunnboksutskriftPdfResponse" name="parameters"/>
  </message>
  <portType name="GrunnboksutskriftService">
    <operation name="ubekreftetGrunnboksutskrift">
      <input message="tns:ubekreftetGrunnboksutskrift"/>
      <output message="tns:ubekreftetGrunnboksutskriftResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="ubekreftetHistoriskGrunnboksutskrift">
      <input message="tns:ubekreftetHistoriskGrunnboksutskrift"/>
      <output message="tns:ubekreftetHistoriskGrunnboksutskriftResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="ubekreftetHistoriskGrunnboksutskriftPdf">
      <input message="tns:ubekreftetHistoriskGrunnboksutskriftPdf"/>
      <output message="tns:ubekreftetHistoriskGrunnboksutskriftPdfResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="ubekreftetGrunnboksutskriftPdf">
      <input message="tns:ubekreftetGrunnboksutskriftPdf"/>
      <output message="tns:ubekreftetGrunnboksutskriftPdfResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
  </portType>
  <binding name="GrunnboksutskriftServicePortBinding" type="tns:GrunnboksutskriftService">
    <wsp:PolicyReference URI="#Mtom.xml"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ubekreftetGrunnboksutskrift">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="ubekreftetHistoriskGrunnboksutskrift">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="ubekreftetHistoriskGrunnboksutskriftPdf">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="ubekreftetGrunnboksutskriftPdf">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="GrunnboksutskriftServiceWS">
    <port binding="tns:GrunnboksutskriftServicePortBinding" name="GrunnboksutskriftServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>
