src/main/resources/grunnbok/GrunnboksutskriftInternServiceWS_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper" xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v1/service/internutskrift" targetNamespace="http://kartverket.no/grunnbok/wsapi/v1/service/internutskrift" version="1.0">

  <xs:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet" schemaLocation="register_registerenhet.xsd"/>

  <xs:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper" schemaLocation="basistyper.xsd"/>

  <xs:element name="bekreftetGrunnboksutskriftPdf" type="tns:bekreftetGrunnboksutskriftPdf"/>

  <xs:element name="bekreftetGrunnboksutskriftPdfResponse" type="tns:bekreftetGrunnboksutskriftPdfResponse"/>

  <xs:element name="bekreftetHistoriskGrunnboksutskriftPdf" type="tns:bekreftetHistoriskGrunnboksutskriftPdf"/>

  <xs:element name="bekreftetHistoriskGrunnboksutskriftPdfResponse" type="tns:bekreftetHistoriskGrunnboksutskriftPdfResponse"/>

  <xs:element name="delAvGrunnboksutskriftOverdragelser" type="tns:delAvGrunnboksutskriftOverdragelser"/>

  <xs:element name="delAvGrunnboksutskriftOverdragelserResponse" type="tns:delAvGrunnboksutskriftOverdragelserResponse"/>

  <xs:element name="delAvGrunnboksutskriftPengeheftelser" type="tns:delAvGrunnboksutskriftPengeheftelser"/>

  <xs:element name="delAvGrunnboksutskriftPengeheftelserResponse" type="tns:delAvGrunnboksutskriftPengeheftelserResponse"/>

  <xs:element name="delAvGrunnboksutskriftRegisterenhetsendringer" type="tns:delAvGrunnboksutskriftRegisterenhetsendringer"/>

  <xs:element name="delAvGrunnboksutskriftRegisterenhetsendringerResponse" type="tns:delAvGrunnboksutskriftRegisterenhetsendringerResponse"/>

  <xs:element name="delAvGrunnboksutskriftServitutter" type="tns:delAvGrunnboksutskriftServitutter"/>

  <xs:element name="delAvGrunnboksutskriftServitutterResponse" type="tns:delAvGrunnboksutskriftServitutterResponse"/>

  <xs:element name="delAvGrunnboksutskriftTidligereOverdragelser" type="tns:delAvGrunnboksutskriftTidligereOverdragelser"/>

  <xs:element name="delAvGrunnboksutskriftTidligereOverdragelserResponse" type="tns:delAvGrunnboksutskriftTidligereOverdragelserResponse"/>

  <xs:element name="delAvGrunnboksutskriftTidligerePengeheftelser" type="tns:delAvGrunnboksutskriftTidligerePengeheftelser"/>

  <xs:element name="delAvGrunnboksutskriftTidligerePengeheftelserResponse" type="tns:delAvGrunnboksutskriftTidligerePengeheftelserResponse"/>

  <xs:element name="delAvGrunnboksutskriftTidligereRegisterenhetsendringer" type="tns:delAvGrunnboksutskriftTidligereRegisterenhetsendringer"/>

  <xs:element name="delAvGrunnboksutskriftTidligereRegisterenhetsendringerResponse" type="tns:delAvGrunnboksutskriftTidligereRegisterenhetsendringerResponse"/>

  <xs:element name="delAvGrunnboksutskriftTidligereServitutter" type="tns:delAvGrunnboksutskriftTidligereServitutter"/>

  <xs:element name="delAvGrunnboksutskriftTidligereServitutterResponse" type="tns:delAvGrunnboksutskriftTidligereServitutterResponse"/>

  <xs:element name="grunnboksutskriftInfo" type="tns:grunnboksutskriftInfo"/>

  <xs:element name="grunnboksutskriftInfoResponse" type="tns:grunnboksutskriftInfoResponse"/>

  <xs:element name="omfangAvGrunnboksutskrift" type="tns:omfangAvGrunnboksutskrift"/>

  <xs:element name="omfangAvGrunnboksutskriftResponse" type="tns:omfangAvGrunnboksutskriftResponse"/>

  <xs:element name="omfangAvHistoriskGrunnboksutskrift" type="tns:omfangAvHistoriskGrunnboksutskrift"/>

  <xs:element name="omfangAvHistoriskGrunnboksutskriftResponse" type="tns:omfangAvHistoriskGrunnboksutskriftResponse"/>

  <xs:element name="ubekreftetGrunnboksutskrift" type="tns:ubekreftetGrunnboksutskrift"/>

  <xs:element name="ubekreftetGrunnboksutskriftHtml" type="tns:ubekreftetGrunnboksutskriftHtml"/>

  <xs:element name="ubekreftetGrunnboksutskriftHtmlResponse" type="tns:ubekreftetGrunnboksutskriftHtmlResponse"/>

  <xs:element name="ubekreftetGrunnboksutskriftMedRnr" type="tns:ubekreftetGrunnboksutskriftMedRnr"/>

  <xs:element name="ubekreftetGrunnboksutskriftMedRnrResponse" type="tns:ubekreftetGrunnboksutskriftMedRnrResponse"/>

  <xs:element name="ubekreftetGrunnboksutskriftResponse" type="tns:ubekreftetGrunnboksutskriftResponse"/>

  <xs:element name="ubekreftetHistoriskGrunnboksutskrift" type="tns:ubekreftetHistoriskGrunnboksutskrift"/>

  <xs:element name="ubekreftetHistoriskGrunnboksutskriftHtml" type="tns:ubekreftetHistoriskGrunnboksutskriftHtml"/>

  <xs:element name="ubekreftetHistoriskGrunnboksutskriftHtmlResponse" type="tns:ubekreftetHistoriskGrunnboksutskriftHtmlResponse"/>

  <xs:element name="ubekreftetHistoriskGrunnboksutskriftMedRnr" type="tns:ubekreftetHistoriskGrunnboksutskriftMedRnr"/>

  <xs:element name="ubekreftetHistoriskGrunnboksutskriftMedRnrResponse" type="tns:ubekreftetHistoriskGrunnboksutskriftMedRnrResponse"/>

  <xs:element name="ubekreftetHistoriskGrunnboksutskriftResponse" type="tns:ubekreftetHistoriskGrunnboksutskriftResponse"/>

  <xs:complexType name="ubekreftetHistoriskGrunnboksutskriftHtml">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ubekreftetHistoriskGrunnboksutskriftHtmlResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAvGrunnboksutskriftServitutter">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAvGrunnboksutskriftServitutterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAvGrunnboksutskriftPengeheftelser">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAvGrunnboksutskriftPengeheftelserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAvGrunnboksutskriftRegisterenhetsendringer">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAvGrunnboksutskriftRegisterenhetsendringerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ubekreftetHistoriskGrunnboksutskrift">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ubekreftetHistoriskGrunnboksutskriftResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAvGrunnboksutskriftOverdragelser">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAvGrunnboksutskriftOverdragelserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAvGrunnboksutskriftTidligerePengeheftelser">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAvGrunnboksutskriftTidligerePengeheftelserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ubekreftetHistoriskGrunnboksutskriftMedRnr">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ubekreftetHistoriskGrunnboksutskriftMedRnrResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bekreftetHistoriskGrunnboksutskriftPdf">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bekreftetHistoriskGrunnboksutskriftPdfResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAvGrunnboksutskriftTidligereRegisterenhetsendringer">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAvGrunnboksutskriftTidligereRegisterenhetsendringerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="omfangAvGrunnboksutskrift">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="omfangAvGrunnboksutskriftResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAvGrunnboksutskriftTidligereServitutter">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAvGrunnboksutskriftTidligereServitutterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bekreftetGrunnboksutskriftPdf">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bekreftetGrunnboksutskriftPdfResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ubekreftetGrunnboksutskriftMedRnr">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ubekreftetGrunnboksutskriftMedRnrResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAvGrunnboksutskriftTidligereOverdragelser">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAvGrunnboksutskriftTidligereOverdragelserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="grunnboksutskriftInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="grunnboksutskriftInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="omfangAvHistoriskGrunnboksutskrift">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="omfangAvHistoriskGrunnboksutskriftResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ubekreftetGrunnboksutskriftHtml">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ubekreftetGrunnboksutskriftHtmlResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ubekreftetGrunnboksutskrift">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ubekreftetGrunnboksutskriftResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
