src/main/resources/grunnbok/IdentServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v1/service/ident" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="IdentServiceWS" targetNamespace="http://kartverket.no/grunnbok/wsapi/v1/service/ident">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/servicetyper" schemaLocation="servicetyper.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/ident" schemaLocation="IdentServiceWS_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/saksbehandlingsdata" schemaLocation="register_saksbehandlingsdata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/rettsendring" schemaLocation="register_rettsstiftelse_rettsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="register_rettsstiftelse_registerenhetsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="register_rettsstiftelse_personkoblingsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/overdragelse" schemaLocation="register_rettsstiftelse_overdragelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/heftelse" schemaLocation="register_rettsstiftelse_heftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/anmerkning" schemaLocation="register_rettsstiftelse_anmerkning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse" schemaLocation="register_rettsstiftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet" schemaLocation="register_registerenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/person" schemaLocation="register_person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder" schemaLocation="register_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/journal" schemaLocation="register_journal.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/dokument" schemaLocation="register_dokument.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/adresse" schemaLocation="register_adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register" schemaLocation="register.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findIdentsForIds">
    <part element="tns:findIdentsForIds" name="parameters"/>
  </message>
  <message name="findIdentsForIdsResponse">
    <part element="tns:findIdentsForIdsResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findRegisterenhetIdsForIdents">
    <part element="tns:findRegisterenhetIdsForIdents" name="parameters"/>
  </message>
  <message name="findRegisterenhetIdsForIdentsResponse">
    <part element="tns:findRegisterenhetIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findPersonIdsForIdents">
    <part element="tns:findPersonIdsForIdents" name="parameters"/>
  </message>
  <message name="findPersonIdsForIdentsResponse">
    <part element="tns:findPersonIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findDokumentIdsForIdents">
    <part element="tns:findDokumentIdsForIdents" name="parameters"/>
  </message>
  <message name="findDokumentIdsForIdentsResponse">
    <part element="tns:findDokumentIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findBorettslagIdsForIdents">
    <part element="tns:findBorettslagIdsForIdents" name="parameters"/>
  </message>
  <message name="findBorettslagIdsForIdentsResponse">
    <part element="tns:findBorettslagIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findKommuneIdsForIdents">
    <part element="tns:findKommuneIdsForIdents" name="parameters"/>
  </message>
  <message name="findKommuneIdsForIdentsResponse">
    <part element="tns:findKommuneIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="ValidationException">
    <part element="tns:ValidationException" name="fault"/>
  </message>
  <message name="findRegisterenhetsrettIdsForIdents">
    <part element="tns:findRegisterenhetsrettIdsForIdents" name="parameters"/>
  </message>
  <message name="findRegisterenhetsrettIdsForIdentsResponse">
    <part element="tns:findRegisterenhetsrettIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findMatrikkelenhetIdsForIdents">
    <part element="tns:findMatrikkelenhetIdsForIdents" name="parameters"/>
  </message>
  <message name="findMatrikkelenhetIdsForIdentsResponse">
    <part element="tns:findMatrikkelenhetIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findRettsstiftelseIdsForIdents">
    <part element="tns:findRettsstiftelseIdsForIdents" name="parameters"/>
  </message>
  <message name="findRettsstiftelseIdsForIdentsResponse">
    <part element="tns:findRettsstiftelseIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findBorettslagsandelIdsForIdents">
    <part element="tns:findBorettslagsandelIdsForIdents" name="parameters"/>
  </message>
  <message name="findBorettslagsandelIdsForIdentsResponse">
    <part element="tns:findBorettslagsandelIdsForIdentsResponse" name="parameters"/>
  </message>
  <portType name="IdentService">
    <operation name="findIdentsForIds">
      <input message="tns:findIdentsForIds"/>
      <output message="tns:findIdentsForIdsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findRegisterenhetIdsForIdents">
      <input message="tns:findRegisterenhetIdsForIdents"/>
      <output message="tns:findRegisterenhetIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findPersonIdsForIdents">
      <input message="tns:findPersonIdsForIdents"/>
      <output message="tns:findPersonIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findDokumentIdsForIdents">
      <input message="tns:findDokumentIdsForIdents"/>
      <output message="tns:findDokumentIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findBorettslagIdsForIdents">
      <input message="tns:findBorettslagIdsForIdents"/>
      <output message="tns:findBorettslagIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findKommuneIdsForIdents">
      <input message="tns:findKommuneIdsForIdents"/>
      <output message="tns:findKommuneIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
      <fault message="tns:ValidationException" name="ValidationException"/>
    </operation>
    <operation name="findRegisterenhetsrettIdsForIdents">
      <input message="tns:findRegisterenhetsrettIdsForIdents"/>
      <output message="tns:findRegisterenhetsrettIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findMatrikkelenhetIdsForIdents">
      <input message="tns:findMatrikkelenhetIdsForIdents"/>
      <output message="tns:findMatrikkelenhetIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findRettsstiftelseIdsForIdents">
      <input message="tns:findRettsstiftelseIdsForIdents"/>
      <output message="tns:findRettsstiftelseIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findBorettslagsandelIdsForIdents">
      <input message="tns:findBorettslagsandelIdsForIdents"/>
      <output message="tns:findBorettslagsandelIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
  </portType>
  <binding name="IdentServicePortBinding" type="tns:IdentService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findIdentsForIds">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRegisterenhetIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findPersonIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findDokumentIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBorettslagIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKommuneIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRegisterenhetsrettIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findMatrikkelenhetIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsstiftelseIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBorettslagsandelIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="IdentServiceWS">
    <port binding="tns:IdentServicePortBinding" name="IdentServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>
