src/main/resources/grunnbok/NedlastningServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v1/service/nedlastning" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="NedlastningServiceWS" targetNamespace="http://kartverket.no/grunnbok/wsapi/v1/service/nedlastning">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/nedlastning" schemaLocation="NedlastningServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/saksbehandlingsdata" schemaLocation="register_saksbehandlingsdata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/rettsendring" schemaLocation="register_rettsstiftelse_rettsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="register_rettsstiftelse_registerenhetsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="register_rettsstiftelse_personkoblingsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/overdragelse" schemaLocation="register_rettsstiftelse_overdragelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/heftelse" schemaLocation="register_rettsstiftelse_heftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/anmerkning" schemaLocation="register_rettsstiftelse_anmerkning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse" schemaLocation="register_rettsstiftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet" schemaLocation="register_registerenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/person" schemaLocation="register_person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder" schemaLocation="register_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/journal" schemaLocation="register_journal.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/dokument" schemaLocation="register_dokument.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/adresse" schemaLocation="register_adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register" schemaLocation="register.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="calcObjektkontrollForList">
    <part element="tns:calcObjektkontrollForList" name="parameters"/>
  </message>
  <message name="calcObjektkontrollForListResponse">
    <part element="tns:calcObjektkontrollForListResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findObjekterEtterId">
    <part element="tns:findObjekterEtterId" name="parameters"/>
  </message>
  <message name="findObjekterEtterIdResponse">
    <part element="tns:findObjekterEtterIdResponse" name="parameters"/>
  </message>
  <message name="calcObjektkontrollForRange">
    <part element="tns:calcObjektkontrollForRange" name="parameters"/>
  </message>
  <message name="calcObjektkontrollForRangeResponse">
    <part element="tns:calcObjektkontrollForRangeResponse" name="parameters"/>
  </message>
  <message name="findIdsEtterId">
    <part element="tns:findIdsEtterId" name="parameters"/>
  </message>
  <message name="findIdsEtterIdResponse">
    <part element="tns:findIdsEtterIdResponse" name="parameters"/>
  </message>
  <portType name="NedlastningService">
    <operation name="calcObjektkontrollForList">
      <input message="tns:calcObjektkontrollForList"/>
      <output message="tns:calcObjektkontrollForListResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findObjekterEtterId">
      <input message="tns:findObjekterEtterId"/>
      <output message="tns:findObjekterEtterIdResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="calcObjektkontrollForRange">
      <input message="tns:calcObjektkontrollForRange"/>
      <output message="tns:calcObjektkontrollForRangeResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findIdsEtterId">
      <input message="tns:findIdsEtterId"/>
      <output message="tns:findIdsEtterIdResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
  </portType>
  <binding name="NedlastningServicePortBinding" type="tns:NedlastningService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="calcObjektkontrollForList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findObjekterEtterId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="calcObjektkontrollForRange">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findIdsEtterId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="NedlastningServiceWS">
    <port binding="tns:NedlastningServicePortBinding" name="NedlastningServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>
