src/main/resources/grunnbok/RegisterenhetsrettsandelServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v1/service/registerenhetsrettsandel" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RegisterenhetsrettsandelServiceWS" targetNamespace="http://kartverket.no/grunnbok/wsapi/v1/service/registerenhetsrettsandel">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/servicetyper" schemaLocation="servicetyper.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/registerenhetsrettsandel" schemaLocation="RegisterenhetsrettsandelServiceWS_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/saksbehandlingsdata" schemaLocation="register_saksbehandlingsdata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/rettsendring" schemaLocation="register_rettsstiftelse_rettsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="register_rettsstiftelse_registerenhetsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="register_rettsstiftelse_personkoblingsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/overdragelse" schemaLocation="register_rettsstiftelse_overdragelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/heftelse" schemaLocation="register_rettsstiftelse_heftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/anmerkning" schemaLocation="register_rettsstiftelse_anmerkning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse" schemaLocation="register_rettsstiftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet" schemaLocation="register_registerenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/person" schemaLocation="register_person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder" schemaLocation="register_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/journal" schemaLocation="register_journal.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/dokument" schemaLocation="register_dokument.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/adresse" schemaLocation="register_adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register" schemaLocation="register.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findAndelerForRettighetshaverePerson">
    <part element="tns:findAndelerForRettighetshaverePerson" name="parameters"/>
  </message>
  <message name="findAndelerForRettighetshaverePersonResponse">
    <part element="tns:findAndelerForRettighetshaverePersonResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findAndelerForRettighetshavereRegisterenhet">
    <part element="tns:findAndelerForRettighetshavereRegisterenhet" name="parameters"/>
  </message>
  <message name="findAndelerForRettighetshavereRegisterenhetResponse">
    <part element="tns:findAndelerForRettighetshavereRegisterenhetResponse" name="parameters"/>
  </message>
  <message name="findAndelerIRetter">
    <part element="tns:findAndelerIRetter" name="parameters"/>
  </message>
  <message name="findAndelerIRetterResponse">
    <part element="tns:findAndelerIRetterResponse" name="parameters"/>
  </message>
  <portType name="RegisterenhetsrettsandelService">
    <operation name="findAndelerForRettighetshaverePerson">
      <input message="tns:findAndelerForRettighetshaverePerson"/>
      <output message="tns:findAndelerForRettighetshaverePersonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findAndelerForRettighetshavereRegisterenhet">
      <input message="tns:findAndelerForRettighetshavereRegisterenhet"/>
      <output message="tns:findAndelerForRettighetshavereRegisterenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findAndelerIRetter">
      <input message="tns:findAndelerIRetter"/>
      <output message="tns:findAndelerIRetterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
  </portType>
  <binding name="RegisterenhetsrettsandelServicePortBinding" type="tns:RegisterenhetsrettsandelService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findAndelerForRettighetshaverePerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAndelerForRettighetshavereRegisterenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAndelerIRetter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RegisterenhetsrettsandelServiceWS">
    <port binding="tns:RegisterenhetsrettsandelServicePortBinding" name="RegisterenhetsrettsandelServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>
