src/main/resources/grunnbok/register_saksbehandlingsdata.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema
        version="1.0"
        targetNamespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/saksbehandlingsdata"
        xmlns:register_saksbehandlingsdatans="http://kartverket.no/grunnbok/wsapi/v1/domain/register/saksbehandlingsdata"
        xmlns:register_dokumentns="http://kartverket.no/grunnbok/wsapi/v1/domain/register/dokument"
        xmlns:register_rettsstiftelse="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse"
        xmlns:register_koderns="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder"
        xmlns:basistyperns="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <xs:import schemaLocation="basistyper.xsd" namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper"/>
    <xs:import schemaLocation="register_dokument.xsd" namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/dokument"/>
    <xs:import schemaLocation="register_rettsstiftelse.xsd" namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse"/>
    <xs:import schemaLocation="register_koder.xsd" namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder"/>

    <!-- ========================================================= -->
    <!-- register/saksbehandling:                                  -->
    <!-- Saksbehandlingsdata i register subdomain                  -->
    <!-- ========================================================= -->

    <!-- Bruker -->

    <xs:complexType name="BrukerId">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistoryId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BrukerIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_saksbehandlingsdatans:BrukerId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BrukerIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_saksbehandlingsdatans:BrukerId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BrukerIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_saksbehandlingsdatans:BrukerIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Bruker">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistory">
                <xs:sequence>
                    <xs:element name="navn" type="xs:string" />
                    <xs:element name="brukernavn" type="xs:string" />
                    <xs:element name="gjelderFra" type="basistyperns:LocalDate" />
                    <xs:element name="historisk" type="xs:boolean" />
                    <xs:element name="fastOrganisatoriskEnhetId" type="register_saksbehandlingsdatans:OrganisatoriskEnhetId" nillable="true" />
                    <xs:element name="borettOrganisatoriskEnhetId" type="register_saksbehandlingsdatans:OrganisatoriskEnhetId" nillable="true"/>
                    <xs:element name="brukerTilgangsgrupper" type="register_saksbehandlingsdatans:BrukerTilgangsgruppeList" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- OrganisatoriskEnhet -->

    <xs:complexType name="OrganisatoriskEnhetId">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistoryId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisatoriskEnhetIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_saksbehandlingsdatans:OrganisatoriskEnhetId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OrganisatoriskEnhetIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_saksbehandlingsdatans:OrganisatoriskEnhetId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisatoriskEnhetIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_saksbehandlingsdatans:OrganisatoriskEnhetIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrganisatoriskEnhet">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistory">
                <xs:sequence>
                    <xs:element name="navn" type="xs:string"/>
                    <xs:element name="internGruppe" type="xs:boolean"/>
                    <xs:element name="foeringsdagAvsluttet" type="xs:boolean"/>
                    <xs:element name="historisk" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Brukertilgangsgruppe -->

    <xs:complexType name="BrukerTilgangsgruppe">
        <xs:complexContent>
            <xs:extension base="basistyperns:EntityComponentWithHistory">
                <xs:sequence>
                    <xs:element name="historisk" type="xs:boolean"/>
                    <xs:element name="gjelderFra" type="basistyperns:LocalDate"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BrukerTilgangsgruppeList">
        <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="register_saksbehandlingsdatans:BrukerTilgangsgruppe"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Tilgangsgruppe -->

    <xs:complexType name="TilgangsgruppeId">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistoryId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TilgangsgruppeIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_saksbehandlingsdatans:TilgangsgruppeId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TilgangsgruppeIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_saksbehandlingsdatans:TilgangsgruppeId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TilgangsgruppeIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_saksbehandlingsdatans:TilgangsgruppeIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Tilgangsgruppe">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistory">
                <xs:sequence>
                    <xs:element name="historisk" type="xs:boolean"/>
                    <xs:element name="gjelderFra" type="basistyperns:LocalDate"/>
                    <xs:element name="tilgangsgruppenavn" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- DokumentSaksbehandling -->

    <xs:complexType name="DokumentSaksbehandlingId">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistoryId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DokumentSaksbehandlingIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_saksbehandlingsdatans:DokumentSaksbehandlingId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DokumentSaksbehandlingIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_saksbehandlingsdatans:DokumentSaksbehandlingId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DokumentSaksbehandlingIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_saksbehandlingsdatans:DokumentSaksbehandlingIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DokumentSaksbehandling">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistory">
                <xs:sequence>
                    <xs:element name="dokumentId" type="register_dokumentns:DokumentId" />
                    <xs:element name="aarsakTilFjerningId" type="register_koderns:AarsakTilFjerningKodeId" nillable="true"/>
                    <xs:element name="dokumentkildeId" type="register_koderns:DokumentkildeKodeId" />
                    <xs:element name="interntNotat" type="register_saksbehandlingsdatans:InterntNotat" nillable="true"/>
                    <xs:element name="aarsakTilFjerningTekst" type="xs:string" nillable="true"/>
                    <xs:element name="edokReferanse" type="xs:decimal" nillable="true"/>
                    <xs:element name="elektroniskFullsignert" type="xs:boolean" />
                    <xs:element name="dokumentflyt" type="register_saksbehandlingsdatans:DokumentflytStegList" />
                    <xs:element name="organisatoriskEnhetId" type="register_saksbehandlingsdatans:OrganisatoriskEnhetId" nillable="true"/>
                    <xs:element name="sistKonferertDato" type="basistyperns:LocalDate" nillable="true"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- DokumentflytSteg -->

    <xs:complexType name="DokumentflytSteg">
        <xs:sequence>
            <xs:element name="foeringstidspunkt" type="basistyperns:LocalDateTime"/>
            <xs:element name="foeringsstatusId" type="register_koderns:FoeringsstatusKodeId"/>
            <xs:element name="brukerId" type="register_saksbehandlingsdatans:BrukerId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DokumentflytStegList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_saksbehandlingsdatans:DokumentflytSteg"/>
        </xs:sequence>
    </xs:complexType>


    <!-- InterntNotat -->

    <xs:complexType name="InterntNotat">
        <xs:sequence>
            <xs:element name="historisk" type="xs:boolean"/>
            <xs:element name="tekst" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InterntNotatList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_saksbehandlingsdatans:InterntNotat"/>
        </xs:sequence>
    </xs:complexType>

    <!-- RettsstiftelsestypeSaksbehandling -->

    <xs:complexType name="RettsstiftelsestypeSaksbehandlingId">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistoryId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RettsstiftelsestypeSaksbehandlingIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_saksbehandlingsdatans:RettsstiftelsestypeSaksbehandlingId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RettsstiftelsestypeSaksbehandlingIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_saksbehandlingsdatans:RettsstiftelsestypeSaksbehandlingId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RettsstiftelsestypeSaksbehandlingIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_saksbehandlingsdatans:RettsstiftelsestypeSaksbehandlingIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RettsstiftelsestypeSaksbehandling">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistory">
                <xs:sequence>
                    <xs:element name="edokAutomatiskKonferering" type="xs:boolean"/>
                    <xs:element name="edokHelelektronisk" type="xs:boolean"/>
                    <xs:element name="forfallAntallAar" type="xs:int"/>
                    <xs:element name="gebyr" type="xs:boolean"/>
                    <xs:element name="genererAutomatiskPanteattest" type="xs:boolean"/>
                    <xs:element name="kanEdokRegistreres" type="xs:boolean"/>
                    <xs:element name="kanEdokSlettes" type="xs:boolean"/>
                    <xs:element name="kanHaForretningsnummer" type="xs:boolean"/>
                    <xs:element name="arkivtypeId" type="register_koderns:ArkivtypeKodeId"/>
                    <xs:element name="rettsstiftelsestypeId" type="register_koderns:RettsstiftelsestypeKodeId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- RettsstiftelseSaksbehandling -->

    <xs:complexType name="RettsstiftelseSaksbehandlingId">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistoryId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RettsstiftelseSaksbehandlingIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_saksbehandlingsdatans:RettsstiftelseSaksbehandlingId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RettsstiftelseSaksbehandlingIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_saksbehandlingsdatans:RettsstiftelseSaksbehandlingId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RettsstiftelseSaksbehandlingIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_saksbehandlingsdatans:RettsstiftelseSaksbehandlingIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RettsstiftelseSaksbehandling">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistory">
                <xs:sequence>
                    <xs:element name="rettsstiftelseId" type="register_rettsstiftelse:RettsstiftelseId"/>
                    <xs:element name="edokDokumentVersjonId" type="register_koderns:EdokDokumentVersjonKodeId"/>
                    <xs:element name="edokDokumentnavnId" type="register_koderns:EdokDokumentnavnKodeId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- LovligTeksttypekode -->
    <xs:complexType name="LovligTeksttypekode">
        <xs:complexContent>
            <xs:extension base="basistyperns:EntityComponentWithHistory">
                <xs:sequence>
                    <xs:element name="teksttypeId" type="register_koderns:TeksttypeKodeId"/>
                    <xs:element name="rettsstiftelsestypeId" type="register_koderns:RettsstiftelsestypeKodeId"/>
                    <xs:element name="raaderettskode" type="xs:boolean"/>
                    <xs:element name="historisk" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LovligTeksttypekodeList">
        <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="register_saksbehandlingsdatans:LovligTeksttypekode"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Gebyrsats -->

    <xs:complexType name="GebyrsatsId">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistoryId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GebyrsatsIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_saksbehandlingsdatans:GebyrsatsId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GebyrsatsIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" type="register_saksbehandlingsdatans:GebyrsatsId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GebyrsatsIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" type="register_saksbehandlingsdatans:GebyrsatsIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Gebyrsats">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistory">
                <xs:sequence>
                    <xs:element name="rettstypeId" type="register_koderns:RettstypeKodeId"/>
                    <xs:element name="rettsstiftelsestypeId" type="register_koderns:RettsstiftelsestypeKodeId"/>
                    <xs:element name="gebyrnavn" type="xs:string"/>
                    <xs:element name="gjelderFra" type="basistyperns:LocalDate"/>
                    <xs:element name="gjelderTil" type="basistyperns:LocalDate"/>
                    <xs:element name="minimumsbeloep" type="xs:decimal"/>
                    <xs:element name="prosentAvRettsgebyr" type="xs:decimal"/>
                    <xs:element name="tellerIBroekAvRettsgebyr" type="xs:long" nillable="true"/>
                    <xs:element name="nevnerIBroekAvRettsgebyr" type="xs:long" nillable="true"/>
                    <xs:element name="gebyrbeloep" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
