src/main/resources/grunnbok/register.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema
        xmlns:registerns="http://kartverket.no/grunnbok/wsapi/v1/domain/register"
        xmlns:basistyperns="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper"
        xmlns:register_koderns="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder"
        xmlns:register_personns="http://kartverket.no/grunnbok/wsapi/v1/domain/register/person"
        xmlns:register_registerenhetns="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        version="1.0"
        targetNamespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register"
        elementFormDefault="qualified">

    <xs:import schemaLocation="basistyper.xsd" namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper"/>
    <xs:import schemaLocation="register_koder.xsd"
               namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder"/>
    <xs:import schemaLocation="register_person.xsd"
               namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/person"/>
    <xs:import schemaLocation="register_registerenhet.xsd"
               namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet"/>
    <xs:import schemaLocation="register_rettsstiftelse.xsd"
               namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse"/>

    <!-- ========================================================= -->
    <!-- register:                                                 -->
    <!-- Fellesklasser i register subdomain                        -->
    <!-- ========================================================= -->

    <!-- Kommune -->

    <xs:complexType name="KommuneId">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistoryId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="KommuneIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="registerns:KommuneId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KommuneIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="registerns:KommuneId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="KommuneIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="registerns:KommuneIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Kommune">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistory">
                <xs:sequence>
                    <xs:element name="kommunenummer" type="xs:string"/>
                    <xs:element name="navn" type="xs:string"/>
                    <xs:element name="embeteId" type="register_koderns:EmbeteKodeId"/>
                    <xs:element name="konsesjonsgrenseId" type="register_koderns:KonsesjonsgrenseKodeId"/>
                    <xs:element name="historisk" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="KommuneIdent">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokBubbleObjectIdent">
                <xs:sequence>
                    <xs:element name="kommunenummer" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="KommuneIdentList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="registerns:KommuneIdent"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Borettslag -->

    <xs:complexType name="BorettslagId">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistoryId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BorettslagIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="registerns:BorettslagId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BorettslagIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="registerns:BorettslagId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BorettslagIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="registerns:BorettslagIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Borettslag">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistory">
                <xs:sequence>
                    <xs:element name="organisasjonId" type="register_personns:PersonId"/>
                    <xs:element name="historisk" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BorettslagIdent">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokBubbleObjectIdent">
                <xs:sequence>
                    <xs:element name="borettslagnummer" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BorettslagIdentList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="registerns:BorettslagIdent"/>
        </xs:sequence>
    </xs:complexType>





    <!-- Postnummeromraade -->

    <xs:complexType name="PostnummeromraadeId">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistoryId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PostnummeromraadeIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="registerns:PostnummeromraadeId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PostnummeromraadeIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="registerns:PostnummeromraadeId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PostnummeromraadeIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="registerns:PostnummeromraadeIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Postnummeromraade">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistory">
                <xs:sequence>
                    <xs:element name="postnummer" type="xs:string"/>
                    <xs:element name="poststednavn" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Registerenhetsrett -->

    <xs:complexType name="RegisterenhetsrettId">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistoryId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RegisterenhetsrettIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="registerns:RegisterenhetsrettId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RegisterenhetsrettIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="registerns:RegisterenhetsrettId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RegisterenhetsrettIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="registerns:RegisterenhetsrettIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RegisterenhetsrettIdent">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokBubbleObjectIdent">
                <xs:sequence>
                    <xs:element name="registerenhetsrett" nillable="false" type="xs:string"/>
                    <xs:element name="registerenhetIdent" nillable="false" type="register_registerenhetns:RegisterenhetIdent"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RegisterenhetsrettIdentList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="registerns:RegisterenhetsrettIdent"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Registerenhetsrett">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistory">
                <xs:sequence>
                    <xs:element name="registerenhetId" type="register_registerenhetns:RegisterenhetId"/>
                    <xs:element name="registerenhetsrettstypeId" type="register_koderns:RegisterenhetsrettstypeKodeId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Registerenhetsrettsandel -->

    <xs:complexType name="RegisterenhetsrettsandelId">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistoryId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RegisterenhetsrettsandelIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="registerns:RegisterenhetsrettsandelId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RegisterenhetsrettsandelIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="registerns:RegisterenhetsrettsandelId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RegisterenhetsrettsandelIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="registerns:RegisterenhetsrettsandelIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Registerenhetsrettsandel">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistory">
                <xs:sequence>
                    <xs:element name="teller" type="xs:long"/>
                    <xs:element name="nevner" type="xs:long"/>
                    <xs:element name="historisk" type="xs:boolean"/>
                    <xs:element name="loepenummer" type="xs:int"/>
                    <xs:element name="rettighetshaverPersonId" type="register_personns:PersonId" nillable="true"/>
                    <xs:element name="rettighetshaverRegisterenhetId" type="register_registerenhetns:RegisterenhetId" nillable="true"/>
                    <xs:element name="registerenhetsrettId" type="registerns:RegisterenhetsrettId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Foeringsdag -->

    <xs:complexType name="FoeringsdagId">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistoryId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FoeringsdagIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="registerns:FoeringsdagId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FoeringsdagIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="registerns:FoeringsdagId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FoeringsdagIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="registerns:FoeringsdagIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Foeringsdag">
        <xs:complexContent>
            <xs:extension base="basistyperns:GrunnbokObjectWithHistory">
                <xs:sequence>
                    <xs:element name="foeringsdato" type="basistyperns:LocalDate"/>
                    <xs:element name="avsluttetForFast" type="xs:boolean"/>
                    <xs:element name="avsluttetForBorett" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>



</xs:schema>
