src/main/resources/grunnbok/RettsstiftelseServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v1/service/rettsstiftelse" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RettsstiftelseServiceWS" targetNamespace="http://kartverket.no/grunnbok/wsapi/v1/service/rettsstiftelse">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/servicetyper" schemaLocation="servicetyper.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/rettsstiftelse" schemaLocation="RettsstiftelseServiceWS_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/saksbehandlingsdata" schemaLocation="register_saksbehandlingsdata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/rettsendring" schemaLocation="register_rettsstiftelse_rettsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="register_rettsstiftelse_registerenhetsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="register_rettsstiftelse_personkoblingsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/overdragelse" schemaLocation="register_rettsstiftelse_overdragelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/heftelse" schemaLocation="register_rettsstiftelse_heftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/anmerkning" schemaLocation="register_rettsstiftelse_anmerkning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse" schemaLocation="register_rettsstiftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet" schemaLocation="register_registerenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/person" schemaLocation="register_person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder" schemaLocation="register_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/journal" schemaLocation="register_journal.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/dokument" schemaLocation="register_dokument.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/adresse" schemaLocation="register_adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register" schemaLocation="register.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findTidligereHeftelserIRegisterenhetsrettsandeler">
    <part element="tns:findTidligereHeftelserIRegisterenhetsrettsandeler" name="parameters"/>
  </message>
  <message name="findTidligereHeftelserIRegisterenhetsrettsandelerResponse">
    <part element="tns:findTidligereHeftelserIRegisterenhetsrettsandelerResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findOverdragelserMedAktiveAndelerIRegisterenhet">
    <part element="tns:findOverdragelserMedAktiveAndelerIRegisterenhet" name="parameters"/>
  </message>
  <message name="findOverdragelserMedAktiveAndelerIRegisterenhetResponse">
    <part element="tns:findOverdragelserMedAktiveAndelerIRegisterenhetResponse" name="parameters"/>
  </message>
  <message name="findTidligereOverdragelserAvRegisterenhetsrett">
    <part element="tns:findTidligereOverdragelserAvRegisterenhetsrett" name="parameters"/>
  </message>
  <message name="findTidligereOverdragelserAvRegisterenhetsrettResponse">
    <part element="tns:findTidligereOverdragelserAvRegisterenhetsrettResponse" name="parameters"/>
  </message>
  <message name="findOverdragelserAvRegisterenhetsrettForPerson">
    <part element="tns:findOverdragelserAvRegisterenhetsrettForPerson" name="parameters"/>
  </message>
  <message name="findOverdragelserAvRegisterenhetsrettForPersonResponse">
    <part element="tns:findOverdragelserAvRegisterenhetsrettForPersonResponse" name="parameters"/>
  </message>
  <message name="findRettsstiftelserMedUtgaatteAndeler">
    <part element="tns:findRettsstiftelserMedUtgaatteAndeler" name="parameters"/>
  </message>
  <message name="findRettsstiftelserMedUtgaatteAndelerResponse">
    <part element="tns:findRettsstiftelserMedUtgaatteAndelerResponse" name="parameters"/>
  </message>
  <message name="findTidligereHeftelserIRegisterenhetsretter">
    <part element="tns:findTidligereHeftelserIRegisterenhetsretter" name="parameters"/>
  </message>
  <message name="findTidligereHeftelserIRegisterenhetsretterResponse">
    <part element="tns:findTidligereHeftelserIRegisterenhetsretterResponse" name="parameters"/>
  </message>
  <message name="findRettsstiftelsestypeKoderForRettstypeKoder">
    <part element="tns:findRettsstiftelsestypeKoderForRettstypeKoder" name="parameters"/>
  </message>
  <message name="findRettsstiftelsestypeKoderForRettstypeKoderResponse">
    <part element="tns:findRettsstiftelsestypeKoderForRettstypeKoderResponse" name="parameters"/>
  </message>
  <message name="findMatrikkelenhetsendringerAlleRoller">
    <part element="tns:findMatrikkelenhetsendringerAlleRoller" name="parameters"/>
  </message>
  <message name="findMatrikkelenhetsendringerAlleRollerResponse">
    <part element="tns:findMatrikkelenhetsendringerAlleRollerResponse" name="parameters"/>
  </message>
  <message name="findHeftelserIRegisterenhetsretter">
    <part element="tns:findHeftelserIRegisterenhetsretter" name="parameters"/>
  </message>
  <message name="findHeftelserIRegisterenhetsretterResponse">
    <part element="tns:findHeftelserIRegisterenhetsretterResponse" name="parameters"/>
  </message>
  <message name="findMatrikkelenhetsendringerFra">
    <part element="tns:findMatrikkelenhetsendringerFra" name="parameters"/>
  </message>
  <message name="findMatrikkelenhetsendringerFraResponse">
    <part element="tns:findMatrikkelenhetsendringerFraResponse" name="parameters"/>
  </message>
  <message name="findBorettslagsandelsendringerFra">
    <part element="tns:findBorettslagsandelsendringerFra" name="parameters"/>
  </message>
  <message name="findBorettslagsandelsendringerFraResponse">
    <part element="tns:findBorettslagsandelsendringerFraResponse" name="parameters"/>
  </message>
  <message name="findMatrikkelenhetsendringerTil">
    <part element="tns:findMatrikkelenhetsendringerTil" name="parameters"/>
  </message>
  <message name="findMatrikkelenhetsendringerTilResponse">
    <part element="tns:findMatrikkelenhetsendringerTilResponse" name="parameters"/>
  </message>
  <message name="findRettsstiftelserMedNyeAndeler">
    <part element="tns:findRettsstiftelserMedNyeAndeler" name="parameters"/>
  </message>
  <message name="findRettsstiftelserMedNyeAndelerResponse">
    <part element="tns:findRettsstiftelserMedNyeAndelerResponse" name="parameters"/>
  </message>
  <message name="findOverdragelserAvRegisterenhetsrett">
    <part element="tns:findOverdragelserAvRegisterenhetsrett" name="parameters"/>
  </message>
  <message name="findOverdragelserAvRegisterenhetsrettResponse">
    <part element="tns:findOverdragelserAvRegisterenhetsrettResponse" name="parameters"/>
  </message>
  <message name="findHeftelserIRegisterenhetsrettsandeler">
    <part element="tns:findHeftelserIRegisterenhetsrettsandeler" name="parameters"/>
  </message>
  <message name="findHeftelserIRegisterenhetsrettsandelerResponse">
    <part element="tns:findHeftelserIRegisterenhetsrettsandelerResponse" name="parameters"/>
  </message>
  <message name="findBorettslagsandelsendringerTil">
    <part element="tns:findBorettslagsandelsendringerTil" name="parameters"/>
  </message>
  <message name="findBorettslagsandelsendringerTilResponse">
    <part element="tns:findBorettslagsandelsendringerTilResponse" name="parameters"/>
  </message>
  <message name="findBorettslagsandelsendringerAlleRoller">
    <part element="tns:findBorettslagsandelsendringerAlleRoller" name="parameters"/>
  </message>
  <message name="findBorettslagsandelsendringerAlleRollerResponse">
    <part element="tns:findBorettslagsandelsendringerAlleRollerResponse" name="parameters"/>
  </message>
  <message name="findSeksjonssameieendringerForUtgaatte">
    <part element="tns:findSeksjonssameieendringerForUtgaatte" name="parameters"/>
  </message>
  <message name="findSeksjonssameieendringerForUtgaatteResponse">
    <part element="tns:findSeksjonssameieendringerForUtgaatteResponse" name="parameters"/>
  </message>
  <message name="findSeksjonssameieendringerForNye">
    <part element="tns:findSeksjonssameieendringerForNye" name="parameters"/>
  </message>
  <message name="findSeksjonssameieendringerForNyeResponse">
    <part element="tns:findSeksjonssameieendringerForNyeResponse" name="parameters"/>
  </message>
  <message name="findSeksjonssameieendringerAlleRoller">
    <part element="tns:findSeksjonssameieendringerAlleRoller" name="parameters"/>
  </message>
  <message name="findSeksjonssameieendringerAlleRollerResponse">
    <part element="tns:findSeksjonssameieendringerAlleRollerResponse" name="parameters"/>
  </message>
  <message name="findTidligereLeieavtalerOgRettigheter">
    <part element="tns:findTidligereLeieavtalerOgRettigheter" name="parameters"/>
  </message>
  <message name="findTidligereLeieavtalerOgRettigheterResponse">
    <part element="tns:findTidligereLeieavtalerOgRettigheterResponse" name="parameters"/>
  </message>
  <message name="findRaaderettsbegrensningerForRegisterenhet">
    <part element="tns:findRaaderettsbegrensningerForRegisterenhet" name="parameters"/>
  </message>
  <message name="findRaaderettsbegrensningerForRegisterenhetResponse">
    <part element="tns:findRaaderettsbegrensningerForRegisterenhetResponse" name="parameters"/>
  </message>
  <message name="findRettsstiftelserForDokument">
    <part element="tns:findRettsstiftelserForDokument" name="parameters"/>
  </message>
  <message name="findRettsstiftelserForDokumentResponse">
    <part element="tns:findRettsstiftelserForDokumentResponse" name="parameters"/>
  </message>
  <message name="findRettigheterForRegisterenhet">
    <part element="tns:findRettigheterForRegisterenhet" name="parameters"/>
  </message>
  <message name="findRettigheterForRegisterenhetResponse">
    <part element="tns:findRettigheterForRegisterenhetResponse" name="parameters"/>
  </message>
  <message name="findOmfangAvHistoriskGrunnboksutskrift">
    <part element="tns:findOmfangAvHistoriskGrunnboksutskrift" name="parameters"/>
  </message>
  <message name="findOmfangAvHistoriskGrunnboksutskriftResponse">
    <part element="tns:findOmfangAvHistoriskGrunnboksutskriftResponse" name="parameters"/>
  </message>
  <message name="findLeieavtalerOgRettigheter">
    <part element="tns:findLeieavtalerOgRettigheter" name="parameters"/>
  </message>
  <message name="findLeieavtalerOgRettigheterResponse">
    <part element="tns:findLeieavtalerOgRettigheterResponse" name="parameters"/>
  </message>
  <message name="findRettsendringer">
    <part element="tns:findRettsendringer" name="parameters"/>
  </message>
  <message name="findRettsendringerResponse">
    <part element="tns:findRettsendringerResponse" name="parameters"/>
  </message>
  <message name="findTidligereServitutter">
    <part element="tns:findTidligereServitutter" name="parameters"/>
  </message>
  <message name="findTidligereServitutterResponse">
    <part element="tns:findTidligereServitutterResponse" name="parameters"/>
  </message>
  <message name="findHeftelserIAnnenRett">
    <part element="tns:findHeftelserIAnnenRett" name="parameters"/>
  </message>
  <message name="findHeftelserIAnnenRettResponse">
    <part element="tns:findHeftelserIAnnenRettResponse" name="parameters"/>
  </message>
  <message name="findTidligerePengeheftelser">
    <part element="tns:findTidligerePengeheftelser" name="parameters"/>
  </message>
  <message name="findTidligerePengeheftelserResponse">
    <part element="tns:findTidligerePengeheftelserResponse" name="parameters"/>
  </message>
  <message name="findAnmerkninger">
    <part element="tns:findAnmerkninger" name="parameters"/>
  </message>
  <message name="findAnmerkningerResponse">
    <part element="tns:findAnmerkningerResponse" name="parameters"/>
  </message>
  <message name="findServitutter">
    <part element="tns:findServitutter" name="parameters"/>
  </message>
  <message name="findServitutterResponse">
    <part element="tns:findServitutterResponse" name="parameters"/>
  </message>
  <message name="findPengeheftelser">
    <part element="tns:findPengeheftelser" name="parameters"/>
  </message>
  <message name="findPengeheftelserResponse">
    <part element="tns:findPengeheftelserResponse" name="parameters"/>
  </message>
  <message name="findRegisterenhetsendringer">
    <part element="tns:findRegisterenhetsendringer" name="parameters"/>
  </message>
  <message name="findRegisterenhetsendringerResponse">
    <part element="tns:findRegisterenhetsendringerResponse" name="parameters"/>
  </message>
  <message name="findFestekontrakter">
    <part element="tns:findFestekontrakter" name="parameters"/>
  </message>
  <message name="findFestekontrakterResponse">
    <part element="tns:findFestekontrakterResponse" name="parameters"/>
  </message>
  <message name="findTidligereFestekontrakter">
    <part element="tns:findTidligereFestekontrakter" name="parameters"/>
  </message>
  <message name="findTidligereFestekontrakterResponse">
    <part element="tns:findTidligereFestekontrakterResponse" name="parameters"/>
  </message>
  <message name="findRettigheterForPerson">
    <part element="tns:findRettigheterForPerson" name="parameters"/>
  </message>
  <message name="findRettigheterForPersonResponse">
    <part element="tns:findRettigheterForPersonResponse" name="parameters"/>
  </message>
  <message name="findOmfangAvGrunnboksutskrift">
    <part element="tns:findOmfangAvGrunnboksutskrift" name="parameters"/>
  </message>
  <message name="findOmfangAvGrunnboksutskriftResponse">
    <part element="tns:findOmfangAvGrunnboksutskriftResponse" name="parameters"/>
  </message>
  <message name="findHeftelser">
    <part element="tns:findHeftelser" name="parameters"/>
  </message>
  <message name="findHeftelserResponse">
    <part element="tns:findHeftelserResponse" name="parameters"/>
  </message>
  <message name="findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhet">
    <part element="tns:findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhet" name="parameters"/>
  </message>
  <message name="findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhetResponse">
    <part element="tns:findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhetResponse" name="parameters"/>
  </message>
  <portType name="RettsstiftelseService">
    <operation name="findTidligereHeftelserIRegisterenhetsrettsandeler">
      <input message="tns:findTidligereHeftelserIRegisterenhetsrettsandeler"/>
      <output message="tns:findTidligereHeftelserIRegisterenhetsrettsandelerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findOverdragelserMedAktiveAndelerIRegisterenhet">
      <input message="tns:findOverdragelserMedAktiveAndelerIRegisterenhet"/>
      <output message="tns:findOverdragelserMedAktiveAndelerIRegisterenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findTidligereOverdragelserAvRegisterenhetsrett">
      <input message="tns:findTidligereOverdragelserAvRegisterenhetsrett"/>
      <output message="tns:findTidligereOverdragelserAvRegisterenhetsrettResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findOverdragelserAvRegisterenhetsrettForPerson">
      <input message="tns:findOverdragelserAvRegisterenhetsrettForPerson"/>
      <output message="tns:findOverdragelserAvRegisterenhetsrettForPersonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findRettsstiftelserMedUtgaatteAndeler">
      <input message="tns:findRettsstiftelserMedUtgaatteAndeler"/>
      <output message="tns:findRettsstiftelserMedUtgaatteAndelerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findTidligereHeftelserIRegisterenhetsretter">
      <input message="tns:findTidligereHeftelserIRegisterenhetsretter"/>
      <output message="tns:findTidligereHeftelserIRegisterenhetsretterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findRettsstiftelsestypeKoderForRettstypeKoder">
      <input message="tns:findRettsstiftelsestypeKoderForRettstypeKoder"/>
      <output message="tns:findRettsstiftelsestypeKoderForRettstypeKoderResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findMatrikkelenhetsendringerAlleRoller">
      <input message="tns:findMatrikkelenhetsendringerAlleRoller"/>
      <output message="tns:findMatrikkelenhetsendringerAlleRollerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findHeftelserIRegisterenhetsretter">
      <input message="tns:findHeftelserIRegisterenhetsretter"/>
      <output message="tns:findHeftelserIRegisterenhetsretterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findMatrikkelenhetsendringerFra">
      <input message="tns:findMatrikkelenhetsendringerFra"/>
      <output message="tns:findMatrikkelenhetsendringerFraResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findBorettslagsandelsendringerFra">
      <input message="tns:findBorettslagsandelsendringerFra"/>
      <output message="tns:findBorettslagsandelsendringerFraResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findMatrikkelenhetsendringerTil">
      <input message="tns:findMatrikkelenhetsendringerTil"/>
      <output message="tns:findMatrikkelenhetsendringerTilResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findRettsstiftelserMedNyeAndeler">
      <input message="tns:findRettsstiftelserMedNyeAndeler"/>
      <output message="tns:findRettsstiftelserMedNyeAndelerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findOverdragelserAvRegisterenhetsrett">
      <input message="tns:findOverdragelserAvRegisterenhetsrett"/>
      <output message="tns:findOverdragelserAvRegisterenhetsrettResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findHeftelserIRegisterenhetsrettsandeler">
      <input message="tns:findHeftelserIRegisterenhetsrettsandeler"/>
      <output message="tns:findHeftelserIRegisterenhetsrettsandelerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findBorettslagsandelsendringerTil">
      <input message="tns:findBorettslagsandelsendringerTil"/>
      <output message="tns:findBorettslagsandelsendringerTilResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findBorettslagsandelsendringerAlleRoller">
      <input message="tns:findBorettslagsandelsendringerAlleRoller"/>
      <output message="tns:findBorettslagsandelsendringerAlleRollerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findSeksjonssameieendringerForUtgaatte">
      <input message="tns:findSeksjonssameieendringerForUtgaatte"/>
      <output message="tns:findSeksjonssameieendringerForUtgaatteResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findSeksjonssameieendringerForNye">
      <input message="tns:findSeksjonssameieendringerForNye"/>
      <output message="tns:findSeksjonssameieendringerForNyeResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findSeksjonssameieendringerAlleRoller">
      <input message="tns:findSeksjonssameieendringerAlleRoller"/>
      <output message="tns:findSeksjonssameieendringerAlleRollerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findTidligereLeieavtalerOgRettigheter">
      <input message="tns:findTidligereLeieavtalerOgRettigheter"/>
      <output message="tns:findTidligereLeieavtalerOgRettigheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findRaaderettsbegrensningerForRegisterenhet">
      <input message="tns:findRaaderettsbegrensningerForRegisterenhet"/>
      <output message="tns:findRaaderettsbegrensningerForRegisterenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findRettsstiftelserForDokument">
      <input message="tns:findRettsstiftelserForDokument"/>
      <output message="tns:findRettsstiftelserForDokumentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findRettigheterForRegisterenhet">
      <input message="tns:findRettigheterForRegisterenhet"/>
      <output message="tns:findRettigheterForRegisterenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findOmfangAvHistoriskGrunnboksutskrift">
      <input message="tns:findOmfangAvHistoriskGrunnboksutskrift"/>
      <output message="tns:findOmfangAvHistoriskGrunnboksutskriftResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findLeieavtalerOgRettigheter">
      <input message="tns:findLeieavtalerOgRettigheter"/>
      <output message="tns:findLeieavtalerOgRettigheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findRettsendringer">
      <input message="tns:findRettsendringer"/>
      <output message="tns:findRettsendringerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findTidligereServitutter">
      <input message="tns:findTidligereServitutter"/>
      <output message="tns:findTidligereServitutterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findHeftelserIAnnenRett">
      <input message="tns:findHeftelserIAnnenRett"/>
      <output message="tns:findHeftelserIAnnenRettResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findTidligerePengeheftelser">
      <input message="tns:findTidligerePengeheftelser"/>
      <output message="tns:findTidligerePengeheftelserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findAnmerkninger">
      <input message="tns:findAnmerkninger"/>
      <output message="tns:findAnmerkningerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findServitutter">
      <input message="tns:findServitutter"/>
      <output message="tns:findServitutterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findPengeheftelser">
      <input message="tns:findPengeheftelser"/>
      <output message="tns:findPengeheftelserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findRegisterenhetsendringer">
      <input message="tns:findRegisterenhetsendringer"/>
      <output message="tns:findRegisterenhetsendringerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findFestekontrakter">
      <input message="tns:findFestekontrakter"/>
      <output message="tns:findFestekontrakterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findTidligereFestekontrakter">
      <input message="tns:findTidligereFestekontrakter"/>
      <output message="tns:findTidligereFestekontrakterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findRettigheterForPerson">
      <input message="tns:findRettigheterForPerson"/>
      <output message="tns:findRettigheterForPersonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findOmfangAvGrunnboksutskrift">
      <input message="tns:findOmfangAvGrunnboksutskrift"/>
      <output message="tns:findOmfangAvGrunnboksutskriftResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findHeftelser">
      <input message="tns:findHeftelser"/>
      <output message="tns:findHeftelserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhet">
      <input message="tns:findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhet"/>
      <output message="tns:findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
  </portType>
  <binding name="RettsstiftelseServicePortBinding" type="tns:RettsstiftelseService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findTidligereHeftelserIRegisterenhetsrettsandeler">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOverdragelserMedAktiveAndelerIRegisterenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTidligereOverdragelserAvRegisterenhetsrett">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOverdragelserAvRegisterenhetsrettForPerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsstiftelserMedUtgaatteAndeler">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTidligereHeftelserIRegisterenhetsretter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsstiftelsestypeKoderForRettstypeKoder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findMatrikkelenhetsendringerAlleRoller">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findHeftelserIRegisterenhetsretter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findMatrikkelenhetsendringerFra">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBorettslagsandelsendringerFra">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findMatrikkelenhetsendringerTil">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsstiftelserMedNyeAndeler">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOverdragelserAvRegisterenhetsrett">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findHeftelserIRegisterenhetsrettsandeler">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBorettslagsandelsendringerTil">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBorettslagsandelsendringerAlleRoller">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSeksjonssameieendringerForUtgaatte">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSeksjonssameieendringerForNye">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSeksjonssameieendringerAlleRoller">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTidligereLeieavtalerOgRettigheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRaaderettsbegrensningerForRegisterenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsstiftelserForDokument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettigheterForRegisterenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOmfangAvHistoriskGrunnboksutskrift">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findLeieavtalerOgRettigheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsendringer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTidligereServitutter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findHeftelserIAnnenRett">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTidligerePengeheftelser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAnmerkninger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findServitutter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findPengeheftelser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRegisterenhetsendringer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findFestekontrakter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTidligereFestekontrakter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettigheterForPerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOmfangAvGrunnboksutskrift">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findHeftelser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RettsstiftelseServiceWS">
    <port binding="tns:RettsstiftelseServicePortBinding" name="RettsstiftelseServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>
