src/main/resources/grunnbok/RettsstiftelseServiceWS_schema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper" xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet" xmlns:ns4="http://kartverket.no/grunnbok/wsapi/v1/domain/register" xmlns:ns3="http://kartverket.no/grunnbok/wsapi/v1/service/servicetyper" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v1/service/rettsstiftelse" xmlns:ns9="http://kartverket.no/grunnbok/wsapi/v1/domain/register/dokument" xmlns:ns5="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/heftelse" xmlns:ns6="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse" xmlns:ns7="http://kartverket.no/grunnbok/wsapi/v1/domain/register/person" xmlns:ns10="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder" xmlns:ns8="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/overdragelse" targetNamespace="http://kartverket.no/grunnbok/wsapi/v1/service/rettsstiftelse" version="1.0">

  <xs:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet" schemaLocation="register_registerenhet.xsd"/>

  <xs:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper" schemaLocation="basistyper.xsd"/>

  <xs:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/servicetyper" schemaLocation="servicetyper.xsd"/>

  <xs:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register" schemaLocation="register.xsd"/>

  <xs:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/heftelse" schemaLocation="register_rettsstiftelse_heftelse.xsd"/>

  <xs:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse" schemaLocation="register_rettsstiftelse.xsd"/>

  <xs:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/person" schemaLocation="register_person.xsd"/>

  <xs:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/overdragelse" schemaLocation="register_rettsstiftelse_overdragelse.xsd"/>

  <xs:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/dokument" schemaLocation="register_dokument.xsd"/>

  <xs:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder" schemaLocation="register_koder.xsd"/>

  <xs:element name="findAnmerkninger" type="tns:findAnmerkninger"/>

  <xs:element name="findAnmerkningerResponse" type="tns:findAnmerkningerResponse"/>

  <xs:element name="findBorettslagsandelsendringerAlleRoller" type="tns:findBorettslagsandelsendringerAlleRoller"/>

  <xs:element name="findBorettslagsandelsendringerAlleRollerResponse" type="tns:findBorettslagsandelsendringerAlleRollerResponse"/>

  <xs:element name="findBorettslagsandelsendringerFra" type="tns:findBorettslagsandelsendringerFra"/>

  <xs:element name="findBorettslagsandelsendringerFraResponse" type="tns:findBorettslagsandelsendringerFraResponse"/>

  <xs:element name="findBorettslagsandelsendringerTil" type="tns:findBorettslagsandelsendringerTil"/>

  <xs:element name="findBorettslagsandelsendringerTilResponse" type="tns:findBorettslagsandelsendringerTilResponse"/>

  <xs:element name="findFestekontrakter" type="tns:findFestekontrakter"/>

  <xs:element name="findFestekontrakterResponse" type="tns:findFestekontrakterResponse"/>

  <xs:element name="findHeftelser" type="tns:findHeftelser"/>

  <xs:element name="findHeftelserIAnnenRett" type="tns:findHeftelserIAnnenRett"/>

  <xs:element name="findHeftelserIAnnenRettResponse" type="tns:findHeftelserIAnnenRettResponse"/>

  <xs:element name="findHeftelserIRegisterenhetsretter" type="tns:findHeftelserIRegisterenhetsretter"/>

  <xs:element name="findHeftelserIRegisterenhetsretterResponse" type="tns:findHeftelserIRegisterenhetsretterResponse"/>

  <xs:element name="findHeftelserIRegisterenhetsrettsandeler" type="tns:findHeftelserIRegisterenhetsrettsandeler"/>

  <xs:element name="findHeftelserIRegisterenhetsrettsandelerResponse" type="tns:findHeftelserIRegisterenhetsrettsandelerResponse"/>

  <xs:element name="findHeftelserResponse" type="tns:findHeftelserResponse"/>

  <xs:element name="findLeieavtalerOgRettigheter" type="tns:findLeieavtalerOgRettigheter"/>

  <xs:element name="findLeieavtalerOgRettigheterResponse" type="tns:findLeieavtalerOgRettigheterResponse"/>

  <xs:element name="findMatrikkelenhetsendringerAlleRoller" type="tns:findMatrikkelenhetsendringerAlleRoller"/>

  <xs:element name="findMatrikkelenhetsendringerAlleRollerResponse" type="tns:findMatrikkelenhetsendringerAlleRollerResponse"/>

  <xs:element name="findMatrikkelenhetsendringerFra" type="tns:findMatrikkelenhetsendringerFra"/>

  <xs:element name="findMatrikkelenhetsendringerFraResponse" type="tns:findMatrikkelenhetsendringerFraResponse"/>

  <xs:element name="findMatrikkelenhetsendringerTil" type="tns:findMatrikkelenhetsendringerTil"/>

  <xs:element name="findMatrikkelenhetsendringerTilResponse" type="tns:findMatrikkelenhetsendringerTilResponse"/>

  <xs:element name="findOmfangAvGrunnboksutskrift" type="tns:findOmfangAvGrunnboksutskrift"/>

  <xs:element name="findOmfangAvGrunnboksutskriftResponse" type="tns:findOmfangAvGrunnboksutskriftResponse"/>

  <xs:element name="findOmfangAvHistoriskGrunnboksutskrift" type="tns:findOmfangAvHistoriskGrunnboksutskrift"/>

  <xs:element name="findOmfangAvHistoriskGrunnboksutskriftResponse" type="tns:findOmfangAvHistoriskGrunnboksutskriftResponse"/>

  <xs:element name="findOverdragelserAvRegisterenhetsrett" type="tns:findOverdragelserAvRegisterenhetsrett"/>

  <xs:element name="findOverdragelserAvRegisterenhetsrettForPerson" type="tns:findOverdragelserAvRegisterenhetsrettForPerson"/>

  <xs:element name="findOverdragelserAvRegisterenhetsrettForPersonResponse" type="tns:findOverdragelserAvRegisterenhetsrettForPersonResponse"/>

  <xs:element name="findOverdragelserAvRegisterenhetsrettResponse" type="tns:findOverdragelserAvRegisterenhetsrettResponse"/>

  <xs:element name="findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhet" type="tns:findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhet"/>

  <xs:element name="findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhetResponse" type="tns:findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhetResponse"/>

  <xs:element name="findOverdragelserMedAktiveAndelerIRegisterenhet" type="tns:findOverdragelserMedAktiveAndelerIRegisterenhet"/>

  <xs:element name="findOverdragelserMedAktiveAndelerIRegisterenhetResponse" type="tns:findOverdragelserMedAktiveAndelerIRegisterenhetResponse"/>

  <xs:element name="findPengeheftelser" type="tns:findPengeheftelser"/>

  <xs:element name="findPengeheftelserResponse" type="tns:findPengeheftelserResponse"/>

  <xs:element name="findRaaderettsbegrensningerForRegisterenhet" type="tns:findRaaderettsbegrensningerForRegisterenhet"/>

  <xs:element name="findRaaderettsbegrensningerForRegisterenhetResponse" type="tns:findRaaderettsbegrensningerForRegisterenhetResponse"/>

  <xs:element name="findRegisterenhetsendringer" type="tns:findRegisterenhetsendringer"/>

  <xs:element name="findRegisterenhetsendringerResponse" type="tns:findRegisterenhetsendringerResponse"/>

  <xs:element name="findRettigheterForPerson" type="tns:findRettigheterForPerson"/>

  <xs:element name="findRettigheterForPersonResponse" type="tns:findRettigheterForPersonResponse"/>

  <xs:element name="findRettigheterForRegisterenhet" type="tns:findRettigheterForRegisterenhet"/>

  <xs:element name="findRettigheterForRegisterenhetResponse" type="tns:findRettigheterForRegisterenhetResponse"/>

  <xs:element name="findRettsendringer" type="tns:findRettsendringer"/>

  <xs:element name="findRettsendringerResponse" type="tns:findRettsendringerResponse"/>

  <xs:element name="findRettsstiftelserForDokument" type="tns:findRettsstiftelserForDokument"/>

  <xs:element name="findRettsstiftelserForDokumentResponse" type="tns:findRettsstiftelserForDokumentResponse"/>

  <xs:element name="findRettsstiftelserMedNyeAndeler" type="tns:findRettsstiftelserMedNyeAndeler"/>

  <xs:element name="findRettsstiftelserMedNyeAndelerResponse" type="tns:findRettsstiftelserMedNyeAndelerResponse"/>

  <xs:element name="findRettsstiftelserMedUtgaatteAndeler" type="tns:findRettsstiftelserMedUtgaatteAndeler"/>

  <xs:element name="findRettsstiftelserMedUtgaatteAndelerResponse" type="tns:findRettsstiftelserMedUtgaatteAndelerResponse"/>

  <xs:element name="findRettsstiftelsestypeKoderForRettstypeKoder" type="tns:findRettsstiftelsestypeKoderForRettstypeKoder"/>

  <xs:element name="findRettsstiftelsestypeKoderForRettstypeKoderResponse" type="tns:findRettsstiftelsestypeKoderForRettstypeKoderResponse"/>

  <xs:element name="findSeksjonssameieendringerAlleRoller" type="tns:findSeksjonssameieendringerAlleRoller"/>

  <xs:element name="findSeksjonssameieendringerAlleRollerResponse" type="tns:findSeksjonssameieendringerAlleRollerResponse"/>

  <xs:element name="findSeksjonssameieendringerForNye" type="tns:findSeksjonssameieendringerForNye"/>

  <xs:element name="findSeksjonssameieendringerForNyeResponse" type="tns:findSeksjonssameieendringerForNyeResponse"/>

  <xs:element name="findSeksjonssameieendringerForUtgaatte" type="tns:findSeksjonssameieendringerForUtgaatte"/>

  <xs:element name="findSeksjonssameieendringerForUtgaatteResponse" type="tns:findSeksjonssameieendringerForUtgaatteResponse"/>

  <xs:element name="findServitutter" type="tns:findServitutter"/>

  <xs:element name="findServitutterResponse" type="tns:findServitutterResponse"/>

  <xs:element name="findTidligereFestekontrakter" type="tns:findTidligereFestekontrakter"/>

  <xs:element name="findTidligereFestekontrakterResponse" type="tns:findTidligereFestekontrakterResponse"/>

  <xs:element name="findTidligereHeftelserIRegisterenhetsretter" type="tns:findTidligereHeftelserIRegisterenhetsretter"/>

  <xs:element name="findTidligereHeftelserIRegisterenhetsretterResponse" type="tns:findTidligereHeftelserIRegisterenhetsretterResponse"/>

  <xs:element name="findTidligereHeftelserIRegisterenhetsrettsandeler" type="tns:findTidligereHeftelserIRegisterenhetsrettsandeler"/>

  <xs:element name="findTidligereHeftelserIRegisterenhetsrettsandelerResponse" type="tns:findTidligereHeftelserIRegisterenhetsrettsandelerResponse"/>

  <xs:element name="findTidligereLeieavtalerOgRettigheter" type="tns:findTidligereLeieavtalerOgRettigheter"/>

  <xs:element name="findTidligereLeieavtalerOgRettigheterResponse" type="tns:findTidligereLeieavtalerOgRettigheterResponse"/>

  <xs:element name="findTidligereOverdragelserAvRegisterenhetsrett" type="tns:findTidligereOverdragelserAvRegisterenhetsrett"/>

  <xs:element name="findTidligereOverdragelserAvRegisterenhetsrettResponse" type="tns:findTidligereOverdragelserAvRegisterenhetsrettResponse"/>

  <xs:element name="findTidligerePengeheftelser" type="tns:findTidligerePengeheftelser"/>

  <xs:element name="findTidligerePengeheftelserResponse" type="tns:findTidligerePengeheftelserResponse"/>

  <xs:element name="findTidligereServitutter" type="tns:findTidligereServitutter"/>

  <xs:element name="findTidligereServitutterResponse" type="tns:findTidligereServitutterResponse"/>

  <xs:complexType name="findBorettslagsandelsendringerFra">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetIds" type="ns1:RegisterenhetIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBorettslagsandelsendringerFraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RegisterenhetIdTilBorettslagsandelsendringIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findHeftelserIRegisterenhetsretter">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetsrettIds" type="ns4:RegisterenhetsrettIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findHeftelserIRegisterenhetsretterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RegisterenhetsrettIdTilHeftelseIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTidligereHeftelserIRegisterenhetsrettsandeler">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetsrettsandelIds" type="ns4:RegisterenhetsrettsandelIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTidligereHeftelserIRegisterenhetsrettsandelerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RegisterenhetsrettsandelIdTilHeftelseIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRettigheterForRegisterenhet">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="kommuneIds" type="ns4:KommuneIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRettigheterForRegisterenhetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:HeftelseIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTidligerePengeheftelser">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="transferMode" type="ns3:TransferMode"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTidligerePengeheftelserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:HeftelseIdListTransfer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRettsstiftelserMedUtgaatteAndeler">
    <xs:sequence>
      <xs:element minOccurs="0" name="andeler" type="ns4:RegisterenhetsrettsandelIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRettsstiftelserMedUtgaatteAndelerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RegisterenhetsrettsandelIdTilOverdragelseAvRegisterenhetsrettIdMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOmfangAvGrunnboksutskrift">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOmfangAvGrunnboksutskriftResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBorettslagsandelsendringerAlleRoller">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetIds" type="ns1:RegisterenhetIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBorettslagsandelsendringerAlleRollerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RegisterenhetIdTilBorettslagsandelsendringIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTidligereFestekontrakter">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="transferMode" type="ns3:TransferMode"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTidligereFestekontrakterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:VilkaarIFestekontraktIdListTransfer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findHeftelser">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findHeftelserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:HeftelseIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOmfangAvHistoriskGrunnboksutskrift">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOmfangAvHistoriskGrunnboksutskriftResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findMatrikkelenhetsendringerAlleRoller">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetIds" type="ns1:RegisterenhetIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findMatrikkelenhetsendringerAlleRollerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RegisterenhetIdTilRegisterenhetsendringIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findHeftelserIAnnenRett">
    <xs:sequence>
      <xs:element minOccurs="0" name="rettsstiftelseIds" type="ns6:RettsstiftelseIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findHeftelserIAnnenRettResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RettsstiftelseIdTilHeftelseIAnnenRettIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findMatrikkelenhetsendringerFra">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetIds" type="ns1:RegisterenhetIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findMatrikkelenhetsendringerFraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RegisterenhetIdTilRegisterenhetsendringIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findHeftelserIRegisterenhetsrettsandeler">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetsrettsandelIds" type="ns4:RegisterenhetsrettsandelIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findHeftelserIRegisterenhetsrettsandelerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RegisterenhetsrettsandelIdTilHeftelseIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findFestekontrakter">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="transferMode" type="ns3:TransferMode"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findFestekontrakterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:VilkaarIFestekontraktIdListTransfer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOverdragelserAvRegisterenhetsrettForPerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="personId" type="ns7:PersonId"/>
      <xs:element minOccurs="0" name="kommuneIds" type="ns4:KommuneIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOverdragelserAvRegisterenhetsrettForPersonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns8:OverdragelseAvRegisterenhetsrettIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findSeksjonssameieendringerAlleRoller">
    <xs:sequence>
      <xs:element minOccurs="0" name="seksjonssameieandelIds" type="ns1:SeksjonssameieandelIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findSeksjonssameieendringerAlleRollerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:SeksjonssameieandelIdTilRegisterenhetsendringIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTidligereServitutter">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="transferMode" type="ns3:TransferMode"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTidligereServitutterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:ServituttIdListTransfer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOverdragelserMedAktiveAndelerIRegisterenhet">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOverdragelserMedAktiveAndelerIRegisterenhetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RegisterenhetsrettsandelIdTilOverdragelseAvRegisterenhetsrettIdMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTidligereOverdragelserAvRegisterenhetsrett">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="transferMode" type="ns3:TransferMode"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTidligereOverdragelserAvRegisterenhetsrettResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:OverdragelseAvRegisterenhetsrettIdListTransfer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRaaderettsbegrensningerForRegisterenhet">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="transferMode" type="ns3:TransferMode"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRaaderettsbegrensningerForRegisterenhetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RettsstiftelseIdListTransfer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findPengeheftelser">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="transferMode" type="ns3:TransferMode"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findPengeheftelserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:HeftelseIdListTransfer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRettigheterForPerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="personId" type="ns7:PersonId"/>
      <xs:element minOccurs="0" name="kommuneIds" type="ns4:KommuneIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRettigheterForPersonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns6:RettsstiftelseIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRettsendringer">
    <xs:sequence>
      <xs:element minOccurs="0" name="rettsstiftelseIds" type="ns6:RettsstiftelseIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRettsendringerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RettsstiftelseIdTilRettsendringIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findMatrikkelenhetsendringerTil">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetIds" type="ns1:RegisterenhetIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findMatrikkelenhetsendringerTilResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RegisterenhetIdTilRegisterenhetsendringIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRettsstiftelserMedNyeAndeler">
    <xs:sequence>
      <xs:element minOccurs="0" name="andeler" type="ns4:RegisterenhetsrettsandelIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRettsstiftelserMedNyeAndelerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RegisterenhetsrettsandelIdTilOverdragelseAvRegisterenhetsrettIdMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhet">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RegisterenhetsrettsandelIdTilOverdragelseAvRegisterenhetsrettIdMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAnmerkninger">
    <xs:sequence>
      <xs:element minOccurs="0" name="rettsstiftelseIds" type="ns6:RettsstiftelseIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAnmerkningerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RettsstiftelseIdTilAnmerkningIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findLeieavtalerOgRettigheter">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="transferMode" type="ns3:TransferMode"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findLeieavtalerOgRettigheterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:AnnenRettighetIdListTransfer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRettsstiftelserForDokument">
    <xs:sequence>
      <xs:element minOccurs="0" name="dokumentId" type="ns9:DokumentId"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRettsstiftelserForDokumentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns6:RettsstiftelseIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTidligereLeieavtalerOgRettigheter">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="transferMode" type="ns3:TransferMode"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTidligereLeieavtalerOgRettigheterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:AnnenRettighetIdListTransfer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRettsstiftelsestypeKoderForRettstypeKoder">
    <xs:sequence>
      <xs:element minOccurs="0" name="rettstypeIds" type="ns10:RettstypeKodeIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRettsstiftelsestypeKoderForRettstypeKoderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RettstypeKodeIdTilRettsstiftelsestypeKodeIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOverdragelserAvRegisterenhetsrett">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="transferMode" type="ns3:TransferMode"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOverdragelserAvRegisterenhetsrettResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:OverdragelseAvRegisterenhetsrettIdListTransfer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTidligereHeftelserIRegisterenhetsretter">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetsrettIds" type="ns4:RegisterenhetsrettIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTidligereHeftelserIRegisterenhetsretterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RegisterenhetsrettIdTilHeftelseIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRegisterenhetsendringer">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="transferMode" type="ns3:TransferMode"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRegisterenhetsendringerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RegisterenhetsendringIdListTransfer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findSeksjonssameieendringerForNye">
    <xs:sequence>
      <xs:element minOccurs="0" name="seksjonssameieandelIds" type="ns1:SeksjonssameieandelIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findSeksjonssameieendringerForNyeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:SeksjonssameieandelIdTilRegisterenhetsendringIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findSeksjonssameieendringerForUtgaatte">
    <xs:sequence>
      <xs:element minOccurs="0" name="seksjonssameieandelIds" type="ns1:SeksjonssameieandelIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findSeksjonssameieendringerForUtgaatteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:SeksjonssameieandelIdTilRegisterenhetsendringIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findServitutter">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetId" type="ns1:RegisterenhetId"/>
      <xs:element minOccurs="0" name="transferMode" type="ns3:TransferMode"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findServitutterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:ServituttIdListTransfer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBorettslagsandelsendringerTil">
    <xs:sequence>
      <xs:element minOccurs="0" name="registerenhetIds" type="ns1:RegisterenhetIdList"/>
      <xs:element minOccurs="0" name="grunnbokContext" type="ns2:GrunnbokContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBorettslagsandelsendringerTilResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns3:RegisterenhetIdTilBorettslagsandelsendringIdsMap"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
