src/main/resources/grunnbokv2/ForeloepigRegistreringServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ForeloepigRegistreringServiceWS" targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering" schemaLocation="ForeloepigRegistreringServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/saksinformasjon" schemaLocation="register_saksinformasjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/rettsendring" schemaLocation="register_rettsstiftelse_rettsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="register_rettsstiftelse_registerenhetsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="register_rettsstiftelse_personkoblingsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/overdragelse" schemaLocation="register_rettsstiftelse_overdragelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/heftelse" schemaLocation="register_rettsstiftelse_heftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/anmerkning" schemaLocation="register_rettsstiftelse_anmerkning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse" schemaLocation="register_rettsstiftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registrering" schemaLocation="register_registrering.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registerenhet" schemaLocation="register_registerenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/person" schemaLocation="register_person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/koder" schemaLocation="register_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/journalpost" schemaLocation="register_journalpost.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/dokument" schemaLocation="register_dokument.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/bruker" schemaLocation="register_bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/adresse" schemaLocation="register_adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register" schemaLocation="register.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/grunnboksidenter" schemaLocation="grunnboksidenter.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findAvhengigeForeloepigRegistreringer">
    <part element="tns:findAvhengigeForeloepigRegistreringer" name="parameters"/>
  </message>
  <message name="findAvhengigeForeloepigRegistreringerResponse">
    <part element="tns:findAvhengigeForeloepigRegistreringerResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v2/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findIdentRegistreringerForGrunnbokObjects">
    <part element="tns:findIdentRegistreringerForGrunnbokObjects" name="parameters"/>
  </message>
  <message name="findIdentRegistreringerForGrunnbokObjectsResponse">
    <part element="tns:findIdentRegistreringerForGrunnbokObjectsResponse" name="parameters"/>
  </message>
  <message name="findRettsstifteRegistreringerSomLeserFra">
    <part element="tns:findRettsstifteRegistreringerSomLeserFra" name="parameters"/>
  </message>
  <message name="findRettsstifteRegistreringerSomLeserFraResponse">
    <part element="tns:findRettsstifteRegistreringerSomLeserFraResponse" name="parameters"/>
  </message>
  <message name="findRettsstifteRegistreringerSomSkriverTil">
    <part element="tns:findRettsstifteRegistreringerSomSkriverTil" name="parameters"/>
  </message>
  <message name="findRettsstifteRegistreringerSomSkriverTilResponse">
    <part element="tns:findRettsstifteRegistreringerSomSkriverTilResponse" name="parameters"/>
  </message>
  <message name="finnesRegistreringPaaRegisterenhet">
    <part element="tns:finnesRegistreringPaaRegisterenhet" name="parameters"/>
  </message>
  <message name="finnesRegistreringPaaRegisterenhetResponse">
    <part element="tns:finnesRegistreringPaaRegisterenhetResponse" name="parameters"/>
  </message>
  <message name="findIdentRegistreringerForIdents">
    <part element="tns:findIdentRegistreringerForIdents" name="parameters"/>
  </message>
  <message name="findIdentRegistreringerForIdentsResponse">
    <part element="tns:findIdentRegistreringerForIdentsResponse" name="parameters"/>
  </message>
  <message name="findRettsstiftelseRegistreringer">
    <part element="tns:findRettsstiftelseRegistreringer" name="parameters"/>
  </message>
  <message name="findRettsstiftelseRegistreringerResponse">
    <part element="tns:findRettsstiftelseRegistreringerResponse" name="parameters"/>
  </message>
  <message name="findIdentRegistreringerForForeloepigRegistreringer">
    <part element="tns:findIdentRegistreringerForForeloepigRegistreringer" name="parameters"/>
  </message>
  <message name="findIdentRegistreringerForForeloepigRegistreringerResponse">
    <part element="tns:findIdentRegistreringerForForeloepigRegistreringerResponse" name="parameters"/>
  </message>
  <portType name="ForeloepigRegistreringService">
    <operation name="findAvhengigeForeloepigRegistreringer">
      <input message="tns:findAvhengigeForeloepigRegistreringer" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findAvhengigeForeloepigRegistreringerRequest"/>
      <output message="tns:findAvhengigeForeloepigRegistreringerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findAvhengigeForeloepigRegistreringerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findAvhengigeForeloepigRegistreringer/Fault/ServiceException"/>
    </operation>
    <operation name="findIdentRegistreringerForGrunnbokObjects">
      <input message="tns:findIdentRegistreringerForGrunnbokObjects" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findIdentRegistreringerForGrunnbokObjectsRequest"/>
      <output message="tns:findIdentRegistreringerForGrunnbokObjectsResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findIdentRegistreringerForGrunnbokObjectsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findIdentRegistreringerForGrunnbokObjects/Fault/ServiceException"/>
    </operation>
    <operation name="findRettsstifteRegistreringerSomLeserFra">
      <input message="tns:findRettsstifteRegistreringerSomLeserFra" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findRettsstifteRegistreringerSomLeserFraRequest"/>
      <output message="tns:findRettsstifteRegistreringerSomLeserFraResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findRettsstifteRegistreringerSomLeserFraResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findRettsstifteRegistreringerSomLeserFra/Fault/ServiceException"/>
    </operation>
    <operation name="findRettsstifteRegistreringerSomSkriverTil">
      <input message="tns:findRettsstifteRegistreringerSomSkriverTil" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findRettsstifteRegistreringerSomSkriverTilRequest"/>
      <output message="tns:findRettsstifteRegistreringerSomSkriverTilResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findRettsstifteRegistreringerSomSkriverTilResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findRettsstifteRegistreringerSomSkriverTil/Fault/ServiceException"/>
    </operation>
    <operation name="finnesRegistreringPaaRegisterenhet">
      <input message="tns:finnesRegistreringPaaRegisterenhet" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/finnesRegistreringPaaRegisterenhetRequest"/>
      <output message="tns:finnesRegistreringPaaRegisterenhetResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/finnesRegistreringPaaRegisterenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/finnesRegistreringPaaRegisterenhet/Fault/ServiceException"/>
    </operation>
    <operation name="findIdentRegistreringerForIdents">
      <input message="tns:findIdentRegistreringerForIdents" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findIdentRegistreringerForIdentsRequest"/>
      <output message="tns:findIdentRegistreringerForIdentsResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findIdentRegistreringerForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findIdentRegistreringerForIdents/Fault/ServiceException"/>
    </operation>
    <operation name="findRettsstiftelseRegistreringer">
      <input message="tns:findRettsstiftelseRegistreringer" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findRettsstiftelseRegistreringerRequest"/>
      <output message="tns:findRettsstiftelseRegistreringerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findRettsstiftelseRegistreringerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findRettsstiftelseRegistreringer/Fault/ServiceException"/>
    </operation>
    <operation name="findIdentRegistreringerForForeloepigRegistreringer">
      <input message="tns:findIdentRegistreringerForForeloepigRegistreringer" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findIdentRegistreringerForForeloepigRegistreringerRequest"/>
      <output message="tns:findIdentRegistreringerForForeloepigRegistreringerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findIdentRegistreringerForForeloepigRegistreringerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/foreloepigregistrering/ForeloepigRegistreringService/findIdentRegistreringerForForeloepigRegistreringer/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="ForeloepigRegistreringServicePortBinding" type="tns:ForeloepigRegistreringService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findAvhengigeForeloepigRegistreringer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findIdentRegistreringerForGrunnbokObjects">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsstifteRegistreringerSomLeserFra">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsstifteRegistreringerSomSkriverTil">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="finnesRegistreringPaaRegisterenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findIdentRegistreringerForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsstiftelseRegistreringer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findIdentRegistreringerForForeloepigRegistreringer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ForeloepigRegistreringServiceWS">
    <port binding="tns:ForeloepigRegistreringServicePortBinding" name="ForeloepigRegistreringServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>