src/main/resources/grunnbokv2/GrunnboksutskriftServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v2/service/grunnboksutskrift" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="GrunnboksutskriftServiceWS" targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/service/grunnboksutskrift">
  <wsp:UsingPolicy wssutil:Required="true"/>
  <wsp1_2:Policy wssutil:Id="Mtom.xml">
    <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
  </wsp1_2:Policy>
  <wsp:Policy wssutil:Id="GrunnboksutskriftServicePortBinding_MTOM_Policy-GrunnboksutskriftServicePortBinding_MTOM_Policy">
    <ns2:OptimizedMimeSerialization xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/service/grunnboksutskrift" schemaLocation="GrunnboksutskriftServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/saksinformasjon" schemaLocation="register_saksinformasjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/rettsendring" schemaLocation="register_rettsstiftelse_rettsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="register_rettsstiftelse_registerenhetsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="register_rettsstiftelse_personkoblingsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/overdragelse" schemaLocation="register_rettsstiftelse_overdragelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/heftelse" schemaLocation="register_rettsstiftelse_heftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/anmerkning" schemaLocation="register_rettsstiftelse_anmerkning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse" schemaLocation="register_rettsstiftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registrering" schemaLocation="register_registrering.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registerenhet" schemaLocation="register_registerenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/person" schemaLocation="register_person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/koder" schemaLocation="register_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/journalpost" schemaLocation="register_journalpost.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/dokument" schemaLocation="register_dokument.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/bruker" schemaLocation="register_bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/adresse" schemaLocation="register_adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register" schemaLocation="register.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/melding" schemaLocation="melding.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="ubekreftetGrunnboksutskriftPdf">
    <part element="tns:ubekreftetGrunnboksutskriftPdf" name="parameters"/>
  </message>
  <message name="ubekreftetGrunnboksutskriftPdfResponse">
    <part element="tns:ubekreftetGrunnboksutskriftPdfResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns3="http://kartverket.no/grunnbok/wsapi/v2/exception" element="ns3:ServiceException" name="fault"/>
  </message>
  <message name="ubekreftetGrunnboksutskrift">
    <part element="tns:ubekreftetGrunnboksutskrift" name="parameters"/>
  </message>
  <message name="ubekreftetGrunnboksutskriftResponse">
    <part element="tns:ubekreftetGrunnboksutskriftResponse" name="parameters"/>
  </message>
  <message name="ubekreftetHistoriskGrunnboksutskriftPdf">
    <part element="tns:ubekreftetHistoriskGrunnboksutskriftPdf" name="parameters"/>
  </message>
  <message name="ubekreftetHistoriskGrunnboksutskriftPdfResponse">
    <part element="tns:ubekreftetHistoriskGrunnboksutskriftPdfResponse" name="parameters"/>
  </message>
  <message name="ubekreftetHistoriskGrunnboksutskrift">
    <part element="tns:ubekreftetHistoriskGrunnboksutskrift" name="parameters"/>
  </message>
  <message name="ubekreftetHistoriskGrunnboksutskriftResponse">
    <part element="tns:ubekreftetHistoriskGrunnboksutskriftResponse" name="parameters"/>
  </message>
  <portType name="GrunnboksutskriftService">
    <operation name="ubekreftetGrunnboksutskriftPdf">
      <input message="tns:ubekreftetGrunnboksutskriftPdf" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/grunnboksutskrift/GrunnboksutskriftService/ubekreftetGrunnboksutskriftPdfRequest"/>
      <output message="tns:ubekreftetGrunnboksutskriftPdfResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/grunnboksutskrift/GrunnboksutskriftService/ubekreftetGrunnboksutskriftPdfResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/grunnboksutskrift/GrunnboksutskriftService/ubekreftetGrunnboksutskriftPdf/Fault/ServiceException"/>
    </operation>
    <operation name="ubekreftetGrunnboksutskrift">
      <input message="tns:ubekreftetGrunnboksutskrift" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/grunnboksutskrift/GrunnboksutskriftService/ubekreftetGrunnboksutskriftRequest"/>
      <output message="tns:ubekreftetGrunnboksutskriftResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/grunnboksutskrift/GrunnboksutskriftService/ubekreftetGrunnboksutskriftResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/grunnboksutskrift/GrunnboksutskriftService/ubekreftetGrunnboksutskrift/Fault/ServiceException"/>
    </operation>
    <operation name="ubekreftetHistoriskGrunnboksutskriftPdf">
      <input message="tns:ubekreftetHistoriskGrunnboksutskriftPdf" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/grunnboksutskrift/GrunnboksutskriftService/ubekreftetHistoriskGrunnboksutskriftPdfRequest"/>
      <output message="tns:ubekreftetHistoriskGrunnboksutskriftPdfResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/grunnboksutskrift/GrunnboksutskriftService/ubekreftetHistoriskGrunnboksutskriftPdfResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/grunnboksutskrift/GrunnboksutskriftService/ubekreftetHistoriskGrunnboksutskriftPdf/Fault/ServiceException"/>
    </operation>
    <operation name="ubekreftetHistoriskGrunnboksutskrift">
      <input message="tns:ubekreftetHistoriskGrunnboksutskrift" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/grunnboksutskrift/GrunnboksutskriftService/ubekreftetHistoriskGrunnboksutskriftRequest"/>
      <output message="tns:ubekreftetHistoriskGrunnboksutskriftResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/grunnboksutskrift/GrunnboksutskriftService/ubekreftetHistoriskGrunnboksutskriftResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/grunnboksutskrift/GrunnboksutskriftService/ubekreftetHistoriskGrunnboksutskrift/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="GrunnboksutskriftServicePortBinding" type="tns:GrunnboksutskriftService">
    <wsp:PolicyReference URI="#GrunnboksutskriftServicePortBinding_MTOM_Policy-GrunnboksutskriftServicePortBinding_MTOM_Policy"/>
    <wsp:PolicyReference URI="#Mtom.xml"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ubekreftetGrunnboksutskriftPdf">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="ubekreftetGrunnboksutskrift">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="ubekreftetHistoriskGrunnboksutskriftPdf">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="ubekreftetHistoriskGrunnboksutskrift">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="GrunnboksutskriftServiceWS">
    <port binding="tns:GrunnboksutskriftServicePortBinding" name="GrunnboksutskriftServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>