src/main/resources/grunnbokv2/IdentServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v2/service/ident" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="IdentServiceWS" targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/service/ident">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/service/servicetyper" schemaLocation="servicetyper.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/service/ident" schemaLocation="IdentServiceWS_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/saksinformasjon" schemaLocation="register_saksinformasjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/rettsendring" schemaLocation="register_rettsstiftelse_rettsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="register_rettsstiftelse_registerenhetsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="register_rettsstiftelse_personkoblingsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/overdragelse" schemaLocation="register_rettsstiftelse_overdragelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/heftelse" schemaLocation="register_rettsstiftelse_heftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/anmerkning" schemaLocation="register_rettsstiftelse_anmerkning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse" schemaLocation="register_rettsstiftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registrering" schemaLocation="register_registrering.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registerenhet" schemaLocation="register_registerenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/person" schemaLocation="register_person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/koder" schemaLocation="register_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/journalpost" schemaLocation="register_journalpost.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/dokument" schemaLocation="register_dokument.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/bruker" schemaLocation="register_bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/adresse" schemaLocation="register_adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register" schemaLocation="register.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/grunnboksidenter" schemaLocation="grunnboksidenter.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findMatrikkelenhetIdsForIdents">
    <part element="tns:findMatrikkelenhetIdsForIdents" name="parameters"/>
  </message>
  <message name="findMatrikkelenhetIdsForIdentsResponse">
    <part element="tns:findMatrikkelenhetIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v2/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findBorettslagsandelIdsForIdents">
    <part element="tns:findBorettslagsandelIdsForIdents" name="parameters"/>
  </message>
  <message name="findBorettslagsandelIdsForIdentsResponse">
    <part element="tns:findBorettslagsandelIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findBorettslagIdsForIdents">
    <part element="tns:findBorettslagIdsForIdents" name="parameters"/>
  </message>
  <message name="findBorettslagIdsForIdentsResponse">
    <part element="tns:findBorettslagIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findKommuneIdsForIdents">
    <part element="tns:findKommuneIdsForIdents" name="parameters"/>
  </message>
  <message name="findKommuneIdsForIdentsResponse">
    <part element="tns:findKommuneIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findDokumentIdsForIdents">
    <part element="tns:findDokumentIdsForIdents" name="parameters"/>
  </message>
  <message name="findDokumentIdsForIdentsResponse">
    <part element="tns:findDokumentIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findPersonIdsForIdents">
    <part element="tns:findPersonIdsForIdents" name="parameters"/>
  </message>
  <message name="findPersonIdsForIdentsResponse">
    <part element="tns:findPersonIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findRegisterenhetIdsForIdents">
    <part element="tns:findRegisterenhetIdsForIdents" name="parameters"/>
  </message>
  <message name="findRegisterenhetIdsForIdentsResponse">
    <part element="tns:findRegisterenhetIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findRegisterenhetsrettIdsForIdents">
    <part element="tns:findRegisterenhetsrettIdsForIdents" name="parameters"/>
  </message>
  <message name="findRegisterenhetsrettIdsForIdentsResponse">
    <part element="tns:findRegisterenhetsrettIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findIdentsForIds">
    <part element="tns:findIdentsForIds" name="parameters"/>
  </message>
  <message name="findIdentsForIdsResponse">
    <part element="tns:findIdentsForIdsResponse" name="parameters"/>
  </message>
  <message name="findRettsstiftelseIdsForIdents">
    <part element="tns:findRettsstiftelseIdsForIdents" name="parameters"/>
  </message>
  <message name="findRettsstiftelseIdsForIdentsResponse">
    <part element="tns:findRettsstiftelseIdsForIdentsResponse" name="parameters"/>
  </message>
  <portType name="IdentService">
    <operation name="findMatrikkelenhetIdsForIdents">
      <input message="tns:findMatrikkelenhetIdsForIdents" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findMatrikkelenhetIdsForIdentsRequest"/>
      <output message="tns:findMatrikkelenhetIdsForIdentsResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findMatrikkelenhetIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findMatrikkelenhetIdsForIdents/Fault/ServiceException"/>
    </operation>
    <operation name="findBorettslagsandelIdsForIdents">
      <input message="tns:findBorettslagsandelIdsForIdents" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findBorettslagsandelIdsForIdentsRequest"/>
      <output message="tns:findBorettslagsandelIdsForIdentsResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findBorettslagsandelIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findBorettslagsandelIdsForIdents/Fault/ServiceException"/>
    </operation>
    <operation name="findBorettslagIdsForIdents">
      <input message="tns:findBorettslagIdsForIdents" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findBorettslagIdsForIdentsRequest"/>
      <output message="tns:findBorettslagIdsForIdentsResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findBorettslagIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findBorettslagIdsForIdents/Fault/ServiceException"/>
    </operation>
    <operation name="findKommuneIdsForIdents">
      <input message="tns:findKommuneIdsForIdents" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findKommuneIdsForIdentsRequest"/>
      <output message="tns:findKommuneIdsForIdentsResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findKommuneIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findKommuneIdsForIdents/Fault/ServiceException"/>
    </operation>
    <operation name="findDokumentIdsForIdents">
      <input message="tns:findDokumentIdsForIdents" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findDokumentIdsForIdentsRequest"/>
      <output message="tns:findDokumentIdsForIdentsResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findDokumentIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findDokumentIdsForIdents/Fault/ServiceException"/>
    </operation>
    <operation name="findPersonIdsForIdents">
      <input message="tns:findPersonIdsForIdents" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findPersonIdsForIdentsRequest"/>
      <output message="tns:findPersonIdsForIdentsResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findPersonIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findPersonIdsForIdents/Fault/ServiceException"/>
    </operation>
    <operation name="findRegisterenhetIdsForIdents">
      <input message="tns:findRegisterenhetIdsForIdents" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findRegisterenhetIdsForIdentsRequest"/>
      <output message="tns:findRegisterenhetIdsForIdentsResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findRegisterenhetIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findRegisterenhetIdsForIdents/Fault/ServiceException"/>
    </operation>
    <operation name="findRegisterenhetsrettIdsForIdents">
      <input message="tns:findRegisterenhetsrettIdsForIdents" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findRegisterenhetsrettIdsForIdentsRequest"/>
      <output message="tns:findRegisterenhetsrettIdsForIdentsResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findRegisterenhetsrettIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findRegisterenhetsrettIdsForIdents/Fault/ServiceException"/>
    </operation>
    <operation name="findIdentsForIds">
      <input message="tns:findIdentsForIds" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findIdentsForIdsRequest"/>
      <output message="tns:findIdentsForIdsResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findIdentsForIdsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findIdentsForIds/Fault/ServiceException"/>
    </operation>
    <operation name="findRettsstiftelseIdsForIdents">
      <input message="tns:findRettsstiftelseIdsForIdents" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findRettsstiftelseIdsForIdentsRequest"/>
      <output message="tns:findRettsstiftelseIdsForIdentsResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findRettsstiftelseIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/ident/IdentService/findRettsstiftelseIdsForIdents/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="IdentServicePortBinding" type="tns:IdentService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findMatrikkelenhetIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBorettslagsandelIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBorettslagIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKommuneIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findDokumentIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findPersonIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRegisterenhetIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRegisterenhetsrettIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findIdentsForIds">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsstiftelseIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="IdentServiceWS">
    <port binding="tns:IdentServicePortBinding" name="IdentServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>