src/main/resources/grunnbokv2/InformasjonServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="InformasjonServiceWS" targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/service/servicetyper" schemaLocation="servicetyper.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon" schemaLocation="InformasjonServiceWS_schema3.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/saksinformasjon" schemaLocation="register_saksinformasjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/rettsendring" schemaLocation="register_rettsstiftelse_rettsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="register_rettsstiftelse_registerenhetsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="register_rettsstiftelse_personkoblingsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/overdragelse" schemaLocation="register_rettsstiftelse_overdragelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/heftelse" schemaLocation="register_rettsstiftelse_heftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/anmerkning" schemaLocation="register_rettsstiftelse_anmerkning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse" schemaLocation="register_rettsstiftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registrering" schemaLocation="register_registrering.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registerenhet" schemaLocation="register_registerenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/person" schemaLocation="register_person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/koder" schemaLocation="register_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/journalpost" schemaLocation="register_journalpost.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/dokument" schemaLocation="register_dokument.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/bruker" schemaLocation="register_bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/adresse" schemaLocation="register_adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register" schemaLocation="register.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/grunnboksidenter" schemaLocation="grunnboksidenter.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findRettsstiftelserForDokument">
    <part element="tns:findRettsstiftelserForDokument" name="parameters"/>
  </message>
  <message name="findRettsstiftelserForDokumentResponse">
    <part element="tns:findRettsstiftelserForDokumentResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v2/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findRettsstiftelse">
    <part element="tns:findRettsstiftelse" name="parameters"/>
  </message>
  <message name="findRettsstiftelseResponse">
    <part element="tns:findRettsstiftelseResponse" name="parameters"/>
  </message>
  <message name="findBorettslagsandelerForBorettslag">
    <part element="tns:findBorettslagsandelerForBorettslag" name="parameters"/>
  </message>
  <message name="findBorettslagsandelerForBorettslagResponse">
    <part element="tns:findBorettslagsandelerForBorettslagResponse" name="parameters"/>
  </message>
  <message name="findTidligereHeftelser">
    <part element="tns:findTidligereHeftelser" name="parameters"/>
  </message>
  <message name="findTidligereHeftelserResponse">
    <part element="tns:findTidligereHeftelserResponse" name="parameters"/>
  </message>
  <message name="findRettigheterForRegisterenhet">
    <part element="tns:findRettigheterForRegisterenhet" name="parameters"/>
  </message>
  <message name="findRettigheterForRegisterenhetResponse">
    <part element="tns:findRettigheterForRegisterenhetResponse" name="parameters"/>
  </message>
  <message name="findRettigheterForPerson">
    <part element="tns:findRettigheterForPerson" name="parameters"/>
  </message>
  <message name="findRettigheterForPersonResponse">
    <part element="tns:findRettigheterForPersonResponse" name="parameters"/>
  </message>
  <message name="findRegisterenhetsendringer">
    <part element="tns:findRegisterenhetsendringer" name="parameters"/>
  </message>
  <message name="findRegisterenhetsendringerResponse">
    <part element="tns:findRegisterenhetsendringerResponse" name="parameters"/>
  </message>
  <message name="findTidligereOverdragelserAvRegisterenhetsrett">
    <part element="tns:findTidligereOverdragelserAvRegisterenhetsrett" name="parameters"/>
  </message>
  <message name="findTidligereOverdragelserAvRegisterenhetsrettResponse">
    <part element="tns:findTidligereOverdragelserAvRegisterenhetsrettResponse" name="parameters"/>
  </message>
  <message name="findOverdragelserAvRegisterenhetsrett">
    <part element="tns:findOverdragelserAvRegisterenhetsrett" name="parameters"/>
  </message>
  <message name="findOverdragelserAvRegisterenhetsrettResponse">
    <part element="tns:findOverdragelserAvRegisterenhetsrettResponse" name="parameters"/>
  </message>
  <message name="findOverdragelserAvRegisterenhetsrettForPerson">
    <part element="tns:findOverdragelserAvRegisterenhetsrettForPerson" name="parameters"/>
  </message>
  <message name="findOverdragelserAvRegisterenhetsrettForPersonResponse">
    <part element="tns:findOverdragelserAvRegisterenhetsrettForPersonResponse" name="parameters"/>
  </message>
  <message name="findHeftelser">
    <part element="tns:findHeftelser" name="parameters"/>
  </message>
  <message name="findHeftelserResponse">
    <part element="tns:findHeftelserResponse" name="parameters"/>
  </message>
  <portType name="InformasjonService">
    <operation name="findRettsstiftelserForDokument">
      <input message="tns:findRettsstiftelserForDokument" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findRettsstiftelserForDokumentRequest"/>
      <output message="tns:findRettsstiftelserForDokumentResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findRettsstiftelserForDokumentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findRettsstiftelserForDokument/Fault/ServiceException"/>
    </operation>
    <operation name="findRettsstiftelse">
      <input message="tns:findRettsstiftelse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findRettsstiftelseRequest"/>
      <output message="tns:findRettsstiftelseResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findRettsstiftelseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findRettsstiftelse/Fault/ServiceException"/>
    </operation>
    <operation name="findBorettslagsandelerForBorettslag">
      <input message="tns:findBorettslagsandelerForBorettslag" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findBorettslagsandelerForBorettslagRequest"/>
      <output message="tns:findBorettslagsandelerForBorettslagResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findBorettslagsandelerForBorettslagResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findBorettslagsandelerForBorettslag/Fault/ServiceException"/>
    </operation>
    <operation name="findTidligereHeftelser">
      <input message="tns:findTidligereHeftelser" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findTidligereHeftelserRequest"/>
      <output message="tns:findTidligereHeftelserResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findTidligereHeftelserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findTidligereHeftelser/Fault/ServiceException"/>
    </operation>
    <operation name="findRettigheterForRegisterenhet">
      <input message="tns:findRettigheterForRegisterenhet" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findRettigheterForRegisterenhetRequest"/>
      <output message="tns:findRettigheterForRegisterenhetResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findRettigheterForRegisterenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findRettigheterForRegisterenhet/Fault/ServiceException"/>
    </operation>
    <operation name="findRettigheterForPerson">
      <input message="tns:findRettigheterForPerson" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findRettigheterForPersonRequest"/>
      <output message="tns:findRettigheterForPersonResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findRettigheterForPersonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findRettigheterForPerson/Fault/ServiceException"/>
    </operation>
    <operation name="findRegisterenhetsendringer">
      <input message="tns:findRegisterenhetsendringer" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findRegisterenhetsendringerRequest"/>
      <output message="tns:findRegisterenhetsendringerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findRegisterenhetsendringerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findRegisterenhetsendringer/Fault/ServiceException"/>
    </operation>
    <operation name="findTidligereOverdragelserAvRegisterenhetsrett">
      <input message="tns:findTidligereOverdragelserAvRegisterenhetsrett" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findTidligereOverdragelserAvRegisterenhetsrettRequest"/>
      <output message="tns:findTidligereOverdragelserAvRegisterenhetsrettResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findTidligereOverdragelserAvRegisterenhetsrettResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findTidligereOverdragelserAvRegisterenhetsrett/Fault/ServiceException"/>
    </operation>
    <operation name="findOverdragelserAvRegisterenhetsrett">
      <input message="tns:findOverdragelserAvRegisterenhetsrett" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findOverdragelserAvRegisterenhetsrettRequest"/>
      <output message="tns:findOverdragelserAvRegisterenhetsrettResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findOverdragelserAvRegisterenhetsrettResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findOverdragelserAvRegisterenhetsrett/Fault/ServiceException"/>
    </operation>
    <operation name="findOverdragelserAvRegisterenhetsrettForPerson">
      <input message="tns:findOverdragelserAvRegisterenhetsrettForPerson" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findOverdragelserAvRegisterenhetsrettForPersonRequest"/>
      <output message="tns:findOverdragelserAvRegisterenhetsrettForPersonResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findOverdragelserAvRegisterenhetsrettForPersonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findOverdragelserAvRegisterenhetsrettForPerson/Fault/ServiceException"/>
    </operation>
    <operation name="findHeftelser">
      <input message="tns:findHeftelser" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findHeftelserRequest"/>
      <output message="tns:findHeftelserResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findHeftelserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/informasjon/InformasjonService/findHeftelser/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="InformasjonServicePortBinding" type="tns:InformasjonService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findRettsstiftelserForDokument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsstiftelse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBorettslagsandelerForBorettslag">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTidligereHeftelser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettigheterForRegisterenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettigheterForPerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRegisterenhetsendringer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTidligereOverdragelserAvRegisterenhetsrett">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOverdragelserAvRegisterenhetsrett">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOverdragelserAvRegisterenhetsrettForPerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findHeftelser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="InformasjonServiceWS">
    <port binding="tns:InformasjonServicePortBinding" name="InformasjonServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>