src/main/resources/grunnbokv2/PersonServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.5 git-revision#7ddc91f. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v2/service/person" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonServiceWS" targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/service/person">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/service/person" schemaLocation="PersonServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/saksinformasjon" schemaLocation="register_saksinformasjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/rettsendring" schemaLocation="register_rettsstiftelse_rettsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="register_rettsstiftelse_registerenhetsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="register_rettsstiftelse_personkoblingsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/overdragelse" schemaLocation="register_rettsstiftelse_overdragelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/heftelse" schemaLocation="register_rettsstiftelse_heftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/anmerkning" schemaLocation="register_rettsstiftelse_anmerkning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse" schemaLocation="register_rettsstiftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registrering" schemaLocation="register_registrering.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registerenhet" schemaLocation="register_registerenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/person" schemaLocation="register_person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/koder" schemaLocation="register_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/journalpost" schemaLocation="register_journalpost.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/dokument" schemaLocation="register_dokument.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/bruker" schemaLocation="register_bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/adresse" schemaLocation="register_adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register" schemaLocation="register.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/grunnboksidenter" schemaLocation="grunnboksidenter.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findPersoner">
    <part element="tns:findPersoner" name="parameters"/>
  </message>
  <message name="findPersonerResponse">
    <part element="tns:findPersonerResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v2/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="opprettLoepenummerperson">
    <part element="tns:opprettLoepenummerperson" name="parameters"/>
  </message>
  <message name="opprettLoepenummerpersonResponse">
    <part element="tns:opprettLoepenummerpersonResponse" name="parameters"/>
  </message>
  <message name="lagNyttPersonloepenummer">
    <part element="tns:lagNyttPersonloepenummer" name="parameters"/>
  </message>
  <message name="lagNyttPersonloepenummerResponse">
    <part element="tns:lagNyttPersonloepenummerResponse" name="parameters"/>
  </message>
  <message name="hentSaerskilteForetak">
    <part element="tns:hentSaerskilteForetak" name="parameters"/>
  </message>
  <message name="hentSaerskilteForetakResponse">
    <part element="tns:hentSaerskilteForetakResponse" name="parameters"/>
  </message>
  <message name="hentAnnetSaerskilteForetak">
    <part element="tns:hentAnnetSaerskilteForetak" name="parameters"/>
  </message>
  <message name="hentAnnetSaerskilteForetakResponse">
    <part element="tns:hentAnnetSaerskilteForetakResponse" name="parameters"/>
  </message>
  <message name="oppdaterSaerskilteForetak">
    <part element="tns:oppdaterSaerskilteForetak" name="parameters"/>
  </message>
  <message name="oppdaterSaerskilteForetakResponse">
    <part element="tns:oppdaterSaerskilteForetakResponse" name="parameters"/>
  </message>
  <message name="oppdaterAnnetSaerskilteForetak">
    <part element="tns:oppdaterAnnetSaerskilteForetak" name="parameters"/>
  </message>
  <message name="oppdaterAnnetSaerskilteForetakResponse">
    <part element="tns:oppdaterAnnetSaerskilteForetakResponse" name="parameters"/>
  </message>
  <message name="slettSaerskilteForetak">
    <part element="tns:slettSaerskilteForetak" name="parameters"/>
  </message>
  <message name="slettSaerskilteForetakResponse">
    <part element="tns:slettSaerskilteForetakResponse" name="parameters"/>
  </message>
  <message name="slettAnnetSaerskilteForetak">
    <part element="tns:slettAnnetSaerskilteForetak" name="parameters"/>
  </message>
  <message name="slettAnnetSaerskilteForetakResponse">
    <part element="tns:slettAnnetSaerskilteForetakResponse" name="parameters"/>
  </message>
  <portType name="PersonService">
    <operation name="findPersoner">
      <input message="tns:findPersoner" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/findPersonerRequest"/>
      <output message="tns:findPersonerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/findPersonerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/findPersoner/Fault/ServiceException"/>
    </operation>
    <operation name="opprettLoepenummerperson">
      <input message="tns:opprettLoepenummerperson" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/opprettLoepenummerpersonRequest"/>
      <output message="tns:opprettLoepenummerpersonResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/opprettLoepenummerpersonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/opprettLoepenummerperson/Fault/ServiceException"/>
    </operation>
    <operation name="lagNyttPersonloepenummer">
      <input message="tns:lagNyttPersonloepenummer" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/lagNyttPersonloepenummerRequest"/>
      <output message="tns:lagNyttPersonloepenummerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/lagNyttPersonloepenummerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/lagNyttPersonloepenummer/Fault/ServiceException"/>
    </operation>
    <operation name="hentSaerskilteForetak">
      <input message="tns:hentSaerskilteForetak" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/hentSaerskilteForetakRequest"/>
      <output message="tns:hentSaerskilteForetakResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/hentSaerskilteForetakResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/hentSaerskilteForetak/Fault/ServiceException"/>
    </operation>
    <operation name="hentAnnetSaerskilteForetak">
      <input message="tns:hentAnnetSaerskilteForetak" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/hentAnnetSaerskilteForetakRequest"/>
      <output message="tns:hentAnnetSaerskilteForetakResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/hentAnnetSaerskilteForetakResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/hentAnnetSaerskilteForetak/Fault/ServiceException"/>
    </operation>
    <operation name="oppdaterSaerskilteForetak">
      <input message="tns:oppdaterSaerskilteForetak" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/oppdaterSaerskilteForetakRequest"/>
      <output message="tns:oppdaterSaerskilteForetakResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/oppdaterSaerskilteForetakResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/oppdaterSaerskilteForetak/Fault/ServiceException"/>
    </operation>
    <operation name="oppdaterAnnetSaerskilteForetak">
      <input message="tns:oppdaterAnnetSaerskilteForetak" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/oppdaterAnnetSaerskilteForetakRequest"/>
      <output message="tns:oppdaterAnnetSaerskilteForetakResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/oppdaterAnnetSaerskilteForetakResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/oppdaterAnnetSaerskilteForetak/Fault/ServiceException"/>
    </operation>
    <operation name="slettSaerskilteForetak">
      <input message="tns:slettSaerskilteForetak" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/slettSaerskilteForetakRequest"/>
      <output message="tns:slettSaerskilteForetakResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/slettSaerskilteForetakResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/slettSaerskilteForetak/Fault/ServiceException"/>
    </operation>
    <operation name="slettAnnetSaerskilteForetak">
      <input message="tns:slettAnnetSaerskilteForetak" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/slettAnnetSaerskilteForetakRequest"/>
      <output message="tns:slettAnnetSaerskilteForetakResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/slettAnnetSaerskilteForetakResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/person/PersonService/slettAnnetSaerskilteForetak/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="PersonServicePortBinding" type="tns:PersonService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findPersoner">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="opprettLoepenummerperson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="lagNyttPersonloepenummer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="hentSaerskilteForetak">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="hentAnnetSaerskilteForetak">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="oppdaterSaerskilteForetak">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="oppdaterAnnetSaerskilteForetak">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="slettSaerskilteForetak">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="slettAnnetSaerskilteForetak">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PersonServiceWS">
    <port binding="tns:PersonServicePortBinding" name="PersonServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>
