src/main/resources/grunnbokv2/register_rettsstiftelse_heftelse.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema
        xmlns:register_heftelsens="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/heftelse"
        xmlns:basistyperns="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper"
        xmlns:register_koderns="http://kartverket.no/grunnbok/wsapi/v2/domain/register/koder"
        xmlns:register_rettsstiftelsens="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse"
        xmlns:register_personns="http://kartverket.no/grunnbok/wsapi/v2/domain/register/person"
        xmlns:register_dokumentns="http://kartverket.no/grunnbok/wsapi/v2/domain/register/dokument"
        xmlns:register_registerenhetns="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registerenhet"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        version="1.0"
        targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/heftelse"
        elementFormDefault="qualified">

    <xs:import schemaLocation="basistyper.xsd" namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper"/>
    <xs:import schemaLocation="register.xsd" namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register"/>
    <xs:import schemaLocation="register_koder.xsd"
               namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/koder"/>
    <xs:import schemaLocation="register_rettsstiftelse.xsd"
               namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse"/>
    <xs:import schemaLocation="register_person.xsd"
               namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/person"/>
    <xs:import schemaLocation="register_dokument.xsd"
               namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/dokument"/>
    <xs:import schemaLocation="register_registerenhet.xsd"
               namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registerenhet"/>

    <!-- Heftelse -->

    <xs:complexType name="HeftelseId">
        <xs:complexContent>
            <xs:extension base="register_rettsstiftelsens:RettsstiftelseId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HeftelseIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_heftelsens:HeftelseId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HeftelseIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:HeftelseId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HeftelseIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:HeftelseIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Heftelse">
        <xs:complexContent>
            <xs:extension base="register_rettsstiftelsens:Rettsstiftelse">
                <xs:sequence>
                    <xs:element name="rettighetshavereIds" type="register_personns:PersonIdList"/>
                    <xs:element name="rettighetshavereHistoriskIds" type="register_personns:PersonIdList"/>
                    <xs:element name="realkobletTilIds" type="register_registerenhetns:RegisterenhetsrettIdList"/>
                    <xs:element name="realkobletTilHistoriskIds" type="register_registerenhetns:RegisterenhetsrettIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- HeftelseIAnnenRett -->

    <xs:complexType name="HeftelseIAnnenRettId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HeftelseIAnnenRettIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item"
                        type="register_heftelsens:HeftelseIAnnenRettId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HeftelseIAnnenRettIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:HeftelseIAnnenRettId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HeftelseIAnnenRettIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:HeftelseIAnnenRettIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HeftelseIAnnenRett">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:Heftelse">
                <xs:sequence>
                    <xs:element name="hefterI" type="register_rettsstiftelsens:DelAvRettList"/>
                    <xs:element name="beloep" type="register_rettsstiftelsens:BeloepList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- TvangsforretningIRettighet -->

    <xs:complexType name="TvangsforretningIRettighetId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIAnnenRettId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TvangsforretningIRettighetIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item"
                        type="register_heftelsens:TvangsforretningIRettighetId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TvangsforretningIRettighetIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true"
                                type="register_heftelsens:TvangsforretningIRettighetId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TvangsforretningIRettighetIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true"
                                type="register_heftelsens:TvangsforretningIRettighetIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TvangsforretningIRettighet">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIAnnenRett">
                <xs:sequence>
                    <xs:element name="avholdtTvangsforretning"
                                type="register_rettsstiftelsens:AvholdtTvangsforretning"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- HeftelseIRettighet -->

    <xs:complexType name="HeftelseIRettighetId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIAnnenRettId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HeftelseIRettighetIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item"
                        type="register_heftelsens:HeftelseIRettighetId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HeftelseIRettighetIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:HeftelseIRettighetId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HeftelseIRettighetIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:HeftelseIRettighetIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HeftelseIRettighet">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIAnnenRett">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- HeftelseIRegisterenhetsrett -->

    <xs:complexType name="HeftelseIRegisterenhetsrettId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HeftelseIRegisterenhetsrettIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item"
                        type="register_heftelsens:HeftelseIRegisterenhetsrettId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HeftelseIRegisterenhetsrettIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true"
                                type="register_heftelsens:HeftelseIRegisterenhetsrettId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HeftelseIRegisterenhetsrettIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true"
                                type="register_heftelsens:HeftelseIRegisterenhetsrettIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HeftelseIRegisterenhetsrett">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:Heftelse">
                <xs:sequence>
                    <xs:element name="hefterIRegisterenhetsretterIds" type="register_registerenhetns:RegisterenhetsrettIdList"/>
                    <xs:element name="hefterIRegisterenhetsretterHistoriskIds"
                                type="register_registerenhetns:RegisterenhetsrettIdList"/>
                    <xs:element name="hefterIRegisterenhetsrettsandeler"
                                type="register_heftelsens:BroekInneholdtIRegisterenhetsrettsandelList"/>
                    <xs:element name="hefterIRegisterenhetsrettsandelerHistorisk"
                                type="register_heftelsens:BroekInneholdtIRegisterenhetsrettsandelList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- HeftelseMedBeloep -->

    <xs:complexType name="HeftelseMedBeloepId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrettId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HeftelseMedBeloepIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_heftelsens:HeftelseMedBeloepId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HeftelseMedBeloepIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:HeftelseMedBeloepId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HeftelseMedBeloepIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:HeftelseMedBeloepIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HeftelseMedBeloep">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrett">
                <xs:sequence>
                    <xs:element name="beloep" type="register_rettsstiftelsens:BeloepList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Tvangsforretning -->

    <xs:complexType name="TvangsforretningId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseMedBeloepId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TvangsforretningIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_heftelsens:TvangsforretningId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TvangsforretningIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:TvangsforretningId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TvangsforretningIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:TvangsforretningIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Tvangsforretning">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseMedBeloep">
                <xs:sequence>
                    <xs:element name="avholdtTvangsforretning"
                                type="register_rettsstiftelsens:AvholdtTvangsforretning"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Pant -->

    <xs:complexType name="PantId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseMedBeloepId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PantIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_heftelsens:PantId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PantIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:PantId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PantIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:PantIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Pant">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseMedBeloep">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- NotertPant -->

    <xs:complexType name="NotertPantId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseMedBeloepId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NotertPantIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_heftelsens:NotertPantId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NotertPantIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:NotertPantId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NotertPantIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:NotertPantIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NotertPant">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseMedBeloep">
                <xs:sequence>
                    <xs:element name="notifikasjonsdato" type="basistyperns:LocalDate" nillable="true"/>
                    <xs:element name="prioritet" type="xs:string" nillable="true"/>
                    <xs:element name="besittereAvAndelsbrevIds" type="register_personns:PersonIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- NotertTvangspant -->

    <xs:complexType name="NotertTvangspantId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:NotertPantId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NotertTvangspantIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_heftelsens:NotertTvangspantId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NotertTvangspantIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:NotertTvangspantId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NotertTvangspantIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:NotertTvangspantIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NotertTvangspant">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:NotertPant">
                <xs:sequence>
                    <xs:element name="avholdtTvangsforretning"
                                type="register_rettsstiftelsens:AvholdtTvangsforretning"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Servitutt -->

    <xs:complexType name="ServituttId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrettId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ServituttIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_heftelsens:ServituttId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ServituttIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:ServituttId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ServituttIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:ServituttIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Servitutt">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrett">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- ServituttPengeheftelse -->

    <xs:complexType name="ServituttPengeheftelseId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrettId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ServituttPengeheftelseIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item"
                        type="register_heftelsens:ServituttPengeheftelseId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ServituttPengeheftelseIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:ServituttPengeheftelseId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ServituttPengeheftelseIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true"
                                type="register_heftelsens:ServituttPengeheftelseIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ServituttPengeheftelse">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrett">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- AnnenRettighet -->

    <xs:complexType name="AnnenRettighetId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrettId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AnnenRettighetIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_heftelsens:AnnenRettighetId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AnnenRettighetIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:AnnenRettighetId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AnnenRettighetIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:AnnenRettighetIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AnnenRettighet">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrett">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Leieavtale -->

    <xs:complexType name="LeieavtaleId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:AnnenRettighetId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LeieavtaleIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_heftelsens:LeieavtaleId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LeieavtaleIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:LeieavtaleId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LeieavtaleIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:LeieavtaleIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Leieavtale">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:AnnenRettighet">
                <xs:sequence>
                    <xs:element name="leieFraDato" type="basistyperns:LocalDate" nillable="true"/>
                    <xs:element name="leietid" type="register_rettsstiftelsens:Tidsperiode" nillable="true"/>
                    <xs:element name="leiebeloep" type="register_rettsstiftelsens:BeloepForPeriode" nillable="true"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Fremleieavtale -->

    <xs:complexType name="FremleieavtaleId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:LeieavtaleId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FremleieavtaleIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_heftelsens:FremleieavtaleId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FremleieavtaleIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:FremleieavtaleId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FremleieavtaleIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:FremleieavtaleIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Fremleieavtale">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:Leieavtale">
                <xs:sequence>
                    <xs:element name="fremleieavtaleForId" type="register_heftelsens:AnnenRettighetId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- Avtale -->

    <xs:complexType name="AvtaleId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrettId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AvtaleIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_heftelsens:AvtaleId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AvtaleIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:AvtaleId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AvtaleIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:AvtaleIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Avtale">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrett">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- VilkaarIFestekontrakt -->

    <xs:complexType name="VilkaarIFestekontraktId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrettId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VilkaarIFestekontraktIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item"
                        type="register_heftelsens:VilkaarIFestekontraktId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VilkaarIFestekontraktIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:VilkaarIFestekontraktId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VilkaarIFestekontraktIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true"
                                type="register_heftelsens:VilkaarIFestekontraktIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VilkaarIFestekontrakt">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrett">
                <xs:sequence>
                    <xs:element name="festeFraDato" type="basistyperns:LocalDate" nillable="true"/>
                    <xs:element name="festetidIAntallAar" type="xs:int" nillable="true"/>
                    <xs:element name="aarligFesteavgift" type="register_rettsstiftelsens:Beloep" nillable="true"/>
                    <xs:element name="tomteverdi" type="register_rettsstiftelsens:Beloep" nillable="true"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- AnnenHeftelse -->

    <xs:complexType name="AnnenHeftelseId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrettId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AnnenHeftelseIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="register_heftelsens:AnnenHeftelseId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AnnenHeftelseIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:AnnenHeftelseId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AnnenHeftelseIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_heftelsens:AnnenHeftelseIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AnnenHeftelse">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrett">
                <xs:sequence>
                    <xs:element name="kanIkkeSlettesUtenSamtykkeFraIds" type="register_personns:PersonIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- NektetRettsstiftelse -->

    <xs:complexType name="NektetRettsstiftelseId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrettId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NektetRettsstiftelseIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item"
                        type="register_heftelsens:NektetRettsstiftelseId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NektetRettsstiftelseIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true"
                                type="register_heftelsens:NektetRettsstiftelseId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NektetRettsstiftelseIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true"
                                type="register_heftelsens:NektetRettsstiftelseIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NektetRettsstiftelse">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrett">
                <xs:sequence>
                    <xs:element name="opprinneligRettsstiftelsestypeId"
                                type="register_koderns:RettsstiftelsestypeKodeId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- Anke -->

    <xs:complexType name="AnkeId">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrettId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AnkeIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item"
                        type="register_heftelsens:AnkeId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AnkeIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true"
                                type="register_heftelsens:AnkeId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AnkeIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true"
                                type="register_heftelsens:AnkeIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Anke">
        <xs:complexContent>
            <xs:extension base="register_heftelsens:HeftelseIRegisterenhetsrett">
                <xs:sequence>
                    <xs:element name="anketypeId"
                                type="register_koderns:AnketypeKodeId"/>
                    <xs:element name="datoForAvgjoerelseSomAnkenGjelder" type="basistyperns:LocalDate" nillable="true"/>
                    <xs:element name="dokumenterSomAnkesIds" type="register_dokumentns:DokumentIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- BroekInneholdtIRegisterenhetsrettsandel -->

    <xs:complexType name="BroekInneholdtIRegisterenhetsrettsandel">
        <xs:complexContent>
            <xs:extension base="basistyperns:EntityComponentWithHistory">
                <xs:sequence>
                    <xs:element name="teller" type="xs:long"/>
                    <xs:element name="nevner" type="xs:long"/>
                    <xs:element name="registerenhetsrettsandelId" type="register_registerenhetns:RegisterenhetsrettsandelId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BroekInneholdtIRegisterenhetsrettsandelList">
        <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded"
                        type="register_heftelsens:BroekInneholdtIRegisterenhetsrettsandel"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>

