src/main/resources/grunnbokv2/RegisterenhetServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="RegisterenhetServiceWS" targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/service/servicetyper" schemaLocation="servicetyper.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet" schemaLocation="RegisterenhetServiceWS_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/saksinformasjon" schemaLocation="register_saksinformasjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/rettsendring" schemaLocation="register_rettsstiftelse_rettsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="register_rettsstiftelse_registerenhetsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="register_rettsstiftelse_personkoblingsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/overdragelse" schemaLocation="register_rettsstiftelse_overdragelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/heftelse" schemaLocation="register_rettsstiftelse_heftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/anmerkning" schemaLocation="register_rettsstiftelse_anmerkning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse" schemaLocation="register_rettsstiftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registrering" schemaLocation="register_registrering.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registerenhet" schemaLocation="register_registerenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/person" schemaLocation="register_person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/koder" schemaLocation="register_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/journalpost" schemaLocation="register_journalpost.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/dokument" schemaLocation="register_dokument.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/bruker" schemaLocation="register_bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/adresse" schemaLocation="register_adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register" schemaLocation="register.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findOmnummerertFra">
    <part element="tns:findOmnummerertFra" name="parameters"/>
  </message>
  <message name="findOmnummerertFraResponse">
    <part element="tns:findOmnummerertFraResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v2/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findBorettslagsandelerFor">
    <part element="tns:findBorettslagsandelerFor" name="parameters"/>
  </message>
  <message name="findBorettslagsandelerForResponse">
    <part element="tns:findBorettslagsandelerForResponse" name="parameters"/>
  </message>
  <message name="findBorettslagsandelerForBorettslag">
    <part element="tns:findBorettslagsandelerForBorettslag" name="parameters"/>
  </message>
  <message name="findBorettslagsandelerForBorettslagResponse">
    <part element="tns:findBorettslagsandelerForBorettslagResponse" name="parameters"/>
  </message>
  <message name="findSeksjonerFor">
    <part element="tns:findSeksjonerFor" name="parameters"/>
  </message>
  <message name="findSeksjonerForResponse">
    <part element="tns:findSeksjonerForResponse" name="parameters"/>
  </message>
  <message name="findFestegrunnerFor">
    <part element="tns:findFestegrunnerFor" name="parameters"/>
  </message>
  <message name="findFestegrunnerForResponse">
    <part element="tns:findFestegrunnerForResponse" name="parameters"/>
  </message>
  <portType name="RegisterenhetService">
    <operation name="findOmnummerertFra">
      <input message="tns:findOmnummerertFra" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet/RegisterenhetService/findOmnummerertFraRequest"/>
      <output message="tns:findOmnummerertFraResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet/RegisterenhetService/findOmnummerertFraResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet/RegisterenhetService/findOmnummerertFra/Fault/ServiceException"/>
    </operation>
    <operation name="findBorettslagsandelerFor">
      <input message="tns:findBorettslagsandelerFor" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet/RegisterenhetService/findBorettslagsandelerForRequest"/>
      <output message="tns:findBorettslagsandelerForResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet/RegisterenhetService/findBorettslagsandelerForResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet/RegisterenhetService/findBorettslagsandelerFor/Fault/ServiceException"/>
    </operation>
    <operation name="findBorettslagsandelerForBorettslag">
      <input message="tns:findBorettslagsandelerForBorettslag" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet/RegisterenhetService/findBorettslagsandelerForBorettslagRequest"/>
      <output message="tns:findBorettslagsandelerForBorettslagResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet/RegisterenhetService/findBorettslagsandelerForBorettslagResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet/RegisterenhetService/findBorettslagsandelerForBorettslag/Fault/ServiceException"/>
    </operation>
    <operation name="findSeksjonerFor">
      <input message="tns:findSeksjonerFor" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet/RegisterenhetService/findSeksjonerForRequest"/>
      <output message="tns:findSeksjonerForResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet/RegisterenhetService/findSeksjonerForResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet/RegisterenhetService/findSeksjonerFor/Fault/ServiceException"/>
    </operation>
    <operation name="findFestegrunnerFor">
      <input message="tns:findFestegrunnerFor" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet/RegisterenhetService/findFestegrunnerForRequest"/>
      <output message="tns:findFestegrunnerForResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet/RegisterenhetService/findFestegrunnerForResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhet/RegisterenhetService/findFestegrunnerFor/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="RegisterenhetServicePortBinding" type="tns:RegisterenhetService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findOmnummerertFra">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBorettslagsandelerFor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBorettslagsandelerForBorettslag">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSeksjonerFor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findFestegrunnerFor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RegisterenhetServiceWS">
    <port binding="tns:RegisterenhetServicePortBinding" name="RegisterenhetServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>