src/main/resources/grunnbokv2/RegisterenhetsrettsandelServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhetsrettsandel" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="RegisterenhetsrettsandelServiceWS" targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhetsrettsandel">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/service/servicetyper" schemaLocation="servicetyper.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhetsrettsandel" schemaLocation="RegisterenhetsrettsandelServiceWS_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/saksinformasjon" schemaLocation="register_saksinformasjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/rettsendring" schemaLocation="register_rettsstiftelse_rettsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="register_rettsstiftelse_registerenhetsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="register_rettsstiftelse_personkoblingsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/overdragelse" schemaLocation="register_rettsstiftelse_overdragelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/heftelse" schemaLocation="register_rettsstiftelse_heftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/anmerkning" schemaLocation="register_rettsstiftelse_anmerkning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse" schemaLocation="register_rettsstiftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registrering" schemaLocation="register_registrering.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registerenhet" schemaLocation="register_registerenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/person" schemaLocation="register_person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/koder" schemaLocation="register_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/journalpost" schemaLocation="register_journalpost.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/dokument" schemaLocation="register_dokument.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/bruker" schemaLocation="register_bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/adresse" schemaLocation="register_adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register" schemaLocation="register.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findAndelerForRettighetshavere">
    <part element="tns:findAndelerForRettighetshavere" name="parameters"/>
  </message>
  <message name="findAndelerForRettighetshavereResponse">
    <part element="tns:findAndelerForRettighetshavereResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v2/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findAndelerIRetter">
    <part element="tns:findAndelerIRetter" name="parameters"/>
  </message>
  <message name="findAndelerIRetterResponse">
    <part element="tns:findAndelerIRetterResponse" name="parameters"/>
  </message>
  <message name="findAndelerRealkobletTilRegisterenheter">
    <part element="tns:findAndelerRealkobletTilRegisterenheter" name="parameters"/>
  </message>
  <message name="findAndelerRealkobletTilRegisterenheterResponse">
    <part element="tns:findAndelerRealkobletTilRegisterenheterResponse" name="parameters"/>
  </message>
  <portType name="RegisterenhetsrettsandelService">
    <operation name="findAndelerForRettighetshavere">
      <input message="tns:findAndelerForRettighetshavere" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhetsrettsandel/RegisterenhetsrettsandelService/findAndelerForRettighetshavereRequest"/>
      <output message="tns:findAndelerForRettighetshavereResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhetsrettsandel/RegisterenhetsrettsandelService/findAndelerForRettighetshavereResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhetsrettsandel/RegisterenhetsrettsandelService/findAndelerForRettighetshavere/Fault/ServiceException"/>
    </operation>
    <operation name="findAndelerIRetter">
      <input message="tns:findAndelerIRetter" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhetsrettsandel/RegisterenhetsrettsandelService/findAndelerIRetterRequest"/>
      <output message="tns:findAndelerIRetterResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhetsrettsandel/RegisterenhetsrettsandelService/findAndelerIRetterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhetsrettsandel/RegisterenhetsrettsandelService/findAndelerIRetter/Fault/ServiceException"/>
    </operation>
    <operation name="findAndelerRealkobletTilRegisterenheter">
      <input message="tns:findAndelerRealkobletTilRegisterenheter" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhetsrettsandel/RegisterenhetsrettsandelService/findAndelerRealkobletTilRegisterenheterRequest"/>
      <output message="tns:findAndelerRealkobletTilRegisterenheterResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhetsrettsandel/RegisterenhetsrettsandelService/findAndelerRealkobletTilRegisterenheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/registerenhetsrettsandel/RegisterenhetsrettsandelService/findAndelerRealkobletTilRegisterenheter/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="RegisterenhetsrettsandelServicePortBinding" type="tns:RegisterenhetsrettsandelService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findAndelerForRettighetshavere">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAndelerIRetter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAndelerRealkobletTilRegisterenheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RegisterenhetsrettsandelServiceWS">
    <port binding="tns:RegisterenhetsrettsandelServicePortBinding" name="RegisterenhetsrettsandelServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>