src/main/resources/grunnbokv2/register_rettsstiftelse_registerenhetsendring.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema
        version="1.0"
        targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/registerenhetsendring"
        xmlns:register_registerenhetsendringns="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/registerenhetsendring"
        xmlns:basistyperns="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper"
        xmlns:register_rettsstiftelsens="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse"
        xmlns:registerns="http://kartverket.no/grunnbok/wsapi/v2/domain/register"
        xmlns:register_registerenhetns="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registerenhet"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <xs:import schemaLocation="basistyper.xsd" namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper"/>
    <xs:import schemaLocation="register_rettsstiftelse.xsd" namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse"/>
    <xs:import schemaLocation="register.xsd" namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register"/>
    <xs:import schemaLocation="register_registerenhet.xsd" namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registerenhet"/>

    <!-- Registerenhetsendring -->

    <xs:complexType name="RegisterenhetsendringId">
        <xs:complexContent>
            <xs:extension base="register_rettsstiftelsens:RettsstiftelseId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RegisterenhetsendringIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item"
                        type="register_registerenhetsendringns:RegisterenhetsendringId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RegisterenhetsendringIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_registerenhetsendringns:RegisterenhetsendringId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RegisterenhetsendringIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_registerenhetsendringns:RegisterenhetsendringIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Registerenhetsendring">
        <xs:complexContent>
            <xs:extension base="register_rettsstiftelsens:Rettsstiftelse">
                <xs:sequence>
                    <xs:element name="omsetning" type="register_rettsstiftelsens:Omsetning" nillable="true"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Borettslagsandelsendring -->

    <xs:complexType name="BorettslagsandelsendringId">
        <xs:complexContent>
            <xs:extension base="register_registerenhetsendringns:RegisterenhetsendringId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BorettslagsandelsendringIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item"
                        type="register_registerenhetsendringns:BorettslagsandelsendringId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BorettslagsandelsendringIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_registerenhetsendringns:BorettslagsandelsendringId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BorettslagsandelsendringIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_registerenhetsendringns:BorettslagsandelsendringIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Borettslagsandelsendring">
        <xs:complexContent>
            <xs:extension base="register_registerenhetsendringns:Registerenhetsendring">
                <xs:sequence>
                    <xs:element name="borettslagId" type="registerns:BorettslagId" nillable="true"/>
                    <xs:element name="fraIds" type="register_registerenhetns:BorettslagsandelIdList"/>
                    <xs:element name="tilIds" type="register_registerenhetns:BorettslagsandelIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Matrikkelenhetsendring -->

    <xs:complexType name="MatrikkelenhetsendringId">
        <xs:complexContent>
            <xs:extension base="register_registerenhetsendringns:RegisterenhetsendringId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MatrikkelenhetsendringIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item"
                        type="register_registerenhetsendringns:MatrikkelenhetsendringId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MatrikkelenhetsendringIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_registerenhetsendringns:MatrikkelenhetsendringId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MatrikkelenhetsendringIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true"
                                type="register_registerenhetsendringns:MatrikkelenhetsendringIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Matrikkelenhetsendring">
        <xs:complexContent>
            <xs:extension base="register_registerenhetsendringns:Registerenhetsendring">
                <xs:sequence>
                    <xs:element name="fraIds" type="register_registerenhetns:MatrikkelenhetIdList"/>
                    <xs:element name="tilIds" type="register_registerenhetns:MatrikkelenhetIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Seksjonssameieendring -->

    <xs:complexType name="SeksjonssameieendringId">
        <xs:complexContent>
            <xs:extension base="register_registerenhetsendringns:RegisterenhetsendringId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SeksjonssameieendringIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item"
                        type="register_registerenhetsendringns:SeksjonssameieendringId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SeksjonssameieendringIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_registerenhetsendringns:SeksjonssameieendringId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SeksjonssameieendringIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_registerenhetsendringns:SeksjonssameieendringIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Seksjonssameieendring">
        <xs:complexContent>
            <xs:extension base="register_registerenhetsendringns:Registerenhetsendring">
                <xs:sequence>
                    <xs:element name="utgaatteIds" type="register_registerenhetns:SeksjonssameieandelIdList"/>
                    <xs:element name="nyeIds" type="register_registerenhetns:SeksjonssameieandelIdList"/>
                    <xs:element name="utgaatteForTilpassingAvBroekIds" type="register_registerenhetns:SeksjonssameieandelIdList"/>
                    <xs:element name="nyeForTilpassingAvBroekIds" type="register_registerenhetns:SeksjonssameieandelIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Seksjonering -->

    <xs:complexType name="SeksjoneringId">
        <xs:complexContent>
            <xs:extension base="register_registerenhetsendringns:RegisterenhetsendringId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SeksjoneringIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item"
                        type="register_registerenhetsendringns:SeksjoneringId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SeksjoneringIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_registerenhetsendringns:SeksjoneringId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SeksjoneringIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_registerenhetsendringns:SeksjoneringIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Seksjonering">
        <xs:complexContent>
            <xs:extension base="register_registerenhetsendringns:Registerenhetsendring">
                <xs:sequence>
                    <xs:element name="nyeIds" type="register_registerenhetns:SeksjonssameieandelIdList"/>
                    <xs:element name="fraIds" type="register_registerenhetns:MatrikkelenhetIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- OpphevingAvSeksjonering -->

    <xs:complexType name="OpphevingAvSeksjoneringId">
        <xs:complexContent>
            <xs:extension base="register_registerenhetsendringns:RegisterenhetsendringId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OpphevingAvSeksjoneringIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item"
                        type="register_registerenhetsendringns:OpphevingAvSeksjoneringId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OpphevingAvSeksjoneringIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_registerenhetsendringns:OpphevingAvSeksjoneringId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OpphevingAvSeksjoneringIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true"
                                type="register_registerenhetsendringns:OpphevingAvSeksjoneringIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OpphevingAvSeksjonering">
        <xs:complexContent>
            <xs:extension base="register_registerenhetsendringns:Registerenhetsendring">
                <xs:sequence>
                    <xs:element name="utgaatteIds" type="register_registerenhetns:SeksjonssameieandelIdList"/>
                    <xs:element name="tilIds" type="register_registerenhetns:MatrikkelenhetIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SammenslaaingAvEierseksjonssameierId">
        <xs:complexContent>
            <xs:extension base="register_registerenhetsendringns:RegisterenhetsendringId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="SammenslaaingAvEierseksjonssameierIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item"
                        type="register_registerenhetsendringns:SammenslaaingAvEierseksjonssameierId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SammenslaaingAvEierseksjonssameierIdInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true" type="register_registerenhetsendringns:SammenslaaingAvEierseksjonssameierId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SammenslaaingAvEierseksjonssameierIdListInverseRelation">
        <xs:complexContent>
            <xs:extension base="basistyperns:InverseRelation">
                <xs:sequence>
                    <xs:element name="cachedValue" nillable="true"
                                type="register_registerenhetsendringns:SammenslaaingAvEierseksjonssameierIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SammenslaaingAvEierseksjonssameier">
        <xs:complexContent>
            <xs:extension base="register_registerenhetsendringns:Registerenhetsendring">
                <xs:sequence>
                    <xs:element name="fraIds" type="register_registerenhetns:MatrikkelenhetIdList"/>
                    <xs:element name="tilIds" type="register_registerenhetns:MatrikkelenhetIdList"/>
                    <xs:element name="utgaatteIds" type="register_registerenhetns:SeksjonssameieandelIdList"/>
                    <xs:element name="nyeIds" type="register_registerenhetns:SeksjonssameieandelIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>