src/main/resources/grunnbokv2/RettsstiftelseServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="RettsstiftelseServiceWS" targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/service/servicetyper" schemaLocation="servicetyper.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse" schemaLocation="RettsstiftelseServiceWS_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/saksinformasjon" schemaLocation="register_saksinformasjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/rettsendring" schemaLocation="register_rettsstiftelse_rettsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="register_rettsstiftelse_registerenhetsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="register_rettsstiftelse_personkoblingsendring.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/overdragelse" schemaLocation="register_rettsstiftelse_overdragelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/heftelse" schemaLocation="register_rettsstiftelse_heftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/anmerkning" schemaLocation="register_rettsstiftelse_anmerkning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse" schemaLocation="register_rettsstiftelse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registrering" schemaLocation="register_registrering.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registerenhet" schemaLocation="register_registerenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/person" schemaLocation="register_person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/koder" schemaLocation="register_koder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/journalpost" schemaLocation="register_journalpost.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/dokument" schemaLocation="register_dokument.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/bruker" schemaLocation="register_bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/adresse" schemaLocation="register_adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register" schemaLocation="register.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/melding" schemaLocation="melding.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/grunnboksidenter" schemaLocation="grunnboksidenter.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findTidligereHeftelserIRegisterenhetsrettsandeler">
    <part element="tns:findTidligereHeftelserIRegisterenhetsrettsandeler" name="parameters"/>
  </message>
  <message name="findTidligereHeftelserIRegisterenhetsrettsandelerResponse">
    <part element="tns:findTidligereHeftelserIRegisterenhetsrettsandelerResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v2/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findBorettslagsandelsendringerForAlleTidligereRegisterenheter">
    <part element="tns:findBorettslagsandelsendringerForAlleTidligereRegisterenheter" name="parameters"/>
  </message>
  <message name="findBorettslagsandelsendringerForAlleTidligereRegisterenheterResponse">
    <part element="tns:findBorettslagsandelsendringerForAlleTidligereRegisterenheterResponse" name="parameters"/>
  </message>
  <message name="findOverdragelserMedAktiveAndelerRealkobletTilRegisterenhet">
    <part element="tns:findOverdragelserMedAktiveAndelerRealkobletTilRegisterenhet" name="parameters"/>
  </message>
  <message name="findOverdragelserMedAktiveAndelerRealkobletTilRegisterenhetResponse">
    <part element="tns:findOverdragelserMedAktiveAndelerRealkobletTilRegisterenhetResponse" name="parameters"/>
  </message>
  <message name="findRettsstiftelsestypeKoderForRettstypeKoder">
    <part element="tns:findRettsstiftelsestypeKoderForRettstypeKoder" name="parameters"/>
  </message>
  <message name="findRettsstiftelsestypeKoderForRettstypeKoderResponse">
    <part element="tns:findRettsstiftelsestypeKoderForRettstypeKoderResponse" name="parameters"/>
  </message>
  <message name="findOverdragelserAvRegisterenhetsrett">
    <part element="tns:findOverdragelserAvRegisterenhetsrett" name="parameters"/>
  </message>
  <message name="findOverdragelserAvRegisterenhetsrettResponse">
    <part element="tns:findOverdragelserAvRegisterenhetsrettResponse" name="parameters"/>
  </message>
  <message name="findRettsstiftelserMedUtgaatteAndeler">
    <part element="tns:findRettsstiftelserMedUtgaatteAndeler" name="parameters"/>
  </message>
  <message name="findRettsstiftelserMedUtgaatteAndelerResponse">
    <part element="tns:findRettsstiftelserMedUtgaatteAndelerResponse" name="parameters"/>
  </message>
  <message name="findHeftelserMedAktivRettighetshaver">
    <part element="tns:findHeftelserMedAktivRettighetshaver" name="parameters"/>
  </message>
  <message name="findHeftelserMedAktivRettighetshaverResponse">
    <part element="tns:findHeftelserMedAktivRettighetshaverResponse" name="parameters"/>
  </message>
  <message name="findHeftelserIRegisterenhetsretter">
    <part element="tns:findHeftelserIRegisterenhetsretter" name="parameters"/>
  </message>
  <message name="findHeftelserIRegisterenhetsretterResponse">
    <part element="tns:findHeftelserIRegisterenhetsretterResponse" name="parameters"/>
  </message>
  <message name="findTidligereHeftelserIRegisterenhetsretter">
    <part element="tns:findTidligereHeftelserIRegisterenhetsretter" name="parameters"/>
  </message>
  <message name="findTidligereHeftelserIRegisterenhetsretterResponse">
    <part element="tns:findTidligereHeftelserIRegisterenhetsretterResponse" name="parameters"/>
  </message>
  <message name="findHeftelserIRegisterenhetsrettsandeler">
    <part element="tns:findHeftelserIRegisterenhetsrettsandeler" name="parameters"/>
  </message>
  <message name="findHeftelserIRegisterenhetsrettsandelerResponse">
    <part element="tns:findHeftelserIRegisterenhetsrettsandelerResponse" name="parameters"/>
  </message>
  <message name="findMatrikkelenhetsendringerAlleRoller">
    <part element="tns:findMatrikkelenhetsendringerAlleRoller" name="parameters"/>
  </message>
  <message name="findMatrikkelenhetsendringerAlleRollerResponse">
    <part element="tns:findMatrikkelenhetsendringerAlleRollerResponse" name="parameters"/>
  </message>
  <message name="findBorettslagsandelsendringerFra">
    <part element="tns:findBorettslagsandelsendringerFra" name="parameters"/>
  </message>
  <message name="findBorettslagsandelsendringerFraResponse">
    <part element="tns:findBorettslagsandelsendringerFraResponse" name="parameters"/>
  </message>
  <message name="findBorettslagsandelsendringerTil">
    <part element="tns:findBorettslagsandelsendringerTil" name="parameters"/>
  </message>
  <message name="findBorettslagsandelsendringerTilResponse">
    <part element="tns:findBorettslagsandelsendringerTilResponse" name="parameters"/>
  </message>
  <message name="findBorettslagsandelsendringerAlleRoller">
    <part element="tns:findBorettslagsandelsendringerAlleRoller" name="parameters"/>
  </message>
  <message name="findBorettslagsandelsendringerAlleRollerResponse">
    <part element="tns:findBorettslagsandelsendringerAlleRollerResponse" name="parameters"/>
  </message>
  <message name="findSeksjonssameieendringerForUtgaatte">
    <part element="tns:findSeksjonssameieendringerForUtgaatte" name="parameters"/>
  </message>
  <message name="findSeksjonssameieendringerForUtgaatteResponse">
    <part element="tns:findSeksjonssameieendringerForUtgaatteResponse" name="parameters"/>
  </message>
  <message name="findSeksjonssameieendringerForNye">
    <part element="tns:findSeksjonssameieendringerForNye" name="parameters"/>
  </message>
  <message name="findSeksjonssameieendringerForNyeResponse">
    <part element="tns:findSeksjonssameieendringerForNyeResponse" name="parameters"/>
  </message>
  <message name="findSeksjonssameieendringerAlleRoller">
    <part element="tns:findSeksjonssameieendringerAlleRoller" name="parameters"/>
  </message>
  <message name="findSeksjonssameieendringerAlleRollerResponse">
    <part element="tns:findSeksjonssameieendringerAlleRollerResponse" name="parameters"/>
  </message>
  <message name="findOverdragelserMedAktiveAndelerIRegisterenhet">
    <part element="tns:findOverdragelserMedAktiveAndelerIRegisterenhet" name="parameters"/>
  </message>
  <message name="findOverdragelserMedAktiveAndelerIRegisterenhetResponse">
    <part element="tns:findOverdragelserMedAktiveAndelerIRegisterenhetResponse" name="parameters"/>
  </message>
  <message name="findTidligereOverdragelserAvRegisterenhetsrett">
    <part element="tns:findTidligereOverdragelserAvRegisterenhetsrett" name="parameters"/>
  </message>
  <message name="findTidligereOverdragelserAvRegisterenhetsrettResponse">
    <part element="tns:findTidligereOverdragelserAvRegisterenhetsrettResponse" name="parameters"/>
  </message>
  <message name="findTidligereLeieavtalerOgRettigheter">
    <part element="tns:findTidligereLeieavtalerOgRettigheter" name="parameters"/>
  </message>
  <message name="findTidligereLeieavtalerOgRettigheterResponse">
    <part element="tns:findTidligereLeieavtalerOgRettigheterResponse" name="parameters"/>
  </message>
  <message name="findRaaderettsbegrensningerForRegisterenhet">
    <part element="tns:findRaaderettsbegrensningerForRegisterenhet" name="parameters"/>
  </message>
  <message name="findRaaderettsbegrensningerForRegisterenhetResponse">
    <part element="tns:findRaaderettsbegrensningerForRegisterenhetResponse" name="parameters"/>
  </message>
  <message name="findOverdragelserAvRegisterenhetsrettForPerson">
    <part element="tns:findOverdragelserAvRegisterenhetsrettForPerson" name="parameters"/>
  </message>
  <message name="findOverdragelserAvRegisterenhetsrettForPersonResponse">
    <part element="tns:findOverdragelserAvRegisterenhetsrettForPersonResponse" name="parameters"/>
  </message>
  <message name="findRettsstiftelserForDokumentNummerOgAar">
    <part element="tns:findRettsstiftelserForDokumentNummerOgAar" name="parameters"/>
  </message>
  <message name="findRettsstiftelserForDokumentNummerOgAarResponse">
    <part element="tns:findRettsstiftelserForDokumentNummerOgAarResponse" name="parameters"/>
  </message>
  <message name="findRettsstiftelserInneholdtAvDokumenter">
    <part element="tns:findRettsstiftelserInneholdtAvDokumenter" name="parameters"/>
  </message>
  <message name="findRettsstiftelserInneholdtAvDokumenterResponse">
    <part element="tns:findRettsstiftelserInneholdtAvDokumenterResponse" name="parameters"/>
  </message>
  <message name="findOmfangAvHistoriskGrunnboksutskrift">
    <part element="tns:findOmfangAvHistoriskGrunnboksutskrift" name="parameters"/>
  </message>
  <message name="findOmfangAvHistoriskGrunnboksutskriftResponse">
    <part element="tns:findOmfangAvHistoriskGrunnboksutskriftResponse" name="parameters"/>
  </message>
  <message name="findFremleieavtalerForAnnenRettighet">
    <part element="tns:findFremleieavtalerForAnnenRettighet" name="parameters"/>
  </message>
  <message name="findFremleieavtalerForAnnenRettighetResponse">
    <part element="tns:findFremleieavtalerForAnnenRettighetResponse" name="parameters"/>
  </message>
  <message name="findRettsstiftelserMedNyeAndeler">
    <part element="tns:findRettsstiftelserMedNyeAndeler" name="parameters"/>
  </message>
  <message name="findRettsstiftelserMedNyeAndelerResponse">
    <part element="tns:findRettsstiftelserMedNyeAndelerResponse" name="parameters"/>
  </message>
  <message name="findAnmerkningerPaaPerson">
    <part element="tns:findAnmerkningerPaaPerson" name="parameters"/>
  </message>
  <message name="findAnmerkningerPaaPersonResponse">
    <part element="tns:findAnmerkningerPaaPersonResponse" name="parameters"/>
  </message>
  <message name="findRettsendringer">
    <part element="tns:findRettsendringer" name="parameters"/>
  </message>
  <message name="findRettsendringerResponse">
    <part element="tns:findRettsendringerResponse" name="parameters"/>
  </message>
  <message name="findHeftelserIAnnenRett">
    <part element="tns:findHeftelserIAnnenRett" name="parameters"/>
  </message>
  <message name="findHeftelserIAnnenRettResponse">
    <part element="tns:findHeftelserIAnnenRettResponse" name="parameters"/>
  </message>
  <message name="findMatrikkelenhetsendringerFra">
    <part element="tns:findMatrikkelenhetsendringerFra" name="parameters"/>
  </message>
  <message name="findMatrikkelenhetsendringerFraResponse">
    <part element="tns:findMatrikkelenhetsendringerFraResponse" name="parameters"/>
  </message>
  <message name="findMatrikkelenhetsendringerTil">
    <part element="tns:findMatrikkelenhetsendringerTil" name="parameters"/>
  </message>
  <message name="findMatrikkelenhetsendringerTilResponse">
    <part element="tns:findMatrikkelenhetsendringerTilResponse" name="parameters"/>
  </message>
  <message name="findBorettslagsandelsendringer">
    <part element="tns:findBorettslagsandelsendringer" name="parameters"/>
  </message>
  <message name="findBorettslagsandelsendringerResponse">
    <part element="tns:findBorettslagsandelsendringerResponse" name="parameters"/>
  </message>
  <message name="findTidligereHeftelser">
    <part element="tns:findTidligereHeftelser" name="parameters"/>
  </message>
  <message name="findTidligereHeftelserResponse">
    <part element="tns:findTidligereHeftelserResponse" name="parameters"/>
  </message>
  <message name="findLeieavtalerOgRettigheter">
    <part element="tns:findLeieavtalerOgRettigheter" name="parameters"/>
  </message>
  <message name="findLeieavtalerOgRettigheterResponse">
    <part element="tns:findLeieavtalerOgRettigheterResponse" name="parameters"/>
  </message>
  <message name="findRegisterenhetsendringer">
    <part element="tns:findRegisterenhetsendringer" name="parameters"/>
  </message>
  <message name="findRegisterenhetsendringerResponse">
    <part element="tns:findRegisterenhetsendringerResponse" name="parameters"/>
  </message>
  <message name="findRettsstiftelserForDokument">
    <part element="tns:findRettsstiftelserForDokument" name="parameters"/>
  </message>
  <message name="findRettsstiftelserForDokumentResponse">
    <part element="tns:findRettsstiftelserForDokumentResponse" name="parameters"/>
  </message>
  <message name="findRettigheterForRegisterenhet">
    <part element="tns:findRettigheterForRegisterenhet" name="parameters"/>
  </message>
  <message name="findRettigheterForRegisterenhetResponse">
    <part element="tns:findRettigheterForRegisterenhetResponse" name="parameters"/>
  </message>
  <message name="findFestekontrakter">
    <part element="tns:findFestekontrakter" name="parameters"/>
  </message>
  <message name="findFestekontrakterResponse">
    <part element="tns:findFestekontrakterResponse" name="parameters"/>
  </message>
  <message name="findTidligereFestekontrakter">
    <part element="tns:findTidligereFestekontrakter" name="parameters"/>
  </message>
  <message name="findTidligereFestekontrakterResponse">
    <part element="tns:findTidligereFestekontrakterResponse" name="parameters"/>
  </message>
  <message name="findRettigheterForPerson">
    <part element="tns:findRettigheterForPerson" name="parameters"/>
  </message>
  <message name="findRettigheterForPersonResponse">
    <part element="tns:findRettigheterForPersonResponse" name="parameters"/>
  </message>
  <message name="findOmfangAvGrunnboksutskrift">
    <part element="tns:findOmfangAvGrunnboksutskrift" name="parameters"/>
  </message>
  <message name="findOmfangAvGrunnboksutskriftResponse">
    <part element="tns:findOmfangAvGrunnboksutskriftResponse" name="parameters"/>
  </message>
  <message name="findAnmerkninger">
    <part element="tns:findAnmerkninger" name="parameters"/>
  </message>
  <message name="findAnmerkningerResponse">
    <part element="tns:findAnmerkningerResponse" name="parameters"/>
  </message>
  <message name="findHeftelser">
    <part element="tns:findHeftelser" name="parameters"/>
  </message>
  <message name="findHeftelserResponse">
    <part element="tns:findHeftelserResponse" name="parameters"/>
  </message>
  <portType name="RettsstiftelseService">
    <operation name="findTidligereHeftelserIRegisterenhetsrettsandeler">
      <input message="tns:findTidligereHeftelserIRegisterenhetsrettsandeler" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereHeftelserIRegisterenhetsrettsandelerRequest"/>
      <output message="tns:findTidligereHeftelserIRegisterenhetsrettsandelerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereHeftelserIRegisterenhetsrettsandelerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereHeftelserIRegisterenhetsrettsandeler/Fault/ServiceException"/>
    </operation>
    <operation name="findBorettslagsandelsendringerForAlleTidligereRegisterenheter">
      <input message="tns:findBorettslagsandelsendringerForAlleTidligereRegisterenheter" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findBorettslagsandelsendringerForAlleTidligereRegisterenheterRequest"/>
      <output message="tns:findBorettslagsandelsendringerForAlleTidligereRegisterenheterResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findBorettslagsandelsendringerForAlleTidligereRegisterenheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findBorettslagsandelsendringerForAlleTidligereRegisterenheter/Fault/ServiceException"/>
    </operation>
    <operation name="findOverdragelserMedAktiveAndelerRealkobletTilRegisterenhet">
      <input message="tns:findOverdragelserMedAktiveAndelerRealkobletTilRegisterenhet" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOverdragelserMedAktiveAndelerRealkobletTilRegisterenhetRequest"/>
      <output message="tns:findOverdragelserMedAktiveAndelerRealkobletTilRegisterenhetResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOverdragelserMedAktiveAndelerRealkobletTilRegisterenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOverdragelserMedAktiveAndelerRealkobletTilRegisterenhet/Fault/ServiceException"/>
    </operation>
    <operation name="findRettsstiftelsestypeKoderForRettstypeKoder">
      <input message="tns:findRettsstiftelsestypeKoderForRettstypeKoder" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelsestypeKoderForRettstypeKoderRequest"/>
      <output message="tns:findRettsstiftelsestypeKoderForRettstypeKoderResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelsestypeKoderForRettstypeKoderResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelsestypeKoderForRettstypeKoder/Fault/ServiceException"/>
    </operation>
    <operation name="findOverdragelserAvRegisterenhetsrett">
      <input message="tns:findOverdragelserAvRegisterenhetsrett" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOverdragelserAvRegisterenhetsrettRequest"/>
      <output message="tns:findOverdragelserAvRegisterenhetsrettResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOverdragelserAvRegisterenhetsrettResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOverdragelserAvRegisterenhetsrett/Fault/ServiceException"/>
    </operation>
    <operation name="findRettsstiftelserMedUtgaatteAndeler">
      <input message="tns:findRettsstiftelserMedUtgaatteAndeler" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelserMedUtgaatteAndelerRequest"/>
      <output message="tns:findRettsstiftelserMedUtgaatteAndelerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelserMedUtgaatteAndelerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelserMedUtgaatteAndeler/Fault/ServiceException"/>
    </operation>
    <operation name="findHeftelserMedAktivRettighetshaver">
      <input message="tns:findHeftelserMedAktivRettighetshaver" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findHeftelserMedAktivRettighetshaverRequest"/>
      <output message="tns:findHeftelserMedAktivRettighetshaverResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findHeftelserMedAktivRettighetshaverResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findHeftelserMedAktivRettighetshaver/Fault/ServiceException"/>
    </operation>
    <operation name="findHeftelserIRegisterenhetsretter">
      <input message="tns:findHeftelserIRegisterenhetsretter" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findHeftelserIRegisterenhetsretterRequest"/>
      <output message="tns:findHeftelserIRegisterenhetsretterResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findHeftelserIRegisterenhetsretterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findHeftelserIRegisterenhetsretter/Fault/ServiceException"/>
    </operation>
    <operation name="findTidligereHeftelserIRegisterenhetsretter">
      <input message="tns:findTidligereHeftelserIRegisterenhetsretter" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereHeftelserIRegisterenhetsretterRequest"/>
      <output message="tns:findTidligereHeftelserIRegisterenhetsretterResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereHeftelserIRegisterenhetsretterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereHeftelserIRegisterenhetsretter/Fault/ServiceException"/>
    </operation>
    <operation name="findHeftelserIRegisterenhetsrettsandeler">
      <input message="tns:findHeftelserIRegisterenhetsrettsandeler" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findHeftelserIRegisterenhetsrettsandelerRequest"/>
      <output message="tns:findHeftelserIRegisterenhetsrettsandelerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findHeftelserIRegisterenhetsrettsandelerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findHeftelserIRegisterenhetsrettsandeler/Fault/ServiceException"/>
    </operation>
    <operation name="findMatrikkelenhetsendringerAlleRoller">
      <input message="tns:findMatrikkelenhetsendringerAlleRoller" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findMatrikkelenhetsendringerAlleRollerRequest"/>
      <output message="tns:findMatrikkelenhetsendringerAlleRollerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findMatrikkelenhetsendringerAlleRollerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findMatrikkelenhetsendringerAlleRoller/Fault/ServiceException"/>
    </operation>
    <operation name="findBorettslagsandelsendringerFra">
      <input message="tns:findBorettslagsandelsendringerFra" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findBorettslagsandelsendringerFraRequest"/>
      <output message="tns:findBorettslagsandelsendringerFraResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findBorettslagsandelsendringerFraResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findBorettslagsandelsendringerFra/Fault/ServiceException"/>
    </operation>
    <operation name="findBorettslagsandelsendringerTil">
      <input message="tns:findBorettslagsandelsendringerTil" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findBorettslagsandelsendringerTilRequest"/>
      <output message="tns:findBorettslagsandelsendringerTilResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findBorettslagsandelsendringerTilResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findBorettslagsandelsendringerTil/Fault/ServiceException"/>
    </operation>
    <operation name="findBorettslagsandelsendringerAlleRoller">
      <input message="tns:findBorettslagsandelsendringerAlleRoller" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findBorettslagsandelsendringerAlleRollerRequest"/>
      <output message="tns:findBorettslagsandelsendringerAlleRollerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findBorettslagsandelsendringerAlleRollerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findBorettslagsandelsendringerAlleRoller/Fault/ServiceException"/>
    </operation>
    <operation name="findSeksjonssameieendringerForUtgaatte">
      <input message="tns:findSeksjonssameieendringerForUtgaatte" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findSeksjonssameieendringerForUtgaatteRequest"/>
      <output message="tns:findSeksjonssameieendringerForUtgaatteResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findSeksjonssameieendringerForUtgaatteResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findSeksjonssameieendringerForUtgaatte/Fault/ServiceException"/>
    </operation>
    <operation name="findSeksjonssameieendringerForNye">
      <input message="tns:findSeksjonssameieendringerForNye" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findSeksjonssameieendringerForNyeRequest"/>
      <output message="tns:findSeksjonssameieendringerForNyeResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findSeksjonssameieendringerForNyeResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findSeksjonssameieendringerForNye/Fault/ServiceException"/>
    </operation>
    <operation name="findSeksjonssameieendringerAlleRoller">
      <input message="tns:findSeksjonssameieendringerAlleRoller" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findSeksjonssameieendringerAlleRollerRequest"/>
      <output message="tns:findSeksjonssameieendringerAlleRollerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findSeksjonssameieendringerAlleRollerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findSeksjonssameieendringerAlleRoller/Fault/ServiceException"/>
    </operation>
    <operation name="findOverdragelserMedAktiveAndelerIRegisterenhet">
      <input message="tns:findOverdragelserMedAktiveAndelerIRegisterenhet" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOverdragelserMedAktiveAndelerIRegisterenhetRequest"/>
      <output message="tns:findOverdragelserMedAktiveAndelerIRegisterenhetResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOverdragelserMedAktiveAndelerIRegisterenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOverdragelserMedAktiveAndelerIRegisterenhet/Fault/ServiceException"/>
    </operation>
    <operation name="findTidligereOverdragelserAvRegisterenhetsrett">
      <input message="tns:findTidligereOverdragelserAvRegisterenhetsrett" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereOverdragelserAvRegisterenhetsrettRequest"/>
      <output message="tns:findTidligereOverdragelserAvRegisterenhetsrettResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereOverdragelserAvRegisterenhetsrettResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereOverdragelserAvRegisterenhetsrett/Fault/ServiceException"/>
    </operation>
    <operation name="findTidligereLeieavtalerOgRettigheter">
      <input message="tns:findTidligereLeieavtalerOgRettigheter" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereLeieavtalerOgRettigheterRequest"/>
      <output message="tns:findTidligereLeieavtalerOgRettigheterResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereLeieavtalerOgRettigheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereLeieavtalerOgRettigheter/Fault/ServiceException"/>
    </operation>
    <operation name="findRaaderettsbegrensningerForRegisterenhet">
      <input message="tns:findRaaderettsbegrensningerForRegisterenhet" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRaaderettsbegrensningerForRegisterenhetRequest"/>
      <output message="tns:findRaaderettsbegrensningerForRegisterenhetResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRaaderettsbegrensningerForRegisterenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRaaderettsbegrensningerForRegisterenhet/Fault/ServiceException"/>
    </operation>
    <operation name="findOverdragelserAvRegisterenhetsrettForPerson">
      <input message="tns:findOverdragelserAvRegisterenhetsrettForPerson" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOverdragelserAvRegisterenhetsrettForPersonRequest"/>
      <output message="tns:findOverdragelserAvRegisterenhetsrettForPersonResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOverdragelserAvRegisterenhetsrettForPersonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOverdragelserAvRegisterenhetsrettForPerson/Fault/ServiceException"/>
    </operation>
    <operation name="findRettsstiftelserForDokumentNummerOgAar">
      <input message="tns:findRettsstiftelserForDokumentNummerOgAar" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelserForDokumentNummerOgAarRequest"/>
      <output message="tns:findRettsstiftelserForDokumentNummerOgAarResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelserForDokumentNummerOgAarResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelserForDokumentNummerOgAar/Fault/ServiceException"/>
    </operation>
    <operation name="findRettsstiftelserInneholdtAvDokumenter">
      <input message="tns:findRettsstiftelserInneholdtAvDokumenter" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelserInneholdtAvDokumenterRequest"/>
      <output message="tns:findRettsstiftelserInneholdtAvDokumenterResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelserInneholdtAvDokumenterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelserInneholdtAvDokumenter/Fault/ServiceException"/>
    </operation>
    <operation name="findOmfangAvHistoriskGrunnboksutskrift">
      <input message="tns:findOmfangAvHistoriskGrunnboksutskrift" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOmfangAvHistoriskGrunnboksutskriftRequest"/>
      <output message="tns:findOmfangAvHistoriskGrunnboksutskriftResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOmfangAvHistoriskGrunnboksutskriftResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOmfangAvHistoriskGrunnboksutskrift/Fault/ServiceException"/>
    </operation>
    <operation name="findFremleieavtalerForAnnenRettighet">
      <input message="tns:findFremleieavtalerForAnnenRettighet" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findFremleieavtalerForAnnenRettighetRequest"/>
      <output message="tns:findFremleieavtalerForAnnenRettighetResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findFremleieavtalerForAnnenRettighetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findFremleieavtalerForAnnenRettighet/Fault/ServiceException"/>
    </operation>
    <operation name="findRettsstiftelserMedNyeAndeler">
      <input message="tns:findRettsstiftelserMedNyeAndeler" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelserMedNyeAndelerRequest"/>
      <output message="tns:findRettsstiftelserMedNyeAndelerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelserMedNyeAndelerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelserMedNyeAndeler/Fault/ServiceException"/>
    </operation>
    <operation name="findAnmerkningerPaaPerson">
      <input message="tns:findAnmerkningerPaaPerson" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findAnmerkningerPaaPersonRequest"/>
      <output message="tns:findAnmerkningerPaaPersonResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findAnmerkningerPaaPersonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findAnmerkningerPaaPerson/Fault/ServiceException"/>
    </operation>
    <operation name="findRettsendringer">
      <input message="tns:findRettsendringer" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsendringerRequest"/>
      <output message="tns:findRettsendringerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsendringerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsendringer/Fault/ServiceException"/>
    </operation>
    <operation name="findHeftelserIAnnenRett">
      <input message="tns:findHeftelserIAnnenRett" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findHeftelserIAnnenRettRequest"/>
      <output message="tns:findHeftelserIAnnenRettResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findHeftelserIAnnenRettResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findHeftelserIAnnenRett/Fault/ServiceException"/>
    </operation>
    <operation name="findMatrikkelenhetsendringerFra">
      <input message="tns:findMatrikkelenhetsendringerFra" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findMatrikkelenhetsendringerFraRequest"/>
      <output message="tns:findMatrikkelenhetsendringerFraResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findMatrikkelenhetsendringerFraResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findMatrikkelenhetsendringerFra/Fault/ServiceException"/>
    </operation>
    <operation name="findMatrikkelenhetsendringerTil">
      <input message="tns:findMatrikkelenhetsendringerTil" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findMatrikkelenhetsendringerTilRequest"/>
      <output message="tns:findMatrikkelenhetsendringerTilResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findMatrikkelenhetsendringerTilResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findMatrikkelenhetsendringerTil/Fault/ServiceException"/>
    </operation>
    <operation name="findBorettslagsandelsendringer">
      <input message="tns:findBorettslagsandelsendringer" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findBorettslagsandelsendringerRequest"/>
      <output message="tns:findBorettslagsandelsendringerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findBorettslagsandelsendringerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findBorettslagsandelsendringer/Fault/ServiceException"/>
    </operation>
    <operation name="findTidligereHeftelser">
      <input message="tns:findTidligereHeftelser" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereHeftelserRequest"/>
      <output message="tns:findTidligereHeftelserResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereHeftelserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereHeftelser/Fault/ServiceException"/>
    </operation>
    <operation name="findLeieavtalerOgRettigheter">
      <input message="tns:findLeieavtalerOgRettigheter" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findLeieavtalerOgRettigheterRequest"/>
      <output message="tns:findLeieavtalerOgRettigheterResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findLeieavtalerOgRettigheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findLeieavtalerOgRettigheter/Fault/ServiceException"/>
    </operation>
    <operation name="findRegisterenhetsendringer">
      <input message="tns:findRegisterenhetsendringer" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRegisterenhetsendringerRequest"/>
      <output message="tns:findRegisterenhetsendringerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRegisterenhetsendringerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRegisterenhetsendringer/Fault/ServiceException"/>
    </operation>
    <operation name="findRettsstiftelserForDokument">
      <input message="tns:findRettsstiftelserForDokument" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelserForDokumentRequest"/>
      <output message="tns:findRettsstiftelserForDokumentResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelserForDokumentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettsstiftelserForDokument/Fault/ServiceException"/>
    </operation>
    <operation name="findRettigheterForRegisterenhet">
      <input message="tns:findRettigheterForRegisterenhet" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettigheterForRegisterenhetRequest"/>
      <output message="tns:findRettigheterForRegisterenhetResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettigheterForRegisterenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettigheterForRegisterenhet/Fault/ServiceException"/>
    </operation>
    <operation name="findFestekontrakter">
      <input message="tns:findFestekontrakter" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findFestekontrakterRequest"/>
      <output message="tns:findFestekontrakterResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findFestekontrakterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findFestekontrakter/Fault/ServiceException"/>
    </operation>
    <operation name="findTidligereFestekontrakter">
      <input message="tns:findTidligereFestekontrakter" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereFestekontrakterRequest"/>
      <output message="tns:findTidligereFestekontrakterResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereFestekontrakterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findTidligereFestekontrakter/Fault/ServiceException"/>
    </operation>
    <operation name="findRettigheterForPerson">
      <input message="tns:findRettigheterForPerson" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettigheterForPersonRequest"/>
      <output message="tns:findRettigheterForPersonResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettigheterForPersonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findRettigheterForPerson/Fault/ServiceException"/>
    </operation>
    <operation name="findOmfangAvGrunnboksutskrift">
      <input message="tns:findOmfangAvGrunnboksutskrift" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOmfangAvGrunnboksutskriftRequest"/>
      <output message="tns:findOmfangAvGrunnboksutskriftResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOmfangAvGrunnboksutskriftResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findOmfangAvGrunnboksutskrift/Fault/ServiceException"/>
    </operation>
    <operation name="findAnmerkninger">
      <input message="tns:findAnmerkninger" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findAnmerkningerRequest"/>
      <output message="tns:findAnmerkningerResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findAnmerkningerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findAnmerkninger/Fault/ServiceException"/>
    </operation>
    <operation name="findHeftelser">
      <input message="tns:findHeftelser" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findHeftelserRequest"/>
      <output message="tns:findHeftelserResponse" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findHeftelserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/rettsstiftelse/RettsstiftelseService/findHeftelser/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="RettsstiftelseServicePortBinding" type="tns:RettsstiftelseService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findTidligereHeftelserIRegisterenhetsrettsandeler">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBorettslagsandelsendringerForAlleTidligereRegisterenheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOverdragelserMedAktiveAndelerRealkobletTilRegisterenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsstiftelsestypeKoderForRettstypeKoder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOverdragelserAvRegisterenhetsrett">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsstiftelserMedUtgaatteAndeler">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findHeftelserMedAktivRettighetshaver">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findHeftelserIRegisterenhetsretter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTidligereHeftelserIRegisterenhetsretter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findHeftelserIRegisterenhetsrettsandeler">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findMatrikkelenhetsendringerAlleRoller">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBorettslagsandelsendringerFra">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBorettslagsandelsendringerTil">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBorettslagsandelsendringerAlleRoller">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSeksjonssameieendringerForUtgaatte">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSeksjonssameieendringerForNye">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSeksjonssameieendringerAlleRoller">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOverdragelserMedAktiveAndelerIRegisterenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTidligereOverdragelserAvRegisterenhetsrett">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTidligereLeieavtalerOgRettigheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRaaderettsbegrensningerForRegisterenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOverdragelserAvRegisterenhetsrettForPerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsstiftelserForDokumentNummerOgAar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsstiftelserInneholdtAvDokumenter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOmfangAvHistoriskGrunnboksutskrift">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findFremleieavtalerForAnnenRettighet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsstiftelserMedNyeAndeler">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAnmerkningerPaaPerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsendringer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findHeftelserIAnnenRett">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findMatrikkelenhetsendringerFra">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findMatrikkelenhetsendringerTil">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBorettslagsandelsendringer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTidligereHeftelser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findLeieavtalerOgRettigheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRegisterenhetsendringer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettsstiftelserForDokument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettigheterForRegisterenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findFestekontrakter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTidligereFestekontrakter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettigheterForPerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOmfangAvGrunnboksutskrift">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAnmerkninger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findHeftelser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RettsstiftelseServiceWS">
    <port binding="tns:RettsstiftelseServicePortBinding" name="RettsstiftelseServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>