src/main/resources/grunnbokv2/SaksinformasjonServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.5 git-revision#7ddc91f. -->
<definitions targetNamespace="http://kartverket.no/grunnbok/wsapi/v2/service/saksinformasjon"
             name="SaksinformasjonServiceWS" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:tns="http://kartverket.no/grunnbok/wsapi/v2/service/saksinformasjon"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/service/saksinformasjon"
                        schemaLocation="SaksinformasjonServiceWS_schema1.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/exception" schemaLocation="exception.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/saksbehandling"
                        schemaLocation="saksbehandling.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/saksinformasjon"
                        schemaLocation="register_saksinformasjon.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/rettsendring"
                        schemaLocation="register_rettsstiftelse_rettsendring.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/registerenhetsendring"
                schemaLocation="register_rettsstiftelse_registerenhetsendring.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/personkoblingsendring"
                schemaLocation="register_rettsstiftelse_personkoblingsendring.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/overdragelse"
                        schemaLocation="register_rettsstiftelse_overdragelse.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/heftelse"
                        schemaLocation="register_rettsstiftelse_heftelse.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse/anmerkning"
                        schemaLocation="register_rettsstiftelse_anmerkning.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/rettsstiftelse"
                        schemaLocation="register_rettsstiftelse.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registrering"
                        schemaLocation="register_registrering.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/registerenhet"
                        schemaLocation="register_registerenhet.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/person"
                        schemaLocation="register_person.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/koder"
                        schemaLocation="register_koder.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/journalpost"
                        schemaLocation="register_journalpost.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/dokument"
                        schemaLocation="register_dokument.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/bruker"
                        schemaLocation="register_bruker.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register/adresse"
                        schemaLocation="register_adresse.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/register"
                        schemaLocation="register.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/melding" schemaLocation="melding.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/kodeliste"
                        schemaLocation="kodeliste.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/grunnboksidenter"
                        schemaLocation="grunnboksidenter.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/endringslogg"
                        schemaLocation="endringslogg.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v2/domain/basistyper"
                        schemaLocation="basistyper.xsd"/>
        </xsd:schema>
    </types>
    <message name="findSaksinformasjonIdForInnsendingId">
        <part name="parameters" element="tns:findSaksinformasjonIdForInnsendingId"/>
    </message>
    <message name="findSaksinformasjonIdForInnsendingIdResponse">
        <part name="parameters" element="tns:findSaksinformasjonIdForInnsendingIdResponse"/>
    </message>
    <message name="ServiceException">
        <part name="fault" element="ns1:ServiceException" xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v2/exception"/>
    </message>
    <message name="findSaksinformasjonForSakerSomHarGrunnboksutskrift">
        <part name="parameters" element="tns:findSaksinformasjonForSakerSomHarGrunnboksutskrift"/>
    </message>
    <message name="findSaksinformasjonForSakerSomHarGrunnboksutskriftResponse">
        <part name="parameters" element="tns:findSaksinformasjonForSakerSomHarGrunnboksutskriftResponse"/>
    </message>
    <portType name="SaksinformasjonService">
        <operation name="findSaksinformasjonIdForInnsendingId">
            <input
                wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/saksinformasjon/SaksinformasjonService/findSaksinformasjonIdForInnsendingIdRequest"
                message="tns:findSaksinformasjonIdForInnsendingId"/>
            <output
                wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/saksinformasjon/SaksinformasjonService/findSaksinformasjonIdForInnsendingIdResponse"
                message="tns:findSaksinformasjonIdForInnsendingIdResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"
                   wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/saksinformasjon/SaksinformasjonService/findSaksinformasjonIdForInnsendingId/Fault/ServiceException"/>
        </operation>
        <operation name="findSaksinformasjonForSakerSomHarGrunnboksutskrift">
            <input
                wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/saksinformasjon/SaksinformasjonService/findSaksinformasjonForSakerSomHarGrunnboksutskriftRequest"
                message="tns:findSaksinformasjonForSakerSomHarGrunnboksutskrift"/>
            <output
                wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/saksinformasjon/SaksinformasjonService/findSaksinformasjonForSakerSomHarGrunnboksutskriftResponse"
                message="tns:findSaksinformasjonForSakerSomHarGrunnboksutskriftResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"
                   wsam:Action="http://kartverket.no/grunnbok/wsapi/v2/service/saksinformasjon/SaksinformasjonService/findSaksinformasjonForSakerSomHarGrunnboksutskrift/Fault/ServiceException"/>
        </operation>
    </portType>
    <binding name="SaksinformasjonServicePortBinding" type="tns:SaksinformasjonService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="findSaksinformasjonIdForInnsendingId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="findSaksinformasjonForSakerSomHarGrunnboksutskrift">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="SaksinformasjonServiceWS">
        <port name="SaksinformasjonServicePort" binding="tns:SaksinformasjonServicePortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>

